<re-portlet>
    <re-portlet-header [title]="" [class]="'kt-portlet__head--lg'">
        <ng-container class="d-flex justify-content-around" ktPortletTools>
            <a href="javascript:void(0);" (click)="limpiarFiltros()" matTooltip="Limpiar" style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px;" matTooltipPosition="above" class="orange-icon">layers_clear</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Limpiar</span>
            </a>
        </ng-container>


    </re-portlet-header>
    <re-portlet-body>
        <div class="kt-form">
            <form [formGroup]="formBusqueda">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input [formControl]="identificacion" placeholder="C.I." autocomplete="off" required matInput [required]="true" numericType="number" (keypress)="numberOnly($event)" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-5 justify-content-center">
                    <div class="col-1">
                        <button mat-raised-button matTooltip="Buscar" (click)="traerExcepciones()">
              <mat-icon style="font-size: 24px;" class="orange-icon" matTooltipPosition="above">search</mat-icon>
              <span class="orange-icon">Buscar</span>
            </button>
                    </div>
                </div>
            </form>
            <mat-table class="mat-elevation-z8" [dataSource]="dataSourceExcepcionRol">
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>Accion</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ng-container>
                            <button mat-raised-button color="basic" (click)="abrirSolicitud(element)">
                <span> Tomar </span>
              </button>
                        </ng-container>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipoExcepcion">
                    <mat-header-cell *matHeaderCellDef>Tipo Excepción</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.tipoExcepcion}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="nombreCliente">
                    <mat-header-cell *matHeaderCellDef>Nombre del Cliente</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.nombreCompleto | titlecase }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="asesor">
                    <mat-header-cell *matHeaderCellDef>Asesor</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.asesor | titlecase }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="identificacion">
                    <mat-header-cell *matHeaderCellDef>Identificación</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.identificacion}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="observacionAsesor">
                    <mat-header-cell *matHeaderCellDef>Observacion del asesor</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.observacionAsesor |titlecase}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="operacion">
                    <mat-header-cell *matHeaderCellDef>Numero operacion</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.numeroOperacion |titlecase}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="codigo">
                    <mat-header-cell *matHeaderCellDef>Codigo BPM</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.codigoBpm |titlecase}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsExcepciones"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsExcepciones;"></mat-row>
            </mat-table>
        </div>
        <!-- END FILTERS -->
    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>