<re-portlet>
    <re-portlet-header [title]="'Excepción Cliente'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a (click)="regresar()" matTooltip="Regresar a gestion cliente"
                style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">
                    arrow_back</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Regresar</span>
            </a>
        </ng-container>
    </re-portlet-header>

    <re-portlet-body>
        <mat-vertical-stepper #stepper (animationDone)="guardarTraking(wr ? wr.proceso ? wr.proceso.proceso : null : null,
        wr ? wr.credito ? wr.credito.codigo : null : null, 
        ['Información Operación','Datos Del Cliente','Datos De contacto Del Cliente','Variables crediticias','Riesgo Acumulado','Excepción'], 
        stepper.selectedIndex, 'EXCEPCION CLIENTE',
        wr ? wr.credito ? wr.credito.numeroOperacion : null : null )">
            <mat-step>
                <ng-template matStepLabel>Información Operación</ng-template>
                <form [formGroup]="formDatosOperacion">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="nombresCompletos" placeholder="Nombres Completos " />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="mat-form-field-fluid">
                                <input [formControl]="identificacion" placeholder="C.I." matInput numeric
                                    numericType="number" readonly />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="nombreProceso" placeholder="Proceso" />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Datos Del Cliente</ng-template>
                <div class="kt-form">
                    <form [formGroup]="formDatosCliente">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="primerNombre" placeholder="Primer Nombre" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="segundoNombre" placeholder="Segundo Nombre" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="apellidoPaterno" placeholder="Apellido Paterno" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="apellidoMaterno" placeholder="Apellido Materno" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="identificacionC" placeholder="RUC / C.I / Pasaporte"
                                        matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="genero" placeholder="Genero" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="edad" placeholder="Edad" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="aprobadoWebMupi" placeholder="Aprobado Web Mupi" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="cargaFamiliar" placeholder="Cargas Familiares" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="estadoCivil" placeholder="Estado Civil" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="lugarDeNacimiento" placeholder="Lugar De Nacimiento"
                                        matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input placeholder="Fecha de nacimiento" matInput [value]="ultimaFechaDeActualizacionDeCliente.value | rDate"
                                        [formControl]="fechaDeNacimiento" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="nacionalidad" placeholder="Nacionalidad" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="nivelDeEducacion" placeholder="Nivel De Educacion" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input [formControl]="actividadEconomica" placeholder="Actividad Economica"
                                        matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input placeholder="Última fecha de actualización de cliente" matInput [value]="ultimaFechaDeActualizacionDeCliente.value | rDate"
                                        [formControl]="ultimaFechaDeActualizacionDeCliente" />
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Datos De contacto Del Cliente</ng-template>
                <form [formGroup]="formDatosContacto">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <input [formControl]="correo" placeholder="Correo Electronico:" matInput />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceTelefonosCliente">
                            <ng-container matColumnDef="codigoTipoTelefono">
                                <mat-header-cell *matHeaderCellDef> Tipo teléfono  </mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.tipoTelefono }}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="numero">
                                <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.numero }}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="activo">
                                <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.estado=='ACT'?'SI':'NO' }}
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="['codigoTipoTelefono','numero','activo']"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: ['codigoTipoTelefono','numero','activo']"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Variables crediticias </ng-template>
                <div class="row mt-2">
                    <div class="col-md-8">
                        <ng-container *ngIf="dataPopup">
                            <kt-tabla-variables-crediticias [dataPopup]='dataPopup'></kt-tabla-variables-crediticias>
                        </ng-container>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Riesgo Acumulado </ng-template>
                <div class="row mt-2">
                    <div class="col">
                        <kt-tabla-riesgo-acumulado *ngIf="wr && wr.riesgos;" [base]='wr.riesgos'></kt-tabla-riesgo-acumulado>
                        <div class="row" *ngIf=" !wr ||  !wr.riesgos">
                            <strong> EL CLIENTE NO TIENE RIESGO</strong>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Excepción</ng-template>
                <div class="kt-form">
                    <form [formGroup]="formDatosExcepcion">
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <mat-card class="warning">
                                    <span class="material-icons warning-icons">report_problem </span>
                                    <span>{{mensaje}}</span>
                                </mat-card>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput [formControl]="usuarioAsesor" placeholder="Usuario Asesor: " />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-8">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>Observacion Del Asesor: </mat-label>
                                    <textarea class="form-control border" rows="5"
                                        placeholder="Observacion Del Asesor: " [formControl]="observacionAsesor"
                                        [value]="observacionAsesor.value" matInput> </textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-8">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>Observacion Del Aprobador: </mat-label>
                                    <textarea class="form-control border" [formControl]="observacionAprobador" rows="5"
                                        placeholder="Observacion Del Aprobador: " matInput></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-3">
                                <button mat-button mat-raised-button color="primary"
                                    (click)="aprobarExcepcion('SI')">Aprobar Excepcion</button>
                            </div>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-3">
                                <button mat-button mat-raised-button color="warn" (click)="aprobarExcepcion('NO')">Negar
                                    Excepcion</button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>