<re-portlet>
    <re-portlet-header [title]="'Registrar Bloqueo'" [class]="'kt-portlet__head--lg'">
</re-portlet-header>
<re-portlet-body>
    <mat-vertical-stepper>
        <mat-step label="Búsqueda de Cliente">
            <div class="row">
                <div class="col-md-1.5">
                    <label style="font-weight:bold">Identificacion:</label>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput [formControl]=" " >
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                <button mat-raised-button color="warn" focusable="false" onclick="Buscar(j)">
                     Buscar 
                </button>
            </div>
            </div>
        </mat-step>
        <mat-step label="Información de Cliente">
            <div class="row">
                <div class="col-md-2">
                    <label style="font-weight:bold">Nombre del cliente:</label>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input  matInput [formControl]=" " >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label style="font-weight:bold">Identificacion:</label>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput [formControl]=" " >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label style="font-weight:bold">Código operación Mupi:</label>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput [formControl]=" " >
                    </mat-form-field>
                </div>
            </div>
        </mat-step>
        <!-- Tabla de pagos -->      
        <mat-step label="Pagos">
            <table mat-table [dataSource]=" datos" class="mat-elevation-z8" #tabla1>
                
                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef>Accion </th>
                    <td mat-cell *matCellDef="let j = index;">
                      <button mat-raised-button color="warn" focusable="false" onclick="borrarFila(j)">
                        <mat-icon> Eliminar </mat-icon>
                      </button>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="institucionFinanciera">
                  <th mat-header-cell *matHeaderCellDef> Institucion Financiera </th>
                  <td mat-cell *matCellDef="let articulo"> {{articulo.institucionFinanciera}} </td>
                </ng-container>
              
                <ng-container matColumnDef="cuentas">
                  <th mat-header-cell *matHeaderCellDef> Cuentas </th>
                  <td mat-cell *matCellDef="let articulo"> {{articulo.cuentas}} </td>
                </ng-container>
              
                <ng-container matColumnDef="fechadePago">
                  <th mat-header-cell *matHeaderCellDef> Fecha Pago </th>
                  <td mat-cell *matCellDef="let articulo"> {{articulo.fechadePago}} </td>
                </ng-container>

                <ng-container matColumnDef="numerodeDeposito">
                    <th mat-header-cell *matHeaderCellDef> Numero de deposito </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.numerodeDeposito}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="valorpagado">
                    <th mat-header-cell *matHeaderCellDef> Valor Depositado </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.valorpagado}} </td>
                  </ng-container>
                <ng-container matColumnDef="subir">
                  <th mat-header-cell *matHeaderCellDef> Subir componente </th>
                  <td mat-cell *matCellDef="let j = index;">
                    <button mat-raised-button color="warn" focusable="false" onclick="subirComponente()">
                        <mat-icon> S </mat-icon>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="descargar">
                    <th mat-header-cell *matHeaderCellDef> Descargar comprobante </th>
                    <td mat-cell *matCellDef="let j = index;">
                      <button mat-raised-button color="warn" focusable="false" onclick="descargarComponente()">
                        <mat-icon> D </mat-icon>
                      </button>
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
              </table>

              <div class="row mb-5">
                <div  class="col-md-4" >
                  <button mat-raised-button color="white" focusable="false" (click)="cargarPagos()">
                    Agregar Pago
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1.5">
                    <label style="font-weight:bold">Valor Depositado: </label>
                </div><div class="col-md-2">
                    <mat-form-field >
                        <input matInput  [formControl]=" ">
                    </mat-form-field>
                </div>
            </div>

            <label style="font-weight:bold"> Obsevaciones </label>
            <div class="col-md-8" >
                <mat-form-field class="example-full-width" color="black">
                    <input matInput type="text" >
                </mat-form-field>
            </div>

            <div>
                <button mat-raised-button color="white" focusable="false">
                Enviar
            </button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</re-portlet-body>