/* comprobante-desembolso.component.css */
.full-width {
    width: 100%;
  }
  
  .styled-select .mat-select-placeholder {
    color: #3f51b5; /* Primary color */
    font-weight: bold;
  }
  
  .styled-select .mat-select-value {
    font-size: 1.2em;
    padding: 0.5em;
  }
  
  .mat-form-field {
    margin-bottom: 1em;
  }
  