  
<re-portlet>
	<re-portlet-header [title]="'Renovar Credito'" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTools>
			<a (click)="regresar()" matTooltip="Regresar al listado" style="font-size: 12px; vertical-align: middle;">
				<mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">
					arrow_back</mat-icon>
				<span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Regresar</span>
			</a>
		</ng-container>
	</re-portlet-header>
	<re-portlet-body>
		<mat-vertical-stepper #stepper>
			<mat-step label='Informacion de operacion'>
				<form [formGroup]="formOperacion">
					<div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="codigoOperacion" placeholder="Codigo Operacion"/>
							</mat-form-field>
                        </div>					
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="nombreCompleto" placeholder="Nombre Completo"/>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="cedulaCliente" placeholder="Cedula Cliente"/>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="codigoBpm" placeholder="codigo BPM"/>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [formControl]="proceso" placeholder="Proceso"/>
							</mat-form-field>
                        </div>		
                        <div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [formControl]="estadoProceso" placeholder="Estado Proceso"/>
							</mat-form-field>
                        </div>			
					</div>
				</form>
			</mat-step>
			<mat-step label='Detalle de garantias'> 
				<mat-table class="garantia" [dataSource]="dataSourceTasacion" >
                    <ng-container matColumnDef="Total">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.total }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> Totales: </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="TipoOro">
                        <mat-header-cell *matHeaderCellDef> Tipo de oro </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.tipoOro }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> * </mat-footer-cell>
                    </ng-container>
					<ng-container matColumnDef="NumeroPiezas">
						<mat-header-cell *matHeaderCellDef>N. de piezas</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.numeroPiezas }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef>  {{ totalNumeroJoya  }}</mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="PesoBruto">
						<mat-header-cell *matHeaderCellDef>Peso bruto</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.pesoBruto }} <strong>Gr</strong></mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalPesoB  }} <strong>Gr</strong></mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="DescuentoPesoPiedra">
						<mat-header-cell *matHeaderCellDef>Descuento piedra</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.descuentoPesoPiedra }} <strong>Gr</strong></mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="DescuentoSuelda">
						<mat-header-cell *matHeaderCellDef>Descuento suelda</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.descuentoSuelda }} <strong>Gr</strong></mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="PesoNeto">
						<mat-header-cell *matHeaderCellDef>Peso neto</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.pesoNeto }} <strong>Gr</strong></mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalPesoN  }} <strong>Gr</strong></mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="precioOro">
						<mat-header-cell *matHeaderCellDef>Precio Oro</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorOro  | currency: "USD":true:"1.2"}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorO   | currency: "USD":true:"1.2"}}  </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="ValorAvaluo">
						<mat-header-cell *matHeaderCellDef>Valor aval&#250;o</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorAvaluo  | currency: "USD":true:"1.2"}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorA | currency: "USD":true:"1.2" }} </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="ValorAplicable">
						<mat-header-cell *matHeaderCellDef> Valor Aplicable</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorAplicable  | currency: "USD":true:"1.2" }}</mat-cell>
						<td align="right" mat-footer-cell *matFooterCellDef> </td>
					</ng-container>
					<ng-container matColumnDef="ValorRealizacion">
						<mat-header-cell *matHeaderCellDef>Valor realizaciòn</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorRealizacion  | currency: "USD":true:"1.2"}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorR | currency: "USD":true:"1.2" }}  </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="valorComercial">
						<mat-header-cell *matHeaderCellDef>Valor Comercial</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorComercial  | currency: "USD":true:"1.2" }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorC | currency: "USD":true:"1.2" }} </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="tienePiedras">
						<mat-header-cell *matHeaderCellDef> Tiene Piedras </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.tienePiedras?'SI':'NO'}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> * </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="detallePiedras">
						<mat-header-cell *matHeaderCellDef>Detalle Piedras</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.detallePiedras }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> * </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="TipoJoya">
						<mat-header-cell *matHeaderCellDef> Tipo de joya </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.tipoJoya}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> * </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="EstadoJoya">
						<mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.estadoJoya }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> * </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="Descripcion">
						<mat-header-cell *matHeaderCellDef>Descripci&#243;n</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.descripcion }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> * </mat-footer-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsTasacion"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsTasacion;"></mat-row>
					<mat-footer-row *matFooterRowDef="displayedColumnsTasacion; sticky: true"></mat-footer-row>
                </mat-table>
                <div class="row mt-2">
                    <div class="col-4 offset-5">
                        <button mat-stroked-button color="primary" matStepperNext (click)="simularOpciones()">
							<mat-icon style="font-size: 32px" color="primary" matTooltipPosition="above">add_circle_outline</mat-icon>
							<span color="primary">Simular Opciones</span>
						</button>
                    </div>
                </div>
			</mat-step>
			<mat-step label='Simular opciones de crédito'>
                <div class="row">
                    <div class="col-12">
                        <mat-table class="simulacion"  [dataSource]="dataSourceCreditoNegociacion">
                            <ng-container matColumnDef="accion">
                                <mat-header-cell *matHeaderCellDef>Seleccion</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-checkbox (change)="guardarSeleccion(row)"></mat-checkbox>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="plazo">
                                <mat-header-cell *matHeaderCellDef>Plazo</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.plazo }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="periodoPlazo">
                                <mat-header-cell *matHeaderCellDef>periodo Plazo</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.periodoPlazo }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="periodicidadPlazo">
                                <mat-header-cell *matHeaderCellDef>periodicidad Plazo</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.periodicidadPlazo }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="montoFinanciado">
                                <mat-header-cell *matHeaderCellDef>monto Financiado</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.montoFinanciado }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="valorARecibir">
                                <mat-header-cell *matHeaderCellDef>valor A Recibir</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.valorARecibir }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="valorAPagar">
                                <mat-header-cell *matHeaderCellDef>valor A Pagar</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.valorAPagar }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="costoCustodia">
                                <mat-header-cell *matHeaderCellDef>costo Custodia</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.costoCustodia }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="costoFideicomiso">
                                <mat-header-cell *matHeaderCellDef>costo Fideicomiso</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.costoFideicomiso }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="costoSeguro">
                                <mat-header-cell *matHeaderCellDef>costo Seguro</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.costoSeguro }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="costoTasacion">
                                <mat-header-cell *matHeaderCellDef>costo Tasacion</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.costoTasacion }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="costoTransporte">
                                <mat-header-cell *matHeaderCellDef>costo Transporte</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.costoTransporte }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="costoValoracion">
                                <mat-header-cell *matHeaderCellDef>costo Valoracion</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.costoValoracion }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="impuestoSolca">
                                <mat-header-cell *matHeaderCellDef>impuesto Solca</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.impuestoSolca }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoImpuestoSolca">
                                <mat-header-cell *matHeaderCellDef>forma Pago Impuesto Solca</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoImpuestoSolca }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoCapital">
                                <mat-header-cell *matHeaderCellDef>forma Pago Capital</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoCapital }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoCustodia">
                                <mat-header-cell *matHeaderCellDef>forma Pago Custodia</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoCustodia }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoFideicomiso">
                                <mat-header-cell *matHeaderCellDef>forma Pago Fideicomiso</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoFideicomiso }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoInteres">
                                <mat-header-cell *matHeaderCellDef>forma Pago Interes</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoInteres }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoMora">
                                <mat-header-cell *matHeaderCellDef>forma Pago Mora</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.formaPagoMora}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoGastoCobranza">
                                <mat-header-cell *matHeaderCellDef>forma Pago Gasto Cobranza</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoGastoCobranza }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoSeguro">
                                <mat-header-cell *matHeaderCellDef>forma Pago Seguro</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoSeguro }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoTasador">
                                <mat-header-cell *matHeaderCellDef>forma Pago Tasador</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoTasador }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoTransporte">
                                <mat-header-cell *matHeaderCellDef>forma Pago Transporte</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoTransporte }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoValoracion">
                                <mat-header-cell *matHeaderCellDef>forma Pago Valoracion</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoValoracion }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="saldoInteres">
                                <mat-header-cell *matHeaderCellDef>saldo Interes</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.saldoInteres }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="saldoMora">
                                <mat-header-cell *matHeaderCellDef>saldo Mora</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.saldoMora }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="gastoCobranza">
                                <mat-header-cell *matHeaderCellDef>gasto Cobranza</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.gastoCobranza }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="cuota">
                                <mat-header-cell *matHeaderCellDef>cuota</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.cuota }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="saldoCapitalRenov">
                                <mat-header-cell *matHeaderCellDef>saldo Capital Renov</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.saldoCapitalRenov }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="montoPrevioDesembolso">
                                <mat-header-cell *matHeaderCellDef>monto Previo Desembolso </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.montoPrevioDesembolso }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="totalGastosNuevaOperacion">
                                <mat-header-cell *matHeaderCellDef>total Gastos Nueva Operacion</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.totalGastosNuevaOperacion }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="totalCostosOperacionAnterior">
                                <mat-header-cell *matHeaderCellDef>total Costos Operacion Anterior</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.totalCostosOperacionAnterior }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="custodiaDevengada">
                                <mat-header-cell *matHeaderCellDef>custodia Devengada</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.custodiaDevengada }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="formaPagoCustodiaDevengada">
                                <mat-header-cell *matHeaderCellDef>forma Pago Custodia Devengada</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.formaPagoCustodiaDevengada }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="tipooferta">
                                <mat-header-cell *matHeaderCellDef>tipo oferta</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.tipooferta }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="porcentajeflujoplaneado">
                                <mat-header-cell *matHeaderCellDef>porcentaje flujo planeado</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.porcentajeflujoplaneado }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="dividendoflujoplaneado">
                                <mat-header-cell *matHeaderCellDef>dividendo flujo planeado</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.dividendoflujoplaneado}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="dividendosprorrateoserviciosdiferido">
                                <mat-header-cell *matHeaderCellDef>dividendos prorrateo servicios diferido</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.dividendosprorrateoserviciosdiferido }}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumnsCreditoNegociacion"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsCreditoNegociacion"></mat-row>
                        </mat-table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <button mat-raised-button color="primary" matStepperNext (click)="solicitarExcepcionCobertura()">
							<span color="primary">Solicitar Cobertura </span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-5 col-2">
                        <button mat-raised-button color="primary" matStepperNext (click)="actualizarCliente()">
							<span color="primary">Actualizar Cliente</span>
                        </button>
                    </div>
                </div>
			</mat-step>
		</mat-vertical-stepper>

	</re-portlet-body>
	<re-portlet-footer></re-portlet-footer>
</re-portlet>