<re-portlet>
    <re-portlet-header [title]="'SOLICITUD DE DEVOLUCION DE GARANTIAS'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a (click)="regresar()" matTooltip="Regresar a gestion cliente"
                style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">
                    arrow_back</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Regresar</span>
            </a>
        </ng-container>
    </re-portlet-header>
    <re-portlet-body>
        <mat-vertical-stepper #stepper >
            <mat-step label="Información de la operación">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="numeroOperacion" placeholder="Numero Operacion: ">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="estadoProceso" placeholder="Estado Proceso: ">
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Datos Personales del cliente">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nombresCompletos" placeholder="Nombre del Cliente: ">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="cedulaCliente" placeholder="Cédula del Cliente: ">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="edad" placeholder="Edad:">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nivelEducacion" placeholder="Nivel de Educación:" [value]="nivelEducacion.value.nombre">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="genero" placeholder="Género: " [value]="genero.value.nombre">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="estadoCivil" placeholder="Estado Civil: " [value]="estadoCivil.value.nombre">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaNacimiento" placeholder="Fecha de Nacimiento:"
                                [value]="fechaNacimiento.value | rDate">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nacionalidad" placeholder="Nacionalidad:" [value]="nacionalidad.value.nacionalidad">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="lugarNacimiento" placeholder="Lugar de Nacimiento:">
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Detalle de Crédito">
                <div class="row">
                    <div class="col-8 offset-2">
                        <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceDetalle">
                            <ng-container matColumnDef="fechaAprobacion">
                                <mat-header-cell *matHeaderCellDef>Fecha de Aprobación</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.fechaAprobacion | rDate}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fechaVencimiento">
                                <mat-header-cell *matHeaderCellDef>Fecha de Vencimiento</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.fechaVencimiento | rDate}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="monto">
                                <mat-header-cell *matHeaderCellDef>Monto</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.monto | number: '1.2'}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumnsDetalle"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsDetalle;"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Detalle de Garantía">
                <kt-tabla-tasacion *ngIf="this.wrapperSoft && this.wrapperSoft.garantias;"
                    [data]='this.wrapperSoft.garantias' [tipo]="'DV'"></kt-tabla-tasacion>
            </mat-step>
            <mat-step label="Gestión de Devolución">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select placeholder="Tipo de Cliente: " [formControl]="tipoCliente" (selectionChange)="limpiarCampos()"> 
                                <mat-option *ngFor="let element of catTipoCliente " [value]="element">
                                    {{ element.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select placeholder="Agencia de entrega :" [formControl]="agenciaEntrega">
                                <mat-option *ngFor="let element of catAgencia" [value]="element">
                                    {{element.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="valorCustodia" placeholder="Valor apróximado de custodia :">
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-label>Observacion Del Asesor: </mat-label>
                            <textarea class="form-control border" rows="5" placeholder="Observacion Del Asesor: "
                                [formControl]="observaciones" [value]="observaciones.value" matInput> </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="this.tipoCliente.value.codigo == 'HER'">
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="cedulaHeredero" placeholder="Cédula Heredero :">
                            <mat-error>{{ getErrorMessage("cedulaHeredo") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nombreHeredero" placeholder="Nombre Heredero :">
                            <mat-error>{{ getErrorMessage("nombreHeredo") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <button mat-stroked-button color="primary" (click)="agregarHeredero()">
                            <span color="primary">Agregar Heredero</span>
                        </button>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-8 offset-2">
                                <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceHeredero">
                                    <ng-container matColumnDef="accion" sticky>
                                        <mat-header-cell *matHeaderCellDef>Acci&#243;n</mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <a (click)="eliminarHeredero(element)">
                                                <mat-icon matTooltip="Borrar">delete</mat-icon>
                                            </a>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="cedula">
                                        <mat-header-cell *matHeaderCellDef>Cédula</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.cedula}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumnsHeredero"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsHeredero;"></mat-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row" *ngIf="this.tipoCliente.value.codigo == 'SAP'">
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="cedulaApoderado" placeholder="Cédula Apoderado :">
                            <mat-error>{{ getErrorMessage("cedulaHeredo") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nombreApoderado" placeholder="Nombre Apoderado :">
                            <mat-error>{{ getErrorMessage("nombreApoderado") }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-4">
                        <button mat-button (click)="registrarDevolucion()">Registrar Devolucion</button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Documento Habilitantes">
                <re-habilitante [proceso]="'SOLICITUD'" [useType]="'FORM'" [referencia]="idReferencia">
                </re-habilitante>
                <div class="row">
                    <div class="col-2 offset-5">
                        <button mat-stroked-button color="basic" (click)="solicitarAprobacion()">Solicitar
                            Aprobacion</button>
                    </div>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </re-portlet-body>
</re-portlet>