<mat-table #table class="mat-elevation-z8"  [dataSource]="dataSourceVariablesCrediticias">
    <ng-container matColumnDef="orden">
        <mat-header-cell  *matHeaderCellDef>Orden</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.orden}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="variable">
        <mat-header-cell *matHeaderCellDef>Variable</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.nombre}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.valor}}
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumnsVariablesCrediticias"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsVariablesCrediticias"></mat-row>
</mat-table>
