<mat-table #table matTableExporter class="mat-elevation-z8" #exporter="matTableExporter" [dataSource]="dataSourceVariablesCrediticias">
    <ng-container matColumnDef="orden">
        <mat-header-cell *matHeaderCellDef>Orden</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.orden}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="variable">
        <mat-header-cell *matHeaderCellDef>Variable</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.nombre}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.valor}}
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumnsVariablesCrediticias; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsVariablesCrediticias"></mat-row>
</mat-table>
<div class="row">
    <div class="col-1 offset-11">
        <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'variables', sheet: 'sheet_name', Props: {Author: 'jhonmvr'}})">Exportar</button>
    </div>
</div>