<div class="spinner-container" *ngIf="loading | async">
    <mat-spinner class="spiner"></mat-spinner>
</div>
<re-portlet>
    <re-portlet-header [title]="'Excepcion De Cobertura'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a [routerLink]="['../../']" matTooltip="Regresar al listado"
                style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">
                    arrow_back</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Regresar</span>
            </a>
            <a href="javascript:void(0);" (click)="enviarRespuesta()" matTooltip="Enviar Respuesta"
                style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="blue-icon">save
                </mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="blue-icon">Enviar
                    Respuesta</span>
            </a>
        </ng-container>
    </re-portlet-header>

    <re-portlet-body>
        <mat-vertical-stepper>
            <mat-step>
                <ng-template matStepLabel>Datos Contacto Cliente</ng-template>
                <form [formGroup]="formDatoContacto">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput [formControl]="telefonoDomicilio" placeholder="Teléfono Domicilio " />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput [formControl]="telefonoAdicional" placeholder="Teléfono Adicional " />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput [formControl]="telefonoMovil" placeholder="Teléfono Móvil " />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput [formControl]="telefonoOficinaOtros"
                                    placeholder="Teléfono Oficina Otros " />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput [formControl]="correoElectronico" placeholder="Correo Eléctronico " />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Datos De Negociación</ng-template>
                <div class="kt-form">
                    <form [formGroup]="formDatosNegociacion">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <input [formControl]="tipoProceso" placeholder="Tipo de proceso" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <input [formControl]="estadoNegociacion" placeholder="Estado de Negociación"
                                        matInput />
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-6">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>Fecha de Creación</mat-label>
                                    <input matInput #inputFechaCreacion [matDatepicker]="pickerFechaCreacion"
                                        [formControl]="fechaCreacion" required="true" />
                                    <mat-datepicker-toggle matSuffix [for]="pickerFechaCreacion">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerFechaCreacion></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>Fecha de Actualización</mat-label>
                                    <input matInput #inputFechaActualizacion [matDatepicker]="pickerFechaActualizacion"
                                        [formControl]="fechaActualizacion" required="true" />
                                    <mat-datepicker-toggle matSuffix [for]="pickerFechaActualizacion">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerFechaActualizacion></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step>
                <ng-template matStepLabel>Variables crediticias </ng-template>
                <div class="row mt-2">
                    <div class="col-md-8">
                        <ng-container *ngIf="dataPopup">
                            <kt-tabla-variables-crediticias [dataPopup]='dataPopup'>

                            </kt-tabla-variables-crediticias>
                        </ng-container>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Riesgo Acumulado </ng-template>
                <div class="row mt-2">
                    <div class="col">
                        <ng-container *ngIf="dataPopup">
                            <kt-tabla-riesgo-acumulado [idCliente]="entidadNegociacion.tbQoCliente.id"
                                [isPaged]="false">
                            </kt-tabla-riesgo-acumulado>
                        </ng-container>
                    </div>
                </div>
            </mat-step>
            <mat-step [stepControl]="formOpciones">
                <ng-template matStepLabel>Opciones de Crédito </ng-template>
                <div class="row">
                    <div class="col">
                        <kt-tabla-oferta-calculadora *ngIf="consultaOferta" [consulta]='consultaOferta'
                            (entidades)='traerEntidadesOpciones($event)'></kt-tabla-oferta-calculadora>
                    </div>
                </div>

            </mat-step>



            <mat-step>
                <ng-template matStepLabel>Excepcion</ng-template>
                <div class="kt-form">
                    <form [formGroup]="formDatosExcepcion">
                        <div class="row mt-3">
                            <div class="col">
                                <mat-form-field class="example-full-width">
                                    <mat-label> Observacion Del Asesor: </mat-label>
                                    <textarea class="form-control border" rows="3" [formControl]="observacionAsesor"
                                        placeholder="Observacion Del Asesor: "
                                        matInput> {{ observacionAsesor }}</textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class=" offset-sm-4 col-sm-4">
                                <mat-radio-group [formControl]="radioB" (change)="capturaHoraAtencion()">
                                    <mat-radio-button value="Aprobabo">Aprobar Excepcion</mat-radio-button>
                                    <mat-radio-button value="Negado">Negar Excepcion</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <ng-container *ngIf="camposDinamicos">
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [formControl]="cobertura" placeholder="Porcentaje de Cobertura" matInput
                                            numeric numericType="number" />
                                        <span matPrefix></span>
                                        <span matSuffix>&#37;</span>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button (click)="consultarCobertura()">Consultar nuevas opciones
                                        de Credito</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="mat-table__wrapper">
                                    <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceCobertura">

                                        <ng-container matColumnDef="plazo">
                                            <mat-header-cell *matHeaderCellDef>Plazo</mat-header-cell>
                                            <mat-cell *matCellDef=""> </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="montoCredito">
                                            <mat-header-cell *matHeaderCellDef> Monto Credito </mat-header-cell>
                                            <mat-cell *matCellDef=""> </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="cuota">
                                            <mat-header-cell *matHeaderCellDef> cuota </mat-header-cell>
                                            <mat-cell *matCellDef=""> </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="aRecibirCliente">
                                            <mat-header-cell *matHeaderCellDef>A Recibir Cliente</mat-header-cell>
                                            <mat-cell *matCellDef=""> </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="aPagarCliente">
                                            <mat-header-cell *matHeaderCellDef>A Pagar Cliente</mat-header-cell>
                                            <mat-cell *matCellDef=""> </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="valorDeDesembolso">
                                            <mat-header-cell *matHeaderCellDef>Valor De Desembolso</mat-header-cell>
                                            <mat-cell *matCellDef=""> </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="riesgoAcumulado">
                                            <mat-header-cell *matHeaderCellDef>riesgo Acumulado</mat-header-cell>
                                            <mat-cell *matCellDef=""> </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumnsCobertura"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsCobertura;"></mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        </ng-container>
                        <div class="row mt-3">
                            <div class="col-md-8">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-8">
                                <mat-form-field class="example-full-width">
                                    <mat-label> Observacion Del Aprobador: </mat-label>
                                    <textarea class="form-control border" [formControl]="observacionAprobador" rows="5"
                                        placeholder="Observacion Del Aprobador: " matInput></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>
