<mat-card>
    <div class="row justify-content-center">
        <div class="col-4">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [matDatepicker]="pckFechaArribo" autocomplete="off"
                [formControl]="fechaArribo" placeholder="Fecha " [min]="min">
                <mat-datepicker-toggle matSuffix [for]="pckFechaArribo"></mat-datepicker-toggle>
                <mat-datepicker #pckFechaArribo></mat-datepicker>
            </mat-form-field>      
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <button mat-raised-button (click)="registrarFecha()" color="primary"> Registrar </button>
        </div> 
        <div class="col-2">
            <button mat-raised-button (click)="salir()" color="warn"> Cancelar </button>
        </div>
    </div>
</mat-card>