<re-portlet>

    <re-portlet-body>
        <div class="row justify-content-center">
            <button varHabilitante mat-raised-button (click)="buscarActividad(); varBoton ='ACTIVIDAD' " style="color: aliceblue;" [ngStyle]="varBoton =='ACTIVIDAD'?{'background-color':'#3f51b5'}:{'background-color':'#ff4081'}">ACTIVIDAD</button>
            <button varHabilitante mat-raised-button (click)="buscarSeccionConsolidado(); varBoton ='SECCION CONSOLIDADO' " style="color: aliceblue;" [ngStyle]="varBoton =='SECCION CONSOLIDADO'?{'background-color':'#3f51b5'}:{'background-color':'#ff4081'}">SECCION CONSOLIDADO</button>
            <button varHabilitante mat-raised-button (click)="buscarArea(); varBoton ='AREA' " style="color: aliceblue;" [ngStyle]="varBoton =='AREA'?{'background-color':'#3f51b5'}:{'background-color':'#ff4081'}">AREA</button>
            <button varHabilitante mat-raised-button (click)="buscarSeccion(); varBoton ='SECCION' " style="color: aliceblue;" [ngStyle]="varBoton =='SECCION'?{'background-color':'#3f51b5'}:{'background-color':'#ff4081'}">SECCION</button>

        </div>
        <div class="row">
            <div class="col-12 mt-3 table-container">
                <mat-progress-bar mode="indeterminate" *ngIf="cargardatos.asObservable() | async"></mat-progress-bar>
                <mat-table #table matTableExporter class="mat-elevation-z8 " matSort #sort1="matSort" [dataSource]='dataSource' matSortDirection="asc" matSortDisableClear #exporter="matTableExporter">


                    <ng-container matColumnDef="proceso">
                        <mat-header-cell *matHeaderCellDef>Proceso</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.proceso }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="codigoBPM">
                        <mat-header-cell *matHeaderCellDef>Codigo BPM</mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.codigoBpm}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="codigoSoftbank">
                        <mat-header-cell *matHeaderCellDef>Codigo Softbank</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.codigoSoftbank }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="fechaCreacion">
                        <mat-header-cell *matHeaderCellDef>Fecha Creacion</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fechaCreacion | rDate}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="area">
                        <mat-header-cell *matHeaderCellDef>area</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.area }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="seccion">
                        <mat-header-cell *matHeaderCellDef>seccion</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.seccion }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="actividad">
                        <mat-header-cell *matHeaderCellDef>actividad</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.actividad }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="horaInicio">
                        <mat-header-cell *matHeaderCellDef>Hora inicio HH:mm:ss</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.horaInicio }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="horaFin">
                        <mat-header-cell *matHeaderCellDef>Hora fin HH:mm:ss</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.horaFin }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="tiempoTranscurrido">
                        <mat-header-cell *matHeaderCellDef>Tiempo transcurrido</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.tiempoTranscurrido}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef>{{sumarTiempo()}} </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="usuario">
                        <mat-header-cell *matHeaderCellDef>usuario</mat-header-cell>
                        <mat-cell class="mat-form-field-fluid" *matCellDef="let element">{{element.usuario}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="observacion">
                        <mat-header-cell *matHeaderCellDef>Observacion</mat-header-cell>
                        <mat-cell class="mat-form-field-fluid" *matCellDef="let element"> {{ element.observacion }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                </mat-table>
                <mat-paginator *ngIf="varBoton =='ACTIVIDAD'" #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="buscarActividad(this.paginator.pageIndex, this.paginator.pageSize)">
                </mat-paginator>
                <mat-paginator *ngIf="varBoton =='SECCION'" #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="buscarSeccion(this.paginator.pageIndex, this.paginator.pageSize)">
                </mat-paginator>
                <mat-paginator *ngIf="varBoton =='SECCION CONSOLIDADO'" #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="buscarSeccionConsolidado(this.paginator.pageIndex, this.paginator.pageSize)">
                </mat-paginator>
                <mat-paginator *ngIf="varBoton =='AREA'" #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="buscarArea(this.paginator.pageIndex, this.paginator.pageSize)">
                </mat-paginator>

            </div>
        </div>
        <div class="row">
            <div class="col-1 offset-11">
                <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'traking', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Exportar</button>
            </div>
        </div>
        <!--end MAT TABLE
    </div>-->
    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>