<re-portlet>

    <re-portlet-body>
        <div class="row justify-content-center">
            <div class="offset-1 col-3">
                <button mat-raised-button (click)="buscarBoton()">
                    <span>ACTIVIDAD</span>
                </button>
            </div>
            <div class="offset-1 col-3">
                <button mat-raised-button (click)="buscarBoton()">
                    <span>SECCION</span>
                </button>
            </div>
            <div class="offset-1 col-3">
                <button mat-raised-button (click)="buscarBoton()">
                    <span>SECCION CONSOLIDADO</span>
                </button>
            </div>
            <div class="offset-1 col-3">
                <button mat-raised-button (click)="buscarBoton()">
                    <span>AREA</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3 table-container">
                <mat-progress-bar mode="indeterminate" *ngIf="cargardatos.asObservable() | async"></mat-progress-bar>
                <mat-table #table matTableExporter class="mat-elevation-z8 " matSort #sort1="matSort" [dataSource]='dataSource' matSortDirection="asc" matSortDisableClear #exporter="matTableExporter">

                    <ng-container matColumnDef="accion">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">

                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="proceso">
                        <mat-header-cell *matHeaderCellDef>Proceso</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.proceso }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="codigoBPM">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo BPM</mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element.codigoBpm}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="codigoSoftbank">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Softbank</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.codigoSoftbank }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="fechaCreacion">
                        <mat-header-cell *matHeaderCellDef>Fecha Creacion</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fechaCreacion | rDate}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="horaInicio">
                        <mat-header-cell *matHeaderCellDef>Hora inicio HH:mm:ss</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.horaInicio }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="horaFin">
                        <mat-header-cell *matHeaderCellDef>Hora fin HH:mm:ss</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.horaFin }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="tiempoTranscurrido">
                        <mat-header-cell *matHeaderCellDef>Tiempo transcurrido</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.tiempoTranscurrido}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="vendedor">
                        <mat-header-cell *matHeaderCellDef>Vendedor</mat-header-cell>
                        <mat-cell class="mat-form-field-fluid" *matCellDef="let element">{{element.venderdor}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="aprobador">
                        <mat-header-cell *matHeaderCellDef>Aprobador</mat-header-cell>
                        <mat-cell class="mat-form-field-fluid" *matCellDef="let element"> {{element.aprobador}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="observacion">
                        <mat-header-cell *matHeaderCellDef>Observacion</mat-header-cell>
                        <mat-cell class="mat-form-field-fluid" *matCellDef="let element"> {{ element.observacion }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="buscarBoton(this.paginator.pageIndex, this.paginator.pageSize)">
                </mat-paginator>

            </div>
        </div>
        <div class="row">
            <div class="col-1 offset-11">
                <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'traking', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Exportar</button>
            </div>
        </div>
        <!--end MAT TABLE
    </div>-->
    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>