<div class="row m-2">
    <div class="col-12 mt-2 mb-2">
        <mat-card-title> Tabla de amortizacion </mat-card-title>
    </div>
    <div class="col-12 mb-2">
        <mat-table matTableExporter #table class="mat-elevation-z8 amortizacion" [dataSource]="dataSource" #exporter="matTableExporter">
            <ng-container matColumnDef="cuota">
                <mat-header-cell *matHeaderCellDef> Cuota </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.cuota }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaPago">
                <mat-header-cell *matHeaderCellDef> Fecha Pago </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.fechaPago | rDate }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="saldoCapital">
                <mat-header-cell *matHeaderCellDef> Saldo Capital </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.saldoCapital | currency: "USD":true:"1.2"}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="capital">
                <mat-header-cell *matHeaderCellDef> Capital </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.capital | currency: "USD":true:"1.2" }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="interes">
                <mat-header-cell *matHeaderCellDef> Interes </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.interes | currency: "USD":true:"1.2" }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="seguro">
                <mat-header-cell *matHeaderCellDef> Seguro </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.seguro | currency: "USD":true:"1.2" }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="otros">
                <mat-header-cell *matHeaderCellDef> Otros </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.otros | currency: "USD":true:"1.2" }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="total">
                <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.total | currency: "USD":true:"1.2" }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div class="row">
            <div class="col-1 offset-11">
              <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'amortizacion', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Exportar</button>
            </div>
        </div>
    </div>
</div>