
  .spiner{
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%; 
  }
  .material-icons {
    font-size: 31px !important;
    height: 31px;
    width: 34px;
    color: gray;
    text-align: center;
  }
  .warning-icons {
    font-size: 31px !important;
    height: 31px;
    width: 34px;
    color: gray;
    text-align: center;
    vertical-align: middle;
  }
  
  .mat-button .mat-button-wrapper > *,
  .mat-fab .mat-button-wrapper > *,
  .mat-flat-button .mat-button-wrapper > *,
  .mat-icon-button .mat-button-wrapper > *,
  .mat-mini-fab .mat-button-wrapper > *,
  .mat-raised-button .mat-button-wrapper > *,
  .mat-stroked-button .mat-button-wrapper > * {
    vertical-align: baseline;
  }
  
  .mat-button,
  .mat-flat-button,
  .mat-icon-button,
  .mat-stroked-button {
    min-width: 28px; //da espacio al data table
    height: fit-content !important; //quita fondo cuando sobrepone
  }
  
  table{
    width: 100%;
  }
  
  .white-icon {
    color: white;
  }
  /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
  .white-icon svg {
      fill: white;
  }
  .blue-icon svg {
      fill: #3399ff;
  }
  .warning {
    color: white;
    background-color: #cc8b00;
    border-color: white;
    font-weight: 400;
  }
  .error-snackbar {
    color: white;
    background-color: red;
    border-color: white;
    font-weight: 400;
  }    
  .mat-header-cell {
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
    
  }
  .mat-cell {
    text-align: center;
    justify-content:center;
    font-size: smaller;
  }

  .tableOpciones{
    overflow: auto;
  }
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 80px;
    box-sizing: border-box;
  }
#tableTasacion{
  overflow: auto;
  width: 100%;
}
.mat-footer-cell{
  font-weight: bold;
  text-align: center;
  justify-content:center;
  font-size: smaller;
}
  .mat-column-Accion {
    flex: 0 0 80px;
  }

  .mat-column-NumeroPiezas {
    flex: 0 0 50px;
  }

  .mat-column-TipoOro {
    flex: 0 0 100px;
  }

  .mat-column-TipoJoya {
    flex: 0 0 100px;
  }

  .mat-column-EstadoJoya {
    flex: 0 0 100px;
  }

  .mat-column-Descripcion {
    flex: 0 0 500px;
  }

  .mat-column-PesoBruto {
    flex: 0 0 100px;
  }

  .mat-column-DescuentoPesoPiedra {
    flex: 0 0 100px;
  }

  .mat-column-DescuentoSuelda {
    flex: 0 0 100px;
  }

  .mat-column-PesoNeto {
    flex: 0 0 100px;
  }

  .mat-column-precioOro {
    flex: 0 0 100px;
  }

  .mat-column-ValorAvaluo {
    flex: 0 0 100px;
  }

  .mat-column-ValorAplicable {
    flex: 0 0 100px;
  }

  .mat-column-ValorRealizacion {
    flex: 0 0 100px;
  }

  .mat-column-tienePiedras {
    flex: 0 0 100px;
  }

  .mat-column-detallePiedras {
    flex: 0 0 250px;
  }

  .mat-column-ValorOro {
    flex: 0 0 100px;
  }

  // tabla negociacion

  .tableNegociacion{
    width: 100%;
  }
  
  .tableNegociacion.mat-column-Accion {
    flex: 0 0 50px;
  }

  .mat-column-plazo {
    flex: 0 0 100px;
  }

  .mat-column-periodoPlazo {
    flex: 0 0 100px;
  }

  .mat-column-periodicidadPlazo {
    flex: 0 0 100px;
  }

  .mat-column-montoFinanciado {
    flex: 0 0 100px;
  }

  .mat-column-valorARecibir {
    flex: 0 0 100px;
  }

  .mat-column-valorAPagar {
    flex: 0 0 100px;
  }

  .mat-column-costoCustodia {
    flex: 0 0 100px;
  }

  .mat-column-costoFideicomiso {
    flex: 0 0 100px;
  }

  .mat-column-costoSeguro {
    flex: 0 0 100px;
  }

  .mat-column-costoTasacion {
    flex: 0 0 100px;
  }

  .mat-column-costoTransporte {
    flex: 0 0 100px;
  }

  .mat-column-costoValoracion {
    flex: 0 0 100px;
  }

  .mat-column-impuestoSolca {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoImpuestoSolca {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoCapital {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoCustodia {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoFideicomiso {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoInteres {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoMora {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoGastoCobranza {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoSeguro {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoTasador {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoTransporte {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoValoracion {
    flex: 0 0 100px;
  }

  .mat-column-saldoInteres {
    flex: 0 0 100px;
  }

  .mat-column-saldoMora {
    flex: 0 0 100px;
  }

  .mat-column-gastoCobranza {
    flex: 0 0 100px;
  }

  .mat-column-cuota {
    flex: 0 0 100px;
  }

  .mat-column-saldoCapitalRenov {
    flex: 0 0 100px;
  }

  .mat-column-montoPrevioDesembolso {
    flex: 0 0 100px;
  }

  .mat-column-totalGastosNuevaOperacion {
    flex: 0 0 100px;
  }

  .mat-column-totalCostosOperacionAnterior {
    flex: 0 0 100px;
  }

  .mat-column-custodiaDevengada {
    flex: 0 0 100px;
  }

  .mat-column-formaPagoCustodiaDevengada {
    flex: 0 0 100px;
  }

  .mat-column-tipooferta {
    flex: 0 0 100px;
  }

  .mat-column-porcentajeflujoplaneado {
    flex: 0 0 100px;
  }

  .mat-column-dividendoflujoplaneado {
    flex: 0 0 100px;
  }

  .mat-column-dividendosprorrateoserviciosdiferido {
    flex: 0 0 100px;
  }
