

<re-portlet>
	<re-portlet-header [title]="'Negociación'" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTools>
			<a href="javascript:void(0);" matTooltip="Guardar" (click)="guardarCredito()" style="font-size: 12px; vertical-align: middle;">
				<mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="blue-icon">save
				</mat-icon>
				<span style="position: relative; top: -10px; margin-left: 5px;" class="blue-icon">Guardar</span>
			</a>
		</ng-container>
	</re-portlet-header>
	<re-portlet-body>
		<mat-vertical-stepper [linear]="false" #stepper>
			<!--   ****************************** PRIMERA PARTE DE NEGOCIACION ***************************   -->
			<mat-step [stepControl]="formBusqueda">
				<ng-template matStepLabel>Busqueda de Cliente</ng-template>
				<form [formGroup]="formBusqueda">
					<div class="row">
						<div class="col-md-6 ">
							<mat-form-field class="mat-form-field-fluid">
								<input [formControl]="identificacion" placeholder="C.I." autocomplete="off"
									required="true" matInput numeric numericType="number"
									(keypress)="numberOnly($event)" />
								<mat-error>{{ getErrorMessage("identificacion") }}</mat-error>
							</mat-form-field>
						</div>
						<div class=" offset-md-1 col-md-4">
							<button mat-stroked-button color="primary" (click)="buscarCliente()">
								<mat-icon style="font-size: 24px;" color="primary" matTooltipPosition="above">search
								</mat-icon>
								<span color="primary">Buscar cliente </span>
							</button>
						</div>
					</div>
				</form>
			</mat-step>
			<mat-step [stepControl]="formDatosCliente">
				<ng-template matStepLabel>Datos Cliente</ng-template>
				<form [formGroup]="formDatosCliente">
					<div class="row">
						<div class="col-md-6">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [formControl]="nombresCompletos" (click)="updateCliente($event, nombresCompletos)"  (keydown)="updateCliente($event, nombresCompletos)" placeholder="Nombres Completos"
									required="true" />
								<mat-error>{{ getErrorMessage("nombresCompletos") }}</mat-error>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [formControl]="cedula" placeholder="Cedula:"  />
							</mat-form-field>
						</div>
						<div *ngIf="negoW != null" class="col-md-3">
							<button mat-stroked-button
								(click)="abrirPopupVerCotizacion(negoW.credito.tbQoNegociacion.tbQoCliente.cedulaCliente)">
								<mat-icon style="font-size: 32px" matTooltipPosition="above" class="blue-icon">
									remove_red_eye
								</mat-icon>
								<span class="blue-icon">Ver cotizacion</span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<mat-form-field class="mat-form-field-fluid">
								<mat-label>Fecha de nacimiento</mat-label>
								<input (dateChange)="cargarEdad()" matInput #inputFechaNacimiento
									[matDatepicker]="pickerFechaNacimiento"  (click)="updateCliente($event, fechaDeNacimiento)"  (keydown)="updateCliente($event, fechaDeNacimiento)" [formControl]="fechaDeNacimiento" 
									required="true" />
								<mat-datepicker-toggle matSuffix [for]="pickerFechaNacimiento"></mat-datepicker-toggle>
								<mat-datepicker #pickerFechaNacimiento></mat-datepicker>
							</mat-form-field>
						</div>
						<div class="col-md-6 ">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [formControl]="edad" placeholder="Edad"  />
							</mat-form-field>
						</div>
					</div>
					<div class="row">

						<div class="col-md-6 ">

							
							<mat-form-field class="example-full-width">
								<mat-select placeholder="Nacionalidad" [formControl]="nacionalidad" (selectionChange)="updateCliente($event, publicidad)"  (keydown)="updateCliente($event, publicidad)">
									<mat-option *ngFor="let item of catPais" [value]="item">
										{{item.nombre}}
									</mat-option>
								</mat-select>
							  </mat-form-field>
						
						</div>

						<div class="col-md-6 ">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput numeric numericType="number"  (click)="updateCliente($event, movil)"  (keydown)="updateCliente($event, movil)" [formControl]="movil" placeholder="Móvil"
									required="true" (keypress)="numberOnly($event)" />
								<mat-error>{{ getErrorMessage("movil") }}</mat-error>
							</mat-form-field>
						</div>

					</div>
					<div class="row">
						<div class="col-md-6 ">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [formControl]="email" (click)="updateCliente($event, email)"  (keydown)="updateCliente($event, email)" placeholder="Correo Eléctronico"
									required="true" />
								<mat-error>{{getErrorMessage("email") }}</mat-error>
							</mat-form-field>
						</div>

						<div class="col-md-6">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [formControl]="telefonoDomicilio" (click)="updateCliente($event, telefonoDomicilio)"  (keydown)="updateCliente($event, telefonoDomicilio)" placeholder="Teléfono Domicilio"
									required="true" (keypress)="numberOnly($event)">
								<mat-error>{{ getErrorMessage("telefonoDomicilio") }}</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Publicidad"  (selectionChange)="updateCliente($event, publicidad)"  (keydown)="updateCliente($event, publicidad)" [formControl]="publicidad" required="true">
									<mat-option *ngFor="let publicidad of catPublicidad" [value]="publicidad">
										{{ publicidad }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="col-md-6">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput  (click)="updateCliente($event, campania)"  (keydown)="updateCliente($event, campania)" [formControl]="campania" placeholder="Campaña" />
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<span class="ng-tns-c22-3 ng-star-inserted">Aprobado Web MUPI</span>
						<div class="col-md-6">
							<mat-radio-group [formControl]="aprobacionMupi">
								<mat-radio-button  (click)="updateCliente($event, aprobacionMupi)"  (keydown)="updateCliente($event, aprobacionMupi)"  value="S">SI</mat-radio-button>
								<mat-radio-button  (click)="updateCliente($event, aprobacionMupi)"  (keydown)="updateCliente($event, aprobacionMupi)"  value="N">NO</mat-radio-button>
							</mat-radio-group>
						</div>
						<mat-error>{{ getErrorMessage("aprobacionMupi") }}</mat-error>
					</div>
				</form>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Variables Crediticias</ng-template>
				<ng-container *ngIf="componenteVariable">
					<kt-tabla-variables-crediticias [base]="negoW.variables"></kt-tabla-variables-crediticias>
				</ng-container>
				<div class="row"  *ngIf="!componenteVariable">
					<strong>PRIMERO DEBES BUSCAR UN CLIENTE</strong>
				</div>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Riesgo Acumulado</ng-template>
				<ng-container *ngIf="componenteRiesgo">
					<kt-tabla-riesgo-acumulado [base]="negoW.riesgos"></kt-tabla-riesgo-acumulado>
				</ng-container>
				<div class="row"  *ngIf="!componenteRiesgo">
					<strong> EL CLIENTE NO TIENE RIESGO</strong>
				</div>
				<button mat-stroked-button color="primary" (click)="verPrecio()" matTooltip="Ver precio">
					<mat-icon style="font-size: 24px;" color="primary" matTooltipPosition="above">visibility</mat-icon>
					<span color="primary">Ver  Precios</span>
				</button>
			</mat-step>
			<!--   ****************************** SEGUNDA PARTE DE NEGOCIACION ***************************   -->
			<mat-step [stepControl]="formTasacion">
				<ng-template matStepLabel> Tasación </ng-template>
				<form [formGroup]="formTasacion">
					<div class="row">
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Tipo oro:" [formControl]="tipoOro"
									(selectionChange)="setPrecioOro()">
									<mat-option>--</mat-option>
									<mat-option *ngFor="let tipoOro of catTipoOro" [value]="tipoOro">
										{{ tipoOro.nombre }}</mat-option>
								</mat-select>
								<mat-error>{{ getErrorMessage('tipoOro')  }}</mat-error>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Precio oro:" [formControl]="valorOro" readonly>
							</mat-form-field>
						</div>
					
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput numeric numericType="number" type="text"
									placeholder="N&#250;mero de piezas:" [formControl]="numeroPiezas" (keypress)="numberOnly($event)" >
								<mat-error>{{ getErrorMessage('numeroPiezas')  }}</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Tipo de joya:" [formControl]="tipoJoya">
									<mat-option>--</mat-option>
									<mat-option *ngFor="let tipoJoya of catTipoJoya" [value]="tipoJoya">
										{{ tipoJoya.nombre }}</mat-option>
								</mat-select>
								<mat-error>{{ getErrorMessage('tipoJoya')  }}</mat-error>
							</mat-form-field>
						</div>
							
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Estado" [formControl]="estado">
									<mat-option>--</mat-option>
									<mat-option *ngFor="let estado of catEstadoJoya" [value]="estado"> {{estado.nombre}}
									</mat-option>
								</mat-select>
								<mat-error>{{ getErrorMessage('estado')  }}</mat-error>
							</mat-form-field>
						</div>
					
				
				<!-- 		<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Valor Aplicable:" [formControl]="valorAplicable" readonly>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="precio oro:" [formControl]="precioOro" readonly>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="valor avaluo:" [formControl]="valorAvaluo" readonly>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="valor realizacion:" [formControl]="valorRealizacion" readonly>
							</mat-form-field>
						</div> -->
					</div>
					<div class="row">
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Peso bruto:" [formControl]="pesoBruto" (keyup)="setPesoNeto()">
								<mat-error>{{ getErrorMessage('pesoBruto')  }}</mat-error>
							</mat-form-field>
						</div>
						
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Descuento suelda:" [formControl]="descuentoSuelda" (keyup)="setPesoNeto()">
								<mat-error>{{getErrorMessage('descuentoSuelda')  }}</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Tiene priedras:" [formControl]="tienePiedras" (selectionChange)="selectTienePiedras()">
									<mat-option value="S">SI</mat-option>
									<mat-option value="N">NO</mat-option>
								</mat-select>
								<mat-error>{{ getErrorMessage('tienePiedras')  }}</mat-error>
							</mat-form-field>
						</div>
						
						<div class="col-md-4" *ngIf="tienePiedras.value == 'S'">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput numeric numericType="number" type="text"
									placeholder="Detalle piedras:" [formControl]="detallePiedras">
								<mat-error>{{ getErrorMessage('detallePiedras')  }}</mat-error>
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid" *ngIf="tienePiedras.value == 'S'">
								<input matInput placeholder="Descuento peso piedra:" [formControl]="descuentoPiedra" (keyup)="setPesoNeto()">
								<mat-error>{{ getErrorMessage('descuentoPiedra') }}</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Peso neto:" [formControl]="pesoNeto" readonly>
								<mat-error>{{ getErrorMessage('pesoNeto')  }}</mat-error>
							</mat-form-field>
						</div>
					</div>
		
					<div class="row">
						<mat-form-field class="col-md-12">
							<textarea class="form-control border" [formControl]="descripcion" rows="5"
							placeholder="Descripci&#243;n " matInput></textarea>
							<mat-error>{{ getErrorMessage('descripcion')  }}</mat-error>
						</mat-form-field>
					</div>
					<div class="row">
						<div class="offset-5 col-2 mb-5">
							<button mat-stroked-button color="primary" (click)="cargarJoya()">
								<mat-icon style="font-size: 32px" color="primary" matTooltipPosition="above">add_circle_outline
								</mat-icon>
								<span color="primary">Agregar</span>
							</button>
						</div>
					</div>
				</form>

				
				<mat-table *ngIf="dataSourceTasacion.data" id="tableTasacion" class="mat-elevation-z8" [dataSource]="dataSourceTasacion">
					<ng-container matColumnDef="Accion" sticky>
						<mat-header-cell *matHeaderCellDef>Acci&#243;n</mat-header-cell>
						<mat-cell *matCellDef="let element">
							<a (click)="eliminar(element)">
								<mat-icon matTooltip="Borrar">delete</mat-icon>
							</a>
							<a (click)="editar(element)">
								<mat-icon matTooltip="Editar">edit</mat-icon>
							</a>
						</mat-cell>
                        <mat-footer-cell *matFooterCellDef>  Total:  </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="NumeroPiezas">
						<mat-header-cell *matHeaderCellDef>N. de piezas</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.numeroPiezas }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef>  {{ totalNumeroJoya  }}</mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="TipoOro">
						<mat-header-cell *matHeaderCellDef> Tipo de oro </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.tipoOro }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="PesoBruto">
						<mat-header-cell *matHeaderCellDef>Peso bruto</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.pesoBruto }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalPesoB  }} </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="DescuentoPesoPiedra">
						<mat-header-cell *matHeaderCellDef>Descuento piedra</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.descuentoPesoPiedra }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="DescuentoSuelda">
						<mat-header-cell *matHeaderCellDef>Descuento suelda</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.descuentoSuelda }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="PesoNeto">
						<mat-header-cell *matHeaderCellDef>Peso neto</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.pesoNeto }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalPesoN  }} </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="precioOro">
						<mat-header-cell *matHeaderCellDef>Precio Oro</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorOro }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorO  }}  </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="ValorAvaluo">
						<mat-header-cell *matHeaderCellDef>Valor aval&#250;o</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorAvaluo }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorA | currency: "USD":true:"1.2" }} </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="ValorAplicable">
						<mat-header-cell *matHeaderCellDef> Valor comercial</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorAplicable }}</mat-cell>
						<td align="right" mat-footer-cell *matFooterCellDef> </td>
					</ng-container>
					<ng-container matColumnDef="ValorRealizacion">
						<mat-header-cell *matHeaderCellDef>Valor realizaciòn</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorRealizacion}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorR | currency: "USD":true:"1.2" }}  </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="valorComercial">
						<mat-header-cell *matHeaderCellDef>Valor Comercial</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorComercial }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorC | currency: "USD":true:"1.2" }} </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="tienePiedras">
						<mat-header-cell *matHeaderCellDef> Tiene Piedras </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.tienePiedras?'SI':'NO'}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="detallePiedras">
						<mat-header-cell *matHeaderCellDef>Detalle Piedras</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.detallePiedras}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="TipoJoya">
						<mat-header-cell *matHeaderCellDef> Tipo de joya </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.tipoJoya}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="EstadoJoya">
						<mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.estadoJoya }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="Descripcion">
						<mat-header-cell *matHeaderCellDef>Descripci&#243;n</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.descripcion }}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsTasacion"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsTasacion;"></mat-row>
					<mat-footer-row *matFooterRowDef="displayedColumnsTasacion; sticky: true"></mat-footer-row>
				</mat-table>
				<div *ngIf="dataSourceTasacion.data" class="row">
					<div class="offset-5 col-2 mt-3">
						<button mat-stroked-button color="primary" matStepperNext (click)="calcularOpciones()">
							<mat-icon style="font-size: 32px" color="primary" matTooltipPosition="above">add_circle_outline</mat-icon>
							<span color="primary">Calcular Opciones</span>
						</button>
					</div>
				</div>
			</mat-step>
			<mat-step [stepControl]="formOpcionesCredito">
				<ng-template matStepLabel>Detalle Opciones de crédito</ng-template>
				<mat-progress-bar mode="indeterminate" *ngIf="loading | async"></mat-progress-bar>
				<mat-table #tableNegociacion class="tableOpciones"	[dataSource]="dataSourceCreditoNegociacion">
					<ng-container matColumnDef="Accion">
						<mat-header-cell *matHeaderCellDef>Seleccion</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<mat-checkbox (click)="$event.stopPropagation() && masterToggle(row)"
							(change)="$event ? masterToggle(row): null"
							[checked]="selection.isSelected(row)"
							[aria-label]="checkboxLabel(row)">
			  				</mat-checkbox>	
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="plazo">
						<mat-header-cell *matHeaderCellDef>Plazo</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.plazo }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="periodoPlazo">
						<mat-header-cell *matHeaderCellDef>periodo Plazo</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.periodoPlazo }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="periodicidadPlazo">
						<mat-header-cell *matHeaderCellDef>periodicidad Plazo</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.periodicidadPlazo }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="montoFinanciado">
						<mat-header-cell *matHeaderCellDef>monto Financiado</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.montoFinanciado }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="valorARecibir">
						<mat-header-cell *matHeaderCellDef>valor A Recibir</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorARecibir }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="valorAPagar">
						<mat-header-cell *matHeaderCellDef>valor A Pagar</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorAPagar }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="costoCustodia">
						<mat-header-cell *matHeaderCellDef>costo Custodia</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.costoCustodia }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="costoFideicomiso">
						<mat-header-cell *matHeaderCellDef>costo Fideicomiso</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.costoFideicomiso }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="costoSeguro">
						<mat-header-cell *matHeaderCellDef>costo Seguro</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.costoSeguro }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="costoTasacion">
						<mat-header-cell *matHeaderCellDef>costo Tasacion</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.costoTasacion }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="costoTransporte">
						<mat-header-cell *matHeaderCellDef>costo Transporte</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.costoTransporte }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="costoValoracion">
						<mat-header-cell *matHeaderCellDef>costo Valoracion</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.costoValoracion }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="impuestoSolca">
						<mat-header-cell *matHeaderCellDef>impuesto Solca</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.impuestoSolca }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoImpuestoSolca">
						<mat-header-cell *matHeaderCellDef>forma Pago Impuesto Solca</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoImpuestoSolca }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoCapital">
						<mat-header-cell *matHeaderCellDef>forma Pago Capital</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoCapital }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoCustodia">
						<mat-header-cell *matHeaderCellDef>forma Pago Custodia</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoCustodia }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoFideicomiso">
						<mat-header-cell *matHeaderCellDef>forma Pago Fideicomiso</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoFideicomiso }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoInteres">
						<mat-header-cell *matHeaderCellDef>forma Pago Interes</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoInteres }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoMora">
						<mat-header-cell *matHeaderCellDef>forma Pago Mora</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.formaPagoMora}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoGastoCobranza">
						<mat-header-cell *matHeaderCellDef>forma Pago Gasto Cobranza</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoGastoCobranza }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoSeguro">
						<mat-header-cell *matHeaderCellDef>forma Pago Seguro</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoSeguro }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoTasador">
						<mat-header-cell *matHeaderCellDef>forma Pago Tasador</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoTasador }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoTransporte">
						<mat-header-cell *matHeaderCellDef>forma Pago Transporte</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoTransporte }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoValoracion">
						<mat-header-cell *matHeaderCellDef>forma Pago Valoracion</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoValoracion }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="saldoInteres">
						<mat-header-cell *matHeaderCellDef>saldo Interes</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.saldoInteres }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="saldoMora">
						<mat-header-cell *matHeaderCellDef>saldo Mora</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.saldoMora }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="gastoCobranza">
						<mat-header-cell *matHeaderCellDef>gasto Cobranza</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.gastoCobranza }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="cuota">
						<mat-header-cell *matHeaderCellDef>cuota</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.cuota }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="saldoCapitalRenov">
						<mat-header-cell *matHeaderCellDef>saldo Capital Renov</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.saldoCapitalRenov }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="montoPrevioDesembolso">
						<mat-header-cell *matHeaderCellDef>monto Previo Desembolso </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.montoPrevioDesembolso }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="totalGastosNuevaOperacion">
						<mat-header-cell *matHeaderCellDef>total Gastos Nueva Operacion</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.totalGastosNuevaOperacion }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="totalCostosOperacionAnterior">
						<mat-header-cell *matHeaderCellDef>total Costos Operacion Anterior</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.totalCostosOperacionAnterior }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="custodiaDevengada">
						<mat-header-cell *matHeaderCellDef>custodia Devengada</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.custodiaDevengada }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="formaPagoCustodiaDevengada">
						<mat-header-cell *matHeaderCellDef>forma Pago Custodia Devengada</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.formaPagoCustodiaDevengada }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="tipooferta">
						<mat-header-cell *matHeaderCellDef>tipo oferta</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.tipooferta }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="porcentajeflujoplaneado">
						<mat-header-cell *matHeaderCellDef>porcentaje flujo planeado</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.porcentajeflujoplaneado }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="dividendoflujoplaneado">
						<mat-header-cell *matHeaderCellDef>dividendo flujo planeado</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.dividendoflujoplaneado}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="dividendosprorrateoserviciosdiferido">
						<mat-header-cell *matHeaderCellDef>dividendos prorrateo servicios diferido</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.dividendosprorrateoserviciosdiferido }}</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="displayedColumnsCreditoNegociacion"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsCreditoNegociacion"></mat-row>
				</mat-table>
				<form [formGroup]="formOpcionesCredito">
					<div class="row mt-3">
						<div class="col-md-2">
							<mat-form-field class="mat-form-field-fluid">
								<input [formControl]="montoSolicitado" placeholder="Monto solicitado" autocomplete="off"
									matInput numeric numericType="number" (keypress)="numberOnly($event)">
							</mat-form-field>
						</div>
						<div class="col-md-2">
							<button mat-stroked-button color="primary" (click)="calcularOpciones(this.montoSolicitado.value)"  matTooltip="Recalcula las opciones con el monto solicitado" matTooltipPosition="above">
								<mat-icon style="font-size: 24px;" color="primary" >crop_rotate 
								</mat-icon>
								<span color="primary">Aplicar Monto</span>
							</button>
						</div>
						<div class="offset-md-3 col-md-3">
							<button mat-stroked-button color="primary" (click)="abrirPopupExcepciones()" matTooltip="RSolicitar Excepcion de cobertura" matTooltipPosition="above">
								<mat-icon style="font-size: 24px;" color="primary" >search
								</mat-icon>
								<span color="primary">Solicitar Cobertura</span>
							</button>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-3 offset-5">
							<button mat-raised-button color="accent" (click)="guardarCredito()" style="align-self: center;">
								<mat-icon style="font-size: 24px;" color="primary" matTooltipPosition="above">add_task
								</mat-icon>
								<span color="primary">Cargar Opcion de credito</span>
							</button>
						</div>
					</div>
				</form>
			</mat-step>
		</mat-vertical-stepper>

	</re-portlet-body>
	<re-portlet-footer></re-portlet-footer>
</re-portlet>