.form-popup {
    display: inline-table;
    position: relative;
    bottom: 0;
    right: 25px;
    left: 15px;
    border: 1px solid #f1f1f1;
    z-index: 5;
  }
.title{
  display: inline;
  left: 15px;
}