<h1 mat-dialog-title> Añadir Pago</h1>
<div mat-dialog-content>
    <div class="contenedor">
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight:bold">Institucion Financiera:</label>
            </div>
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input  type = "text" matInput [formControl] ="institucionFinaciera" >
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <label style="font-weight:bold">Numero de deposito:</label>
            </div>
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input matInput type= "number" [formControl] ="numeroDeposito"  >
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <label style="font-weight:bold">Valor deposito:</label>
            </div>
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input  matInput type= "number" [formControl] ="valorDeposito"  >
                </mat-form-field>
            </div>
        </div>
        <div>
            <div class="row">
            <div class="col-md-2">
                <label style="font-weight:bold">Cuentas:</label>
            </div>
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input matInput class="text" [formControl] ="cuentas" >
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <label style="font-weight:bold">Fecha de pago:</label>
            </div>
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input [matDatepicker]="fechaPago" matInput [formControl]="fechaPago">
                    <mat-datepicker-toggle matSuffix [for]="fechaPago"></mat-datepicker-toggle>
                    <mat-datepicker #fechaPago></mat-datepicker>
                </mat-form-field>
            </div>
            </div>
        </div>
    
    </div>     
    <div mat-dialog-actions>
        <button mat-button   (click)="nuevoPago()" tabindex="1">Agregar</button>
        <button mat-button (click)="onNoClick()">Cancelar</button>
    </div>
</div>