.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
  }
  .material-icons {
    font-size: 31px !important;
    height: 31px;
    width: 34px;
    color: gray;
    text-align: center;
  }
  .mat-button .mat-button-wrapper > *,
  .mat-fab .mat-button-wrapper > *,
  .mat-flat-button .mat-button-wrapper > *,
  .mat-icon-button .mat-button-wrapper > *,
  .mat-mini-fab .mat-button-wrapper > *,
  .mat-raised-button .mat-button-wrapper > *,
  .mat-stroked-button .mat-button-wrapper > * {
    vertical-align: baseline;
  }
  .mat-button,
  .mat-flat-button,
  .mat-icon-button,
  .mat-stroked-button {
    min-width: 28px;
    height: fit-content;
  }
  example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .example-table {
    overflow: auto;
    min-height: auto;
  }
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  .mat-table {
    overflow: auto;
    max-height: auto;
    width: 100%;
  }
  .mat-footer-row {
    font-weight: bold;
    justify-content: start;
  }
  .mat-column-NumeroOperacion {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  .mat-column-TipoOferta {
    flex: 0 0 100px;
    justify-content: start;
  }
  .mat-column-Vencimiento {
    flex: 0 0 100px;
    justify-content: start;
  }
  .mat-column-Cuotas {
    flex: 0 0 80px;
    justify-content: flex-end;
  }
  .mat-column-CapitaInicial {
    flex: 0 0 100px;
    justify-content: flex-end;
  }
  .mat-column-SaldoCapital {
    flex: 0 0 100px;
    justify-content: flex-end;
  }
  .mat-column-Plazo {
    flex: 0 0 80px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  .mat-column-FechaAprobacion {
    flex: 0 0 120px;
    justify-content: start;
  }
  .mat-column-FechaFinalCredito {
    flex: 0 0 120px;
    justify-content: start;
  } 
  .mat-column-DiasMora {
    flex: 0 0 80px;
    justify-content: flex-end;
  }
  .mat-column-ValorCuota {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  .mat-column-MotivoBloqueo {
    flex: 0 0 100px;
    justify-content: start;
  }
  .mat-column-TotalCredito {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  .mat-column-CoberturaAnterior {
    flex: 0 0 120px;
    justify-content: start;
  }
  .mat-column-CoverturaVigente {
    flex: 0 0 150px;
    justify-content: start;
  }


