<div class="spinner-container" *ngIf="loading | async">
	<mat-spinner class="spiner"></mat-spinner>
</div>
<re-portlet>
    <re-portlet-header [title]="'Generar Credito'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
			<a href="javascript:void(0);" matTooltip="Guardar" style="font-size: 12px; vertical-align: middle;">
				<mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="blue-icon">save
				</mat-icon>
				<span style="position: relative; top: -10px; margin-left: 5px;" class="blue-icon">Guardar</span>
			</a>
		</ng-container>
    </re-portlet-header>

    <re-portlet-body>
        <mat-vertical-stepper [linear]="true" #stepper>
            <mat-step label="Información Operación" [stepControl]="formInformacion"> 
                <form [formGroup]="formInformacion">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="codigoOperacion" readonly
                                    placeholder="C&#243;digo operaci&#243;n:" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="estadoOperacion" readonly placeholder="Estado De Operacion:" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="cedulaCliente" readonly placeholder="Cedula Cliente:" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="nombreCompleto" readonly
                                    placeholder="Nombre Completo :" />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-step>

            <ng-container *ngIf="this.operacionNuevo && this.operacionNuevo.credito.tipo == 'CUOTAS'">
                <mat-step label="Día de pago" [stepControl]="formFecha">  
                    <form [formGroup]="formFecha">
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <input [min]="fechaServer" (dateChange)="validacionFecha()" matInput #inputFechaCuota
                                    [matDatepicker]="pickerFechaCuota" placeholder="Fecha de la Cuota"
                                    [formControl]="fechaCuota"/>
                                <mat-datepicker-toggle matSuffix [for]="pickerFechaCuota"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFechaCuota></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-step>
            </ng-container>

            <mat-step label="Asignacion de Funda" [stepControl]="formFunda">
                <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource">
                    <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"> </mat-cell>
                        <mat-footer-cell *matFooterCellDef>  Total:  </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="numeroPiezas">
                        <mat-header-cell *matHeaderCellDef>Numero Piezas</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.numeroPiezas}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef>  {{ totalNumeroJoya  }}</mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipoOro">
                        <mat-header-cell *matHeaderCellDef >Tipo de Oro</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.tipoOro}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipoJoya">
                        <mat-header-cell *matHeaderCellDef >Tipo de Joya</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.tipoJoya }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="estadoJoya">
                        <mat-header-cell *matHeaderCellDef >Estado de Joya</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.estadoJoya }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="descripcion">
                        <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.descripcion}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="pesoBruto">
                        <mat-header-cell *matHeaderCellDef>Peso Bruto (Gr)</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.pesoBruto}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalPesoB  }} </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="tieneDescuento">
                        <mat-header-cell *matHeaderCellDef>Tiene descuentos</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.fechaNacimiento}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="descuentoPesoPiedra">
                        <mat-header-cell *matHeaderCellDef>Descuento Peso Piedra</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.descuentoPesoPiedra}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="descuentoSuelda">
                        <mat-header-cell *matHeaderCellDef>Descuento suelda</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.descuentoSuelda}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="pesoNeto">
                        <mat-header-cell *matHeaderCellDef>Peso Neto (Gr)</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.pesoNeto}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalPesoN  }} </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="valorOro">
                        <mat-header-cell *matHeaderCellDef>Valor oro</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.valorOro | currency: "USD":true:"1.2"}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorO  }}  </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="valorAvaluo">
                        <mat-header-cell *matHeaderCellDef>Valor Avaluo</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.valorAvaluo | currency: "USD":true:"1.2"}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorA | currency: "USD":true:"1.2" }} </mat-footer-cell>

                    </ng-container>
                    <ng-container matColumnDef="valorComercial">
                        <mat-header-cell *matHeaderCellDef>Valor Comercial  </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.valorComercial | currency: "USD":true:"1.2"}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorC | currency: "USD":true:"1.2" }} </mat-footer-cell>

                    </ng-container>
                    <ng-container matColumnDef="valorRealizacion">
                        <mat-header-cell *matHeaderCellDef>Valor Realizacion</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.valorRealizacion | currency: "USD":true:"1.2"}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{ totalValorR | currency: "USD":true:"1.2" }}  </mat-footer-cell>

                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns;"></mat-footer-row>
                </mat-table>
                <form [formGroup]="formFunda">
                    <div class="row mt-3">
                        <div class="col-md-4 ">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Peso De la Funda: " [formControl]="pesoFunda" (selectionChange)="obtenerNumeroFunda()">
                                    <mat-option *ngFor="let element of catTipoFunda" [value]="element">
                                        {{element.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 ">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="totalPesoBrutoFunda" readonly placeholder="Total de peso bruto (Gr)" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 ">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="numeroFunda" readonly placeholder="Numero de funda" />
                            </mat-form-field>
                        </div>
                       
                    </div>
                    <div class="row">
                        <ng-container *ngIf="existeCredito">
                            <div class="offset-md-5 col-md-6 ">
                                <button mat-raised-button (click)="generarCredito(true)"><span class="blue-icon"> Anular Funda </span></button>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <button mat-raised-button (click)="cargarFotoJoya()"><span class="blue-icon"> Carga Foto De Joya </span></button>
                                </div>
                            </div>
                            <ng-container *ngIf="srcJoya">
                                <div class="row mt-2">
                                    <div class="col-md-8 offset-md-2">
                                        <mat-card>
                                            <img mat-card-image src="{{'data:image/png;base64,' + this.srcJoya}}" class="img-responsive">
                                        </mat-card>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <button mat-raised-button (click)="cargarFotoFunda()"><span class="blue-icon"> Carga Foto De Funda </span></button>
                                </div>
                            </div>
                            <ng-container *ngIf="srcFunda">
                                <div class="row  mt-2">
                                    <div class="col-md-8 offset-md-2">
                                        <mat-card>
                                            <img mat-card-image src="{{'data:image/png;base64,' + this.srcFunda}}" class="img-responsive">
                                        </mat-card>
                                        
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </form>
            </mat-step>

            <mat-step label="Datos Instruccion Operativa" [stepControl]="formInstruccion">
                <form [formGroup]="formInstruccion">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select required placeholder="Banco del cliente" [formControl]="tipoCuenta" (selectionChange)="buscarNumero()">
                                    <mat-option *ngFor="let element of catCuenta" [value]="element">
                                        {{element.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput required [formControl]="numeroCuenta" placeholder="Numero de Cuenta">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput required [formControl]="firmanteOperacion" placeholder="Firmante Operacion">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div  class="offset-md-5 col-md-4" >
                            <button mat-raised-button color="primary" (click)="generarCredito()"> Generar Credito </button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Datos del Credito nuevo" [stepControl]="formCredito">
                <form [formGroup]="formCredito">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="numeroOperacion" readonly placeholder="Numero Operacion">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="tipoCartera" readonly placeholder="Tipo de Cartera">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="descripcionProducto"  readonly placeholder="Descripcion del producto">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="estadoOperacionSoft" readonly placeholder="Estado de la operacion">
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="plazo" readonly placeholder="Plazo">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="fechaEfectiva" readonly placeholder="Fecha Efectiva">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="fechaVencimiento" readonly placeholder="Fecha de Vencimiento">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="montoFinanciado" readonly placeholder="Monto Financiado">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="totalInteres" readonly placeholder="Total interes">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="cuotas" readonly placeholder="Cuotas">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="pagarCliente" readonly placeholder="A pagar por cliente">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="deudaInicial" readonly placeholder="Deuda Inicial">
                            </mat-form-field>
                        </div>
<!--                         <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="riesgoTotalCliente" readonly placeholder="Riesgo Total Cliente">
                            </mat-form-field>
                        </div> -->
                        <div class="col-md-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="recibirCliente" readonly placeholder="A Recibir Cliente">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mb-5" *ngIf="existeCredito" >
                        <div  class="offset-md-5 col-md-5" >
                            <button mat-button (click)=" mostrarTablaDeAmortizacion()"> Tabla de amortizacion </button>
                        </div>
                    </div>

                </form>
            </mat-step>

            <mat-step label="Documento Habilitantes">
                <ng-container *ngIf="existeCredito">
                    <re-habilitante [proceso]="'CREDITONUEVO'" [useType]="'LIST'" [tipoDocumento]="'5'" [referencia]="this.operacionNuevo.credito.id" [rol]="'7'"> </re-habilitante>
                    <div class="row">
                        <div class="col-md-5 offset-md-5">
                            <button mat-button (click)="solicitarAprobacion()">Solicitar Aprobacion</button>
                        </div>
                    </div>
                </ng-container>
            </mat-step>
        </mat-vertical-stepper>
    </re-portlet-body>
</re-portlet>