<re-portlet>
    <re-portlet-header [title]="'BANDEJA DE ADMINISTRACIÓN DE OPERACIONES '" [class]="'kt-portlet__head--lg'">

        <ng-container ktPortletTools>
            <a href="javascript:void(0);" (click)="limpiarFiltros()" matTooltip="Limpiar" style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px;" matTooltipPosition="above" class="orange-icon">layers_clear</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Limpiar</span>
            </a>


        </ng-container>
    </re-portlet-header>
    <re-portlet-body>
        <form [formGroup]="formFiltro">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput (keypress)="numberOnly($event)" [formControl]="codigoOperacion"
                            placeholder="Codigo Operacion: ">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput (keypress)="numberOnly($event)" [formControl]="codigoOperacionMadre"
                            placeholder="Codigo Operacion Madre: ">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Asesor" formControlName="asesor">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let element of catAsesor" [value]="element">
                                {{ element.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="pckFechaCreacionDesde" formControlName="fechaCreacionDesde"
                            placeholder="Fecha creacion desde: ">
                        <mat-datepicker-toggle matSuffix [for]="pckFechaCreacionDesde"></mat-datepicker-toggle>
                        <mat-datepicker #pckFechaCreacionDesde></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="pckFechaCreacionHasta" formControlName="fechaCreacionHasta"
                            placeholder="Fecha creacion hasta: ">
                        <mat-datepicker-toggle matSuffix [for]="pckFechaCreacionHasta"></mat-datepicker-toggle>
                        <mat-datepicker #pckFechaCreacionHasta></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Agencia" formControlName="agencia">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let element of catAgencia" [value]="element">{{ element.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="pckFechaAprobacionDesde" formControlName="fechaAprobacionDesde"
                            placeholder="Fecha Aprobacion desde: ">
                        <mat-datepicker-toggle matSuffix [for]="pckFechaAprobacionDesde"></mat-datepicker-toggle>
                        <mat-datepicker #pckFechaAprobacionDesde></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="pckFechaAprobacionHasta" formControlName="fechaAprobacionHasta"
                            placeholder="Fecha Aprobacion hasta: ">
                        <mat-datepicker-toggle matSuffix [for]="pckFechaAprobacionHasta"></mat-datepicker-toggle>
                        <mat-datepicker #pckFechaAprobacionHasta></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4 ">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Estado" formControlName="estado">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let element of catEstado" [value]="element">
                                {{ element.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 ">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [matDatepicker]="pckFechaVencimientoDesde" formControlName="fechaVencimientoDesde"
                            placeholder="Fecha vencimiento desde: ">
                        <mat-datepicker-toggle matSuffix [for]="pckFechaVencimientoDesde"></mat-datepicker-toggle>
                        <mat-datepicker #pckFechaVencimientoDesde></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4 ">
                    <mat-form-field class="mat-form-field-fluid">
                        <input placeholder="Fecha Vencimiento hasta: " matInput [matDatepicker]="picker" formControlName="fechaVencimientoHasta" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4 ">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Tipo de credito" formControlName="tipoCredito">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let element of catDecision" [value]="element">
                                {{ element.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 ">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput (keypress)="numberOnly($event)" [formControl]="plazo" placeholder="Plazo">
                    </mat-form-field>
                </div>
                <div class="col-md-4 ">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Impago" formControlName="impago">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let element of catDecision" [value]="element">
                                {{ element.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 ">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Retanqueo" formControlName="retanqueo">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let element of catDecision" [value]="element">
                                {{ element.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput [formControl]="nombreCliente" placeholder="Nombre Cliente" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput  (keypress)="numberOnly($event)" [formControl]="cedulaCliente" placeholder="CI" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3 offset-5">
                    <button mat-raised-button color="basic" (click)="construirWrapper(1,5)">
                        <mat-icon style="font-size: 24px;" matTooltipPosition="above">search</mat-icon>
                        <span> Buscar Credito </span>
                    </button>
                </div>
                <div class="col-3 offset-1">
                    <a (click)="irNegociacion()" matTooltip="Nuevo Credito" style="font-size: 12px; vertical-align: middle;">
                        <mat-icon style="font-size: 24px;" matTooltipPosition="above" class="blue-icon">post_add</mat-icon>
                        <span style="position: relative; top: -10px; margin-left: 5px;" class="blue-icon">Nuevo Credito </span>
                    </a>
                </div>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col">

                <mat-table #table class="mat-elevation-z8 tableOpciones" [dataSource]="dataSource">
                    <ng-container matColumnDef="accion">
                        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <a *ngIf="row.tipoCredito == 'Vencimiento' || ( row.tipoCredito == 'Cuotas' && row.retanqueo)" 
                                (click)="irNovar(row)" matTooltip="Novar el credito" style="font-size: 12px; vertical-align: middle;">
                                <mat-icon style="font-size: 24px;" matTooltipPosition="above" class="blue-icon">autorenew</mat-icon>
                            </a>
                            <a *ngIf="enableDevolucionButton | async" (click)="irDevolucion(row)" matTooltip="Devolucion" style="font-size: 12px; vertical-align: middle;">
                                <mat-icon style="font-size: 24px;" matTooltipPosition="above" class="orange-icon">get_app</mat-icon>
                            </a>
                            <a (click)="irDetalle(row)" matTooltip="Ver el detalle" style="font-size: 12px; vertical-align: middle;">
                                <mat-icon style="font-size: 24px;" matTooltipPosition="above" class="blue-icon">remove_red_eye</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nombreCliente">
                        <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nombreCliente | titlecase }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="identificacion">
                        <mat-header-cell *matHeaderCellDef>Identificacion</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.identificacion}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="numeroOperacionMadre">
                        <mat-header-cell *matHeaderCellDef>Numero Operacion Madre</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.numeroOperacionMadre}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="numeroOperacion">
                        <mat-header-cell *matHeaderCellDef>Numero Operacion</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.numeroOperacion}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fechaSolicitud">
                        <mat-header-cell *matHeaderCellDef>Fecha Solicitud</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.fechaSolicitud | rDate}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fechaAprobacion">
                        <mat-header-cell *matHeaderCellDef>Fecha Aprobacion</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.fechaAprobacion | rDate}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fechaVencimiento">
                        <mat-header-cell *matHeaderCellDef>Fecha Vencimiento</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.fechaVencimiento | rDate}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="montoFinanciado">
                        <mat-header-cell *matHeaderCellDef>Monto Financiado</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.montoFinanciado | currency: "USD":true:"1.2"}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="saldo">
                        <mat-header-cell *matHeaderCellDef>Saldo</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.saldo | currency: "USD":true:"1.2"}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.estado | titlecase }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipoCredito">
                        <mat-header-cell *matHeaderCellDef>Tipo de Credito</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.tipoCredito}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tablaArmotizacion">
                        <mat-header-cell *matHeaderCellDef>Tabla De Amortizacion</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.tablaArmotizacion}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="plazo">
                        <mat-header-cell *matHeaderCellDef>Plazo</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.plazo}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="impago">
                        <mat-header-cell *matHeaderCellDef>Impago</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.impago ? 'Si' : 'No'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="retanqueo">
                        <mat-header-cell *matHeaderCellDef>Retanqueo</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.retanqueo ? 'Si' : 'No'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="coberturaInicial">
                        <mat-header-cell *matHeaderCellDef>Cobertura Inicial</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.coberturaInicial}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="coberturaActual">
                        <mat-header-cell *matHeaderCellDef>Cobertura Actual</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.coberturaActual}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="diasMora">
                        <mat-header-cell *matHeaderCellDef>Dias de Mora</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.diasMora}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="EstadoProcesoGarantia">
                        <mat-header-cell *matHeaderCellDef>Estado Garantia</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.estadoProcesoGarantia | titlecase }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="EstadoUbicacionGrantia">
                        <mat-header-cell *matHeaderCellDef>Ubicacion Garantia</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.estadoUbicacionGrantia | titlecase }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="esMigrado">
                        <mat-header-cell *matHeaderCellDef>Migrado</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.esMigrado ? 'Si' : 'No'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="numeroCuotas">
                        <mat-header-cell *matHeaderCellDef>Numero Cuotas</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.numeroCuotas}} </mat-cell>
                    </ng-container>
        
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" (page)="paged()"></mat-paginator>


    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>