table {
    width: 100%;
}

.mat-column-id {
    display: none;
}

.mat-column-tipoOro {
    width: 150px;
   
}


.mat-column-tipoJoya {
    width: 150px;

}

.mat-column-estadoJoya {
    width: 150px;

}

.mat-column-descripcion {
    width: 150px;
  
}
.mat-column-pesoBruto {
    width: 150px;
    justify-content: flex-end;
    text-align: right;
}
.mat-column-pesoNeto {
    width: 150px;
    justify-content: flex-end;
    text-align: right;
}
.mat-column-valorAvaluo {
    width: 150px;
    justify-content: flex-end;
    text-align: right;
}



.mat-column-tienePiedras {
    width: 150px;
 
}

.mat-column-detallePiedras {
    width: 150px;

}

.mat-column-descuentoPesoPiedra {
    width: 150px;

}

.mat-column-numeroFundaMadre {
    width: 150px;

}

.mat-column-numeroFundaActual {
    width: 150px;

}
.mat-column-ciudadTevcol {
    width: 150px;

}



.mat-column-cedula {
    width: 150px;
  
}

.mat-column-nombre {
    width: 150px;
  
}

.mat-column-monto {
    width: 150px;
   text-align: right;
}