<re-portlet>
    <re-portlet-header [title]="'titulo'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a (click)="regresar()" matTooltip="Regresar a gestion cliente"
                style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">
                    arrow_back</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Regresar</span>
            </a>
        </ng-container>
    </re-portlet-header>
    <re-portlet-body>
        <mat-vertical-stepper #stepper>
            <mat-step label="Información de la operación">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="numeroOperacion" placeholder="Numero Operacion: ">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="procesoDev" placeholder="Estado Proceso: ">
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Datos Personales del cliente">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nombresCompletos" placeholder="Nombre del Cliente: ">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="cedulaCliente" placeholder="Cédula del Cliente: ">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="edad" placeholder="Edad:">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nivelEducacion" placeholder="Nivel de Educación:">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="genero" placeholder="Género: ">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="estadoCivil" placeholder="Estado Civil: ">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaNacimiento" placeholder="Fecha de Nacimiento:"
                                [value]="fechaNacimiento.value | rDate">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nacionalidad" placeholder="Nacionalidad:">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="lugarNacimiento" placeholder="Lugar de Nacimiento:">
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Detalle de Crédito">
                <div class="row">
                    <div class="col-8 offset-2">
                        <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceDetalle">
                            <ng-container matColumnDef="fechaAprobacion">
                                <mat-header-cell *matHeaderCellDef>Fecha de Aprobación</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.fechaAprobacion | rDate}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fechaVencimiento">
                                <mat-header-cell *matHeaderCellDef>Fecha de Vencimiento</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.fechaVencimiento | rDate}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="monto">
                                <mat-header-cell *matHeaderCellDef>Monto</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.monto | currency: "USD":true:"1.2" }}
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumnsDetalle"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsDetalle;"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Detalle de Garantía">
                <kt-tabla-tasacion *ngIf="wrapperSoft && wrapperSoft.garantias;" [data]='wrapperSoft.garantias' [tipo]="'DV'"></kt-tabla-tasacion>
            </mat-step>
            <mat-step label="Gestion Devolución">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="tipoCliente" [value]="tipoCliente.value.nombre"
                                placeholder="Tipo de Cliente: ">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="agenciaEntrega" placeholder="Agencia de entrega: ">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="valorCustodia" placeholder="Valor apróximado de custodia :">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-label>Observacion Del Asesor: </mat-label>
                            <textarea class="form-control border" rows="5" placeholder="Observacion Del Asesor: "
                                [formControl]="observaciones" [value]="observaciones.value" matInput> </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="this.tipoCliente.value.codigo == 'HER'">
                    <div class="col-8 offset-2">
                        <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceHeredero">
                            <ng-container matColumnDef="cedula">
                                <mat-header-cell *matHeaderCellDef>Cédula</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.cedula}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumnsHeredero"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsHeredero;"></mat-row>
                        </mat-table>
                    </div>
                </div>
                <div class="row" *ngIf="this.tipoCliente.value.codigo == 'SAP'">
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="cedulaApoderado" placeholder="Cédula Apoderado :">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nombreApoderado" placeholder="Nombre Apoderado :">
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label = "Detalle de proceso">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaSolicitud" placeholder="Fecha de solicitud: "  [value]="fechaNacimiento.value | rDate">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaAprobacion" placeholder="Fecha de aprobación: "  [value]="fechaNacimiento.value | rDate">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaArribo" placeholder="Fecha de arribo:"  [value]="fechaNacimiento.value | rDate">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaRecepcionAgencia" placeholder="Fecha de recepción en agencia:"  [value]="fechaNacimiento.value | rDate">
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label = "Documentos Habilitantes">
                <re-habilitante [proceso]="'DEVOLUCION'" [useType]="'FORM'"
                [estadoOperacion]="'CANCELACION'" [referencia]="item" [rol]="'1'" [tipoDocumento]="'8'"> 
                </re-habilitante> 
                <div class="row">
                    <div class="col-2 offset-5">
                        <button mat-stroked-button (click)="anularSolicitud()">Anular Solicitud</button>
                    </div>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </re-portlet-body>
</re-portlet>