  
<re-portlet>
  <re-portlet-header [title]="'Aprobación Fábrica Créditos Nuevos'" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a (click)="regresar()" matTooltip="Regresar al listado" style="font-size: 12px; vertical-align: middle;">
        <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">
          arrow_back</mat-icon>
        <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Regresar</span>
      </a>
    </ng-container>
  </re-portlet-header>

  <re-portlet-body>
    <mat-vertical-stepper>
      <mat-step label="Información Operación">
        <div class="row">
          <div class="col-4">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput [formControl]="nombresCompletoCliente" placeholder="Nombre Del Cliente" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput [formControl]="codigoBpm" placeholder="Código BPM" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput [formControl]="proceso" placeholder="Proceso" />
            </mat-form-field>
          </div>
        </div>
      </mat-step>

      <mat-step label="Datos Del Cliente">
        <mat-tab-group mat-align-tabs="start">

          <mat-tab label="Datos Personales del Cliente">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="identificacion" placeholder="RUC/C.I./Pasaporte:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="aprobacionMupi" placeholder="Aprobado Web Mupi:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="nombresCompletos" placeholder="Nombres Completos:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="primerNombre" placeholder="Primer Nombre:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]=" segundoNombre" placeholder="Segundo Nombre:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="apellidoPaterno" placeholder="Apellido Paterno:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="apellidoMaterno" placeholder="Apellido Materno:" matInput />
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="separacionDeBienes" placeholder="Separacion de bienes" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="genero" placeholder="Género:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="estadoCivil" placeholder="Estado Civil:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="cargaFamiliar" placeholder="Cargas familiares" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="nacionalidad" placeholder="Nacionalidad:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="lugarDeNacimiento" placeholder="Lugar de nacimiento:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="edad" placeholder="Edad:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="fechaNacimiento" placeholder="Fecha de nacimiento:" matInput [value]="fechaNacimiento.value | rDate" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="nivelEducacion" placeholder="Nivel de educación:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="actividadEconomica" placeholder="Actividad Ecónomica:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="fechaUltimaActualizazion" placeholder="Fecha Última Actualización:" matInput  [value]="fechaUltimaActualizazion.value | rDate"  />
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Datos de Contacto">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="telefonoDomicilio" placeholder="Telefono Domicilio:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="telefonoMovil" placeholder="Telefono Movil:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="correo" placeholder="Correo Electronico:" matInput />
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Dirección Domicilio">
            <div class="row">
              <div class="col-md-4">
                <mat-checkbox [formControl]="direccionLegalDomicilio">Es Dirección Legal</mat-checkbox>
              </div>
              <div class="col-md-4">
                <mat-checkbox [formControl]="direccionCorreoDomicilio">Es Dirección Envio Correspondencia</mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Parroquia / Canton / Provincia :" [formControl]="ubicacion">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Barrio:" [formControl]="barrio" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Sector:" [formControl]="sector" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Calle Principal:" [formControl]="callePrincipal" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Numeración:" [formControl]="numeracion" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Calle Secundaria:" [formControl]="calleSecundaria" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Referencia Ubicación:" [formControl]="referenciaUbicacion" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Tipo de Vivienda:" [formControl]="tipoVivienda" />
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Dirección Laboral">
            <div class="row">
              <div class="col-md-4">
                <mat-checkbox [formControl]="direccionLegalLaboral">Es Dirección Legal</mat-checkbox>
              </div>
              <div class="col-md-4">
                <mat-checkbox [formControl]="direccionCorreoLaboral">Es Dirección Envio Correspondencia</mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Parroquia / Canton / Provincia :" [formControl]="ubicacionLaboral">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Barrio:" [formControl]="barrioLaboral" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Sector:" [formControl]="sectorLaboral" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Calle Principal:" [formControl]="callePrincipalLaboral" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Numeración:" [formControl]="numeracionLaboral" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Calle Secundaria:" [formControl]="calleSecundariaLaboral" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Referencia Ubicación:" [formControl]="referenciaUbicacionLaboral" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput placeholder="Tipo de Vivienda:" [formControl]="tipoViviendaLaboral" />
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Datos Economicos">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="origenIngresos" placeholder="Origen Ingresos:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="nombreEmpresa" placeholder="Nombre Empresa:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="actividadEconomicaEmpresa" placeholder="Actividad Económica:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="actividadEconomicaEmpresa" placeholder="Actividad Económica:" matInput
                    *ngIf="this.origenIngresos.value.codigo == '1' || this.origenIngresos.value.codigo == '2'" />
                  <input [formControl]="actividadEconomicaMupi" placeholder="Actividad Económica Mupi:" matInput
                    *ngIf="this.origenIngresos.value.codigo != '1' && this.origenIngresos.value.codigo != '2'" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="relacionDependencia" placeholder="Relación de Dependencia:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="cargo" placeholder="Cargo:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="profesion" placeholder="Profesión:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="ocupacion" placeholder="Ocupación:" matInput />
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Patrimonio">
            <div class="row mt-1 mb-1 ">
              <div class=" offset-md-1 col-5">
                <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourcePatrimonioActivo"
                  style="max-width: 760px;">
                  <ng-container matColumnDef="Activo">
                    <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.activos | titlecase }} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Avaluo">
                    <mat-header-cell *matHeaderCellDef> Avaluo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.avaluo | currency: "USD":true:"1.2" }} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsActivo"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsActivo"></mat-row>
                </mat-table>
              </div>
              <div class="col-5">
                <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourcePatrimonioPasivo"
                  style="max-width: 760px;">
                  <ng-container matColumnDef="Pasivo">
                    <mat-header-cell *matHeaderCellDef> Pasivo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.pasivos | titlecase }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Avaluo">
                    <mat-header-cell *matHeaderCellDef> Avaluo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.avaluo | currency: "USD":true:"1.2" }}</mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsPasivo"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsPasivo"></mat-row>
                </mat-table>
              </div>
            </div>


          </mat-tab>

          <mat-tab label="Ingresos Egresos">
            <div class="row mt-1 mb-1 ">
              <div class="col-6 offset-md-3">
                <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceIngresoEgreso"
                  style="max-width: 760px;">

                  <ng-container matColumnDef="Is">
                    <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <ng-container *ngIf="element.esIngreso else elseTemplate">
                        Ingreso
                      </ng-container>
                      <ng-template #elseTemplate>Egreso</ng-template>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Valor">
                    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.valor | currency: "USD":true:"1.2" }}</mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsII"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsII"></mat-row>
                </mat-table>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Referencias Personales">
            <div class="row mt-1 mb-1">
              <div class="col-md-10 offset-md-1">
                <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceReferencia">
                  <ng-container matColumnDef="N">
                    <mat-header-cell *matHeaderCellDef> N. </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nombresRef">
                    <mat-header-cell *matHeaderCellDef>Nombres</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.nombres | titlecase }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="apellidosRef">
                    <mat-header-cell *matHeaderCellDef>Apellidos</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.apellidos | titlecase }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Parentesco">
                    <mat-header-cell *matHeaderCellDef> Parentesco </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.parentesco | titlecase }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Direccion">
                    <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.direccion | titlecase }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="TelefonoMovil">
                    <mat-header-cell *matHeaderCellDef>Teléfono Movil</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.telefonoMovil }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="TelefonoFijo">
                    <mat-header-cell *matHeaderCellDef>Teléfono Fijo</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.telefonoFijo }}</mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsReferencia"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsReferencia"></mat-row>
                </mat-table>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-step>

      <mat-step label="Datos De Negociación">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Tasacion">
            <div class="row mt-1 mb-1">
              <div class="col-md-12">
                <kt-tabla-tasacion *ngIf="this.crediW;" [data]='this.crediW.joyas' [tipo]="'T'"></kt-tabla-tasacion>
              </div>
            </div>
            <div class="row mt-3">
              <div class="offset-md-3 col-md-3">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="numeroFunda" placeholder="Número Funda:" matInput />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="tipoFunda" placeholder="Peso de la Funda:" matInput />
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Variables crediticias">
            <div class="row mt-1 mb-1">
              <div class="col-md-8 offset-md-2">
                <kt-tabla-variables-crediticias *ngIf="this.crediW;" [base]='this.crediW.variables'>
                </kt-tabla-variables-crediticias>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Riesgo acumulado">
            <div class="row mt-1 mb-1">
              <div class="col-md-10 offset-md-1">
                <ng-container *ngIf="this.crediW && this.crediW.riesgos; else elseTemplate">
                  <kt-tabla-riesgo-acumulado [base]="this.crediW.riesgos"></kt-tabla-riesgo-acumulado>
                </ng-container>
                <ng-template #elseTemplate>
                  <strong> NO POSEE RIESGO ACUMULADO </strong>
                </ng-template>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-step>
      <mat-step label="Datos de crédito nuevo">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="numeroOperacion" placeholder="Número de la operación:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="descripcionProducto" placeholder="Descripción del Producto:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="estadoOperacion" placeholder="Estado de la Operación:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="tipoOferta" placeholder="Tipo Oferta:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="plazo" placeholder="Plazo:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="diaPagoFijo" placeholder="Día Pago Fijo:" matInput [value]="diaPagoFijo.value | rDate" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input matInput [formControl]="tipoCuenta" placeholder="Tipo de Cuenta:" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="numeroCuenta" placeholder="Número de Cuenta:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="cuota" placeholder="Cuota:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="firmadaOperacion" placeholder="Firmada Operación:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="tipoCartera" placeholder="Tipo de Cartera:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="tablaAmortizacion" placeholder="Tabla Amortizacion" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="valorDesembolso" placeholder="Valor Desembolso:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="montoFinanciado" placeholder="Monto Financiado:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="formaPagoCustodia" placeholder="Forma de Pago Custodia:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="costoCustodia" placeholder="Costo Custodia:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="formaPagoTransporte" placeholder="Forma de Pago Transporte:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="costoTransporte" placeholder="Costo Transporte:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="formaPagoValoracion" placeholder="Forma de Pago Valoración:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="costoValoracion" placeholder="Costo Valoración:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="formaPagoTasacion" placeholder="Forma de Pago Tasación:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="costoTasacion" placeholder="Costo Tasación:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="formaPagoCustodiaDevengada" placeholder="Forma de Pago Custodia Devengada:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="custodiaDevengada" placeholder="Costo Devengada:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="formaPagoSeguro" placeholder="Forma de Pago Seguro:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="costoSeguro" placeholder="Costo Seguro:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="formaPagoSolca" placeholder="Forma de Pago Solca:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="solca" placeholder="Solca:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="fechaVencimiento" placeholder="Fecha de vencimiento:" matInput [value]="fechaVencimiento.value | rDate" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="fechaEfectiva" placeholder="Fecha Efectiva:" matInput [value]="fechaEfectiva.value | rDate" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="totalCostoNuevaOperacion" placeholder="Total Costo Nueva Operacion:" matInput />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="mat-form-field-fluid">
              <input [formControl]="totalInteres" placeholder="Total Interés:" matInput />
            </mat-form-field>
          </div>
        </div>
      </mat-step>

      <mat-step label="Habilitantes">
        <re-habilitante [proceso]="'NUEVO'" [useType]="'FORM'"
            [referencia]="numeroOperacion.value" >
                </re-habilitante> 
      </mat-step>

      <mat-step label="Resultado de la operación">
        <form [formGroup]="formResultadoOperacion">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Motivo Devolucion:" [formControl]="motivoDevolucion">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catMotivoDevolucionAprobacion" [value]="element">
                    {{ element.nombre }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input [formControl]="codigoCash" placeholder="Códgo Cash:" matInput />
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-8">
              <textarea class="form-control border" [formControl]="observacionAprobador" rows="5"
                placeholder="Observaciones: " matInput></textarea>
            </div>
          </div>
          <div class="row mt-3">
            <div class="offset-md-2 col-md-2">
              <button mat-raised-button color="primary" (click)="enviarRespuesta(true)">
                <mat-icon style="font-size: 24px;" class="white-icon" matTooltipPosition="above">search
                </mat-icon>
                <span class="white-icon">Aprobar</span>
              </button>
            </div>
            <div class="offset-md-1 col-md-2">
              <button mat-raised-button color="warn" (click)="enviarRespuesta(false)">
                <mat-icon style="font-size: 24px;" class="white-icon" matTooltipPosition="above">search
                </mat-icon>
                <span class="white-icon">Devolver</span>
              </button>
            </div>
          </div>
        </form>
      </mat-step>

    </mat-vertical-stepper>
  </re-portlet-body>
  <re-portlet-footer></re-portlet-footer>
</re-portlet>