.spiner{
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%; 
}

.material-icons {
  font-size: 31px !important;
  height: 31px;
  width: 34px;
  color: gray;
  text-align: center;
}
.warning-icons {
  font-size: 31px !important;
  height: 31px;
  width: 34px;
  color: gray;
  text-align: center;
  vertical-align: middle;
}

.mat-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > * {
  vertical-align: baseline;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  min-width: 28px; //da espacio al data table
  height: fit-content !important; //quita fondo cuando sobrepone
}

.example-container > * {
  width: 100%;
}

table{
  width: 100%;
}

.white-icon {
  color: white;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
    fill: white;
}

.blue-icon {
  color:#3399ff;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.blue-icon svg {
    fill: #3399ff;
}

.orange-icon {
  color:#ff9900;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.orange-icon svg {
    fill: #ff9900;
}
.textArea {
  color: black;
  background-color: white;
  border-color: silver;
  font-weight: 400;
}

  .warning {
    color: black;
    background-color: #ffff00;
    border-color: white;
    font-weight: 400;
    font-size: 14px;
  }

.error-snackbar {
  color: white;
  background-color: red;
  border-color: white;
  font-weight: 400;
}    
.text-align {   
  justify-content: center;
  font-size: smaller;
}
.mat-step-label-text{
    font-size: 2px;
    font-weight: 500;
}