<re-portlet>
    <re-portlet-header [title]="'Registrar Pagos'" [class]="'kt-portlet__head--lg'">
    </re-portlet-header>
    <re-portlet-body>
        <mat-vertical-stepper>
            <mat-step label="Información de Crédito">
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Nombre del cliente:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="nombreCliente" required>
                            <mat-error>{{ getErrorMessage("nombreCliente") }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Cédula:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="cedula" required>
                            <mat-error>{{ getErrorMessage("cedula") }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Código de Operación:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="codigoOperacion" required>
                            <mat-error>{{ getErrorMessage("codigoOperacion") }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Código cuenta Mupi:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="codigoCuentaMupi" required>
                            <mat-error>{{ getErrorMessage("codigoCuentaMupi") }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Tipo de crédito:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="tipoCredito" required>
                            <mat-error>{{ getErrorMessage("tipoCredito") }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Tabla Rubros">
                <div class="row">
                    <div class="col-8 offset-2">
                        <mat-table #table class="mat-elevation-z8 garantia" [dataSource]="dataSourceRubro">
                            <ng-container matColumnDef="rubro">
                                <mat-header-cell *matHeaderCellDef>Rubro</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.rubro}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="numeroCuota">
                                <mat-header-cell *matHeaderCellDef>Numero Cuota</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.numeroCuota}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="proyectado">
                                <mat-header-cell *matHeaderCellDef>Proyectado</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.proyectado}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="calculado">
                                <mat-header-cell *matHeaderCellDef>Calculado</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.calculado }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="estado">
                                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.estado }} </mat-cell>
                            </ng-container>
        
                            <mat-header-row *matHeaderRowDef="displayedColumnsRubro"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsRubro;"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </mat-step>
            <!-- Tabla de pagos -->
            <mat-step label="Pagos">
                <div class="row">
					<div class="col">
						<mat-progress-bar *ngIf="loadComprobante.asObservable() | async" mode="indeterminate"> </mat-progress-bar>
					</div>
				</div>
                <mat-table *ngIf="dataSourceComprobante.data" class="garantia" [dataSource]="dataSourceComprobante" >
					<ng-container matColumnDef="accion">
                        <mat-header-cell *matHeaderCellDef>Accion</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <a (click)="eliminarComprobante(row)">
								<mat-icon matTooltip="Eliminar">delete</mat-icon>
                            </a>
                        </mat-cell>
					</ng-container>
					<ng-container matColumnDef="intitucionFinanciera">
						<mat-header-cell *matHeaderCellDef>Intitucion Financiera</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.intitucionFinanciera }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cuenta">
						<mat-header-cell *matHeaderCellDef>Cuenta</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.cuenta }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fechaPago">
						<mat-header-cell *matHeaderCellDef>Fecha Pago</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.fechaPago | rDate}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="numeroDeDeposito">
						<mat-header-cell *matHeaderCellDef>Numero De Deposito</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.numeroDeposito }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="valorDepositado">
						<mat-header-cell *matHeaderCellDef>Valor Depositado</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.valorDepositado }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="descargarComprobante">
						<mat-header-cell *matHeaderCellDef>Descargar Comprobante</mat-header-cell>
						<mat-cell *matCellDef="let row">
                            <a *ngIf="row.comprobante" (click)="descargarComprobante(row)">
								<mat-icon matTooltip="Descargar">vertical_align_bottom</mat-icon>
                            </a>
                        </mat-cell>					
                    </ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsComprobante"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsComprobante;"></mat-row>
                </mat-table>
                <div class="row mt-2">
                    <div class="col-2 offset-5">
                        <button mat-stroked-button color="primary" (click)="agregarComprobante()">
							<mat-icon style="font-size: 32px" color="primary" matTooltipPosition="above">add_circle_outline</mat-icon>
							<span color="primary">Agregar Comprobante</span>
						</button>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-4">
                        <button mat-raised-button color="white" focusable="false" (click)="cargarPagos()">
                            Agregar Pago
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1.5">

                        <label style="font-weight:bold">Valor Pre-cancelacion: </label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput [formControl]="valorPreCancelado" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1.5">

                        <label style="font-weight:bold">Valor Depositado: </label>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput [formControl]="valorDepositado" required>
                        </mat-form-field>
                    </div>
                </div>

                <label style="font-weight:bold"> Obsevaciones </label>
                <div class="col-md-8">
                    <mat-form-field class="example-full-width" color="black">
                        <input matInput [formControl]="observacion">
                        <input matInput type="text">
                    </mat-form-field>
                </div>

                <div>
                    <button mat-raised-button color="white" focusable="false" (click)="guardar()">
                        Solicitar Aprobación
                    </button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </re-portlet-body>