<div class="row justify-content-center">

  <mat-dialog-content class="mat-dialog-content">
    <h1 _ngcontent-pmm-5>Cargar Documento</h1>
    <div class="col">
      <input type="file" class="inputfile" id="fileUpload" (change)="onFileChange($event, element)" #fileInput
        value="Escoja" />
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-md-offset-3">
        <button type="button" (click)="subirArchivoHabilitante(element)" class="blue-icon">
          <mat-icon matTooltipPosition="above" matTooltip="Subir Archivo" class="blue-icon">
            cloud_upload</mat-icon>
          <span class="blue-icon">Subir Archivo</span>
        </button>
      </div>
      <div class="col-md-3 col-md-offset-3">
        <button type="button" (click)="onNoClick()" class="blue-icon" matTooltip="Cancelar">
          <mat-icon matTooltipPosition="above" class="orange-icon">cancel</mat-icon>
          <span class="orange-icon">Cancelar</span>
        </button>
      </div>

    </div>

  </mat-dialog-content>

</div>
