<div class="spinner-container" *ngIf="loading | async">
    <mat-spinner class="spiner"></mat-spinner>
</div>

<re-portlet>
    <re-portlet-header style="position: relative;" [title]="'Listado Tracking'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <input type="text" matInput (keyup)="filtrar($event)" placeholder="Ingrese su busqueda">
        </ng-container>

    </re-portlet-header>
    <re-portlet-body>
        <div class="form-group row" >
            <div class="col-md-4">
                <mat-select
                  placeholder="Proceso"
                  [formControl]="proceso" (selectionChange)="SelectActividad($event.value)">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let proceso of procesos" [value]="proceso"  >
                    {{ proceso}}
                  </mat-option>
                </mat-select>
            </div>
            <div class="col-md-4">
                <mat-select
                  placeholder="Actividad"
                  [formControl]="actividad"(selectionChange)="SelectSeccion($event.value)">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let actividad of listActividad" [value]="actividad">
                    {{ actividad }}
                  </mat-option>
                </mat-select>
            </div>
            <div class="col-md-4">
                <mat-select
                  placeholder="Seccion"
                  [formControl]="seccion">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let seccion of listSeccion" [value]="seccion">
                    {{ seccion }}
                  </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput [formControl]="codigoBPM"placeholder="CodigoBPM">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput [formControl]="codigoSoftbank"placeholder="Codigo Operacion Softbank">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput [formControl]="usuario"placeholder="Usuario">
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="fechadesde" [formControl]="fechaDesde "placeholder="Fecha Desde">
                    <mat-datepicker-toggle matSuffix [for]="fechadesde"></mat-datepicker-toggle>
                    <mat-datepicker #fechadesde></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="fechahasta" [formControl]="fechaHasta"placeholder="Fecha Hasta">
                    <mat-datepicker-toggle matSuffix [for]="fechahasta"></mat-datepicker-toggle>
                    <mat-datepicker #fechahasta></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <ng-container ktPortletTools>
            <a href="javascript:void(0);" (click)="buscar()" matTooltip="Buscar"
                style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size:24px" class="orange-icon" matTooltipPosition="above">search</mat-icon>
                <span style="position: relative;top: -10px;margin-left: 5px;" class="orange-icon">Buscar</span>
            </a>
        </ng-container>
        <div class="col-12 mt-3">
        <!--START MAT TABLE
        <div class="mat-table__wrapper">-->
            <mat-progress-bar mode="indeterminate" *ngIf="cargardatos.asObservable() | async"></mat-progress-bar>
            <mat-table #table class="mat-elevation-z8 " matSort #sort1="matSort" [dataSource]='dataSource'
                matSortDirection="asc" matSortDisableClear>
            
                <ng-container matColumnDef="proceso">
                    <mat-header-cell *matHeaderCellDef>Proceso</mat-header-cell>
                    <mat-cell class="mat-form-field-fluid"*matCellDef="let element"> {{element.proceso | titlecase }}</mat-cell>
                    <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="actividad">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</mat-header-cell>
                    <mat-cell class="mat-form-field-fluid"*matCellDef="let element "> {{element.actividad | titlecase}}</mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="seccion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Seccion</mat-header-cell>
                    <mat-cell class="mat-form-field-fluid"*matCellDef="let element">{{element.seccion | titlecase }} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="codigoBpm">
                    <mat-header-cell *matHeaderCellDef>Codigo BPM</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.codigoBpm }}</mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="codigoOperacionSoftbank">
                    <mat-header-cell *matHeaderCellDef>Codigo Operacion Softbank</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.codigoOperacionSoftbank | titlecase }}</mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="fechaAsignacion">
                    <mat-header-cell *matHeaderCellDef>Fecha Asignacion</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.fechaAsignacion | rDate}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="usuario">
                    <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.usuarioCreacion | titlecase }} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="fechaCreacion">
                    <mat-header-cell *matHeaderCellDef>Hora Inicio</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.fechaCreacion | rDate}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="fechaActualizacion">
                    <mat-header-cell *matHeaderCellDef>Hora Fin</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fechaActualizacion  | rDate}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="tiempoTotal">
                    <mat-header-cell *matHeaderCellDef>Total Tiempo</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.tiempoTranscurrido}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.fechaCreacion | rDate}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> {{totalResults}} </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="paged()">
            </mat-paginator>

        </div>
        <!--end MAT TABLE
    </div>-->
    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>