<div class="row m-2">
    <div class="col-12 mt-2 mb-2">
        <mat-card-title> Lista de Excepciones Revisadas </mat-card-title>
    </div>
    <div class="col-12">
        <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource">

            <ng-container matColumnDef="tipoExcepcion">
                <mat-header-cell *matHeaderCellDef>Tipo De Excepcion</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.tipoExcepcion }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estadoExcepcion">
                <mat-header-cell *matHeaderCellDef> Estado De Excepcion </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.estadoExcepcion }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="revisar">
                <mat-header-cell *matHeaderCellDef> Revisar </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a (click)="detalleCotizacion(row)" matTooltip="Revisar">
                        <mat-icon>remove_red_eye</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>
    <div class="col-12">
        <ng-container *ngIf="isSalir; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <div class="row">
                <div class="col-10 offset-1 mt-2 mb-2">
                    <mat-card class="warning">
                        <span class="material-icons warning-icons">report_problem </span> {{ bloqueo }} 
                    </mat-card>
                </div>
                <div class="col-4 offset-4 mt-4 mb-2">
                    <button mat-raised-button color="warn" (click)="salir()" [disabled]="!isSalir"> Finalizar Negociacion. </button>
                </div>
            </div>
        </ng-template>
        <ng-template #elseTemplate>
            <div class="row m-5">
                <div class="col-4 offset-4">
                    <button mat-raised-button color="primary" (click)="salir()" [disabled]="isSalir"> Continuar Negociacion. </button>
                </div>
            </div>
        </ng-template>
    </div>
</div>