table {
    width: 100%;
}

.mat-column-observacion {
    flex: 0 0 200px;
}

.mat-column-fecha {
    flex: 0 0 50px;
}

.mat-column-hora {
    flex: 0 0 50px;
}

.mat-column-usuario {
    flex: 0 0 100px;
}