<div class="spinner-container" *ngIf="loading | async">
  <mat-spinner class="spiner"></mat-spinner>
</div>

            <re-portlet>
                <re-portlet-header [title]="'Negociación'" [class]="'kt-portlet__head--lg'">
                  <ng-container ktPortletTools>
                    <a href="javascript:void(0);" matTooltip="Guardar" 
                      style="font-size: 12px; vertical-align: middle;">
                      <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="blue-icon">save</mat-icon>
                      <span style="position: relative; top: -10px; margin-left: 5px;" class="blue-icon">Guardar</span>
                    </a>
                  </ng-container>
                </re-portlet-header>
                <re-portlet-body>
                  <!-- start::FILTERS & GROUP ACTIONS -->
                  <div class="kt-form">
                    <form no-validate [formGroup]="formDatosCliente">
                    <mat-vertical-stepper>
                      <mat-step>
                        <ng-template matStepLabel>Datos Cliente</ng-template>
                        <div class="row">
                          <div class="col-md-12" style="text-align: right;">
                            <a href="javascript:void(0);"   matTooltip="Ver cotizacion"  (click)="abrirPopupVerCotizacion()"
                            style="font-size: 12px; vertical-align: middle;">
                            <mat-icon style="font-size: 32px" matTooltipPosition="above">remove_red_eye</mat-icon>
                            <span style="position: relative;top: -10px;margin-left: 5px;">Ver cotizacion</span>
                        </a> 
                          </div>
                        </div>
                      
                        <div class="kt-form__filtration">
                          <div class="row align-items-center">
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field class="mat-form-field-fluid">
                                <input [formControl]="identificacion" placeholder="C.I." autocomplete="off" required="true"
                                 matInput numeric numericType="number" />
          
                              </mat-form-field>
                            </div>
              
                            <a href="javascript:void(0);" matTooltip="Buscar Cliente" style="font-size: 12px; vertical-align: middle;" (click)="buscarCliente()">
                              <mat-icon style="font-size: 24px;" class="orange-icon" matTooltipPosition="above">search</mat-icon>
                              <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Buscar
                                cliente </span>
                            </a>
                            
                            
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field class="mat-form-field-fluid">
                                <input name="nombresCompletos" matInput [formControl]="nombresCompletos"
                                  placeholder="Nombres Completos " autocomplete="off" ng-pattern="patternNombre" required="true" />
                              </mat-form-field>
                            </div>
                          </div>
              
                          <div class="row align-items-center">
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field>
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input (dateChange)="onChangeFechaNacimiento()" matInput #inputFechaNacimiento [matDatepicker]="pickerFechaNacimiento" [formControl]="fechaNacimiento" />
                                <mat-datepicker-toggle matSuffix [for]="pickerFechaNacimiento"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFechaNacimiento></mat-datepicker>
                              </mat-form-field>
                            </div>
              
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="edad" placeholder="Edad " autocomplete="off" readonly />
                              </mat-form-field>
                            </div>
              
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="nacionalidad" placeholder="Nacionalidad " autocomplete="off" />
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field class="mat-form-field-fluid">
                                <input matInput numeric numericType="number" [formControl]="movil" placeholder="Móvil "
                                  autocomplete="off" required="true" />
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field>
                                <input matInput [formControl]="telefonoDomicilio" placeholder="Teléfono Domicilio" required="true">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field>
                                <mat-select placeholder="Publicidad" [formControl]="publicidad" required="true" >
                                  <mat-option>--</mat-option>
                                  <mat-option *ngFor="let publicidad of listPublicidad" [value]="fpublicidad">
                                    {{ publicidad.valor }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                             
                            </div>
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="correoElectronico" placeholder="Correo Eléctronico" autocomplete="off"
                                  required="true" />
                              </mat-form-field>
                             
                            </div>
                            <div class="col-md-6 kt-margin-bottom-10-mobile">
                              <mat-form-field class="mat-form-field-fluid">
                                <input matInput [formControl]="campania" placeholder="Campaña" autocomplete="off" />
                              </mat-form-field>
                             
                            </div>
                            
                          </div>
                          <form [formGroup]="formAprobacion">
        
                            <div class="row">
                                <div class="col-md-10">
                            <h6>
                              Aprobaci&#243;n MUPI
                            </h6>
                                <label>
                                  <input type="radio" value="SI" [formControl]="aprobacionMupi">
                                    <span>SI</span>
                                </label>
                              <br>
                                <label>
                                  <input type="radio" value="NO" [formControl]="aprobacionMupi">
                                    <span>NO</span>
                                </label>
                               </div>
                              </div>
                            </form>
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-md-5">
                              <a href="javascript:void(0);" matTooltip="Ver riesgo acumulado "
                                style="font-size: 12px; vertical-align: middle;" class="blue-icon">
                                <mat-icon style="font-size: 32px;" matTooltipPosition="above" matTooltip="" class="blue-icon">
                                  remove_red_eye</mat-icon>
                                <span style="position: relative; top: -10px; margin-left: 5px;" class="blue-icon">Ver Precios
                                </span>
                              </a>
                            </div>
                          </div>

                        </div>
                      </mat-step>

          <mat-step>
            <ng-template matStepLabel>Variables crediticias </ng-template>
          <kt-variables-crediticias></kt-variables-crediticias>
          </mat-step>
              
                    </mat-vertical-stepper>
                  </form>
                  </div>
              
                  <!-- END FILTERS -->
                </re-portlet-body>
                <re-portlet-footer></re-portlet-footer>
              </re-portlet>