//
// Subheader
//
// Config
$kt-subheader-config: ( fixed: ( height: 54px), toggle: ( width: 20px, height: 22px, transition-duration: 0.4s, thickness: 2px, space: 4px, radius: 2px, color: ( default: kt-base-color(label, 2), hover: kt-brand-color(), active: kt-brand-color())));
// Base
.kt-subheader {
    background-color: white;
    display: flex;
    align-items: stretch;
    margin: 10px 0;
    .kt-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }
}

@include kt-tablet-and-mobile {
    // Subheader
    .kt-subheader {
        margin: 2px 0;
        // Main
        .kt-subheader__main {
            // Mobile Toggler
            @include kt-burger-icon-build(kt-subheader__mobile-toggle, kt-get($kt-subheader-config, toggle));
            @include kt-burger-icon-skin(kt-subheader__mobile-toggle, kt-get($kt-subheader-config, toggle, color));
            .kt-subheader__mobile-toggle {
                display: inline-block;
                margin-right: 1rem;
            }
            // Title
            .kt-subheader__title {
                padding: 0.5rem 1.25rem 0.5rem 0;
            }
            // Breadcrumbs
            .kt-subheader__breadcrumbs {
                padding: 0.5rem 0;
            }
        }
        // Toolbar
        .kt-subheader__toolbar {
            padding: 0.5rem 0;
        }
        // Light style
        .kt-subheader--transparent & {
            background-color: transparent;
        }
    }
}

@include kt-mobile {
    // Subheader
    .kt-subheader {
        // Toolbar
        .kt-subheader__toolbar {
            padding-top: 0.5rem;
        }
    }
}