.form-popup {
    display: inline-table;
    position: relative;
    bottom: 0;
    right: 25px;
    left: 15px;
    border: 1px solid #f1f1f1;
    z-index: 5;
  }
.title{
  display: inline;
  left: 15px;
}
/*.form-container {
    max-width: 1000px;
    padding: 30px;
    background-color: white;
  }*/
  

  /* Set a style for the submit/login button */
  /*.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-bottom:7px;
    opacity: 0.8;
  }*/
  
