<div class="spinner-container" *ngIf="loading | async">
	<mat-spinner class="spiner"></mat-spinner>
</div>

<re-portlet>
  <re-portlet-header [title]="'Creacion/Actualizacion Clientes'"[class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <a href="javascript:void(0);" matTooltip="Regresar a Negociacion" style="font-size: 12px; vertical-align: middle;">
        <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Regresar</span>
        <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">arrow_back</mat-icon>
      </a>
      <a href="javascript:void(0);"  matTooltip="Regresar a la creacion de Credito" (click)="guardar()" style="font-size: 12px; vertical-align: middle;">
        <span style="position: relative; top: -10px; margin-left: 5px;" class="blue-icon">Avanzar</span>
        <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="blue-icon">save</mat-icon>
      </a>
    </ng-container>
  </re-portlet-header>
  <re-portlet-body>

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step label="Datos Personales" [stepControl]="formCliente">
        <form [formGroup]="formCliente">
          <div class="row mb-5">
            <div  class="offset-md-4 col-md-4" >
              <button mat-button (click)=" cargarComponenteHabilitante()"> Documentos Habilitantes</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 col-sm-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Nombres Completos:" [formControl]="nombresCompletos" readonly/>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-4">
                <mat-form-field class="mat-form-field-fluid">
                <input #ide matInput numeric numericType="number"  type="text"  placeholder="C.I " [formControl]="identificacion" readonly/>
                <mat-error>{{ getErrorMessage("identificacion") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Primer Nombre:" [formControl]="primerNombre" required/>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Segundo Nombre:" [formControl]="segundoNombre"/>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select
                  placeholder="Nivel de Educación:"
                  [formControl]="nivelEducacion">
                  <mat-option *ngFor="let element of catEducacion" [value]="element" required>
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Apellido Paterno:"  [formControl]="apellidoPaterno" required/>
                <mat-error>{{ getErrorMessage("apellidoPaterno") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input  matInput  placeholder="Apellido Materno:"  [formControl]="apellidoMaterno" />
                <mat-error>{{ getErrorMessage("apellidoMaterno") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select  placeholder="Separación de Bienes:" [formControl]="separacionBienes" required>
                  <mat-option>NO APLICA</mat-option>
                  <mat-option *ngFor="let element of catSeparacionBienes"  [value]="element">
                    {{ element }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Género:" [formControl]="genero" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catGenero" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("genero") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Estado Civil:" [formControl]="estadoCivil"  required (selectionChange)="habilitarCampo()">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catEstadoCivil" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("estadoCivil") }}</mat-error>
              </mat-form-field>
            </div>
            
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input type="number" matInput placeholder="Cargas Familiares:" [formControl]="cargaFamiliar"  required>
                <mat-error>{{ getErrorMessage("cargaFamiliar") }}</mat-error>
              </mat-form-field>
             
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput #inputFechaNacimiento [matDatepicker]="pickerFechaNacimiento" (dateChange)="onChangeFechaNacimiento()" placeholder="Fecha de Nacimiento" [formControl]="fechaNacimiento" required/>
                <mat-datepicker-toggle matSuffix [for]="pickerFechaNacimiento" ></mat-datepicker-toggle>
                <mat-datepicker #pickerFechaNacimiento></mat-datepicker>
                <mat-error>{{ getErrorMessage("fechaNacimiento") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Nacionalidad:" [formControl]="nacionalidad" required>
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let element of catPais" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("nacionalidad") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <form class="example-form">
                <mat-form-field class="mat-form-field-fluid">
                  <input placeholder="Lugar de Nacimiento:" type= "text" matInput required [formControl]= "lugarNacimiento" [matAutocomplete]="auto4">
                    <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let name of catFiltradoLugarNacimiento | async" [value]="name">
                      {{name.nombre}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error>{{ getErrorMessage("lugarNacimiento") }}</mat-error>
                </mat-form-field>
              </form>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input  matInput placeholder="Edad:" [formControl]="edad" readonly/>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <form class="example-form">
              <mat-form-field class="mat-form-field-fluid">
                <input placeholder="Actividad Económica:" type= "text" matInput [formControl]="actividadEconomica " required [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let element of catActividadEconomica " [value]="element">
                    {{ element.nombre}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error>{{ getErrorMessage("actividadEconomica") }}</mat-error>
              </mat-form-field>
            </form>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Canal de Contacto:" [formControl]="canalContacto"/>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-step>

      <!-- DATOS DE CONTACTO -->
      <mat-step label="Datos de contacto" [stepControl]="formDatosContacto">
        <form [formGroup]="formDatosContacto">
          <div class="form-group row">
            <div class="col-md-6">
              <mat-form-field class="mat-form-field-fluid">
                <input placeholder="Télefono Móvil:" required [formControl]="telefonoMovil"  autocomplete="off" matInput numeric numericType="number"
                (keypress)="numberOnly($event)" >
                <mat-error>{{ getErrorMessage("telefonoMovil") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="mat-form-field-fluid">
                <input placeholder="Tel&#233;fono Domicilio:" [formControl]="telefonoFijo"  autocomplete="off" matInput numeric numericType="number"
                (keypress)="numberOnly($event)" />
                <mat-error>{{ getErrorMessage("telefonoFijo") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Correo electr&#243;nico" [formControl]="email" required/>
                <mat-error>{{ getErrorMessage("email") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="mat-form-field-fluid">
                <input placeholder="Télefono Oficina/Otros:" [formControl]="telefonoOtro" autocomplete="off" matInput numeric numericType="number"
                (keypress)="numberOnly($event)" />
                <mat-error>{{ getErrorMessage("telefonoOtro") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-step>

      <!--Direccion Domicilio -->
      <mat-step label="Dirección Domicilio" [stepControl]="formDatosDireccionDomicilio">
        <form [formGroup]="formDatosDireccionDomicilio">
          <div class="form-group row">
            <div class="col-md-4">
              <mat-checkbox (change)="direccionLegalD()" [formControl]="direccionLegalDomicilio">Es Dirección Legal</mat-checkbox>
            </div>
            <div class="col-md-4">
              <mat-checkbox (change)="direccionCorreoD()" [formControl]="direccionCorreoDomicilio">Es Dirección Envio Correspondencia</mat-checkbox>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <form class="example-form">
                <mat-form-field class="mat-form-field-fluid">
                <input matInput type= "text" placeholder="Parroquia / Canton / Provincia :"[matAutocomplete]="auto2" [formControl]= "ubicacion" > <!--(selectionChange)="crearUbicacionDomicilio()"-->
                  <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let Dd of catFiltradoUbicacionDomicilio | async" [value]="Dd">
                      {{Dd.nombre}}
                    </mat-option>
                  </mat-autocomplete>
                <mat-error>{{ getErrorMessage("Parroquia / Canton / Provincia") }}</mat-error>
              </mat-form-field>
            </form>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input required matInput placeholder="Barrio:" [formControl]="barrio"/>
                <mat-error>{{ getErrorMessage("barrio") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select required placeholder="Sector:" [formControl]="sector">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catSectorVivienda" [value]="element">
                     {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("sector") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput required placeholder="Calle Principal:" [formControl]="callePrincipal"/>
                <mat-error>{{ getErrorMessage("callePrincipal") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput required placeholder="Numeración:"[formControl]="numeracion"/>
                <mat-error>{{ getErrorMessage("numeracion") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput required placeholder="Calle Secundaria:" [formControl]="calleSecundaria"/>
                <mat-error>{{ getErrorMessage("calleSecundaria") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput required placeholder="Referencia Ubicación:" [formControl]="referenciaUbicacion"/>
                <mat-error>{{ getErrorMessage("referenciaUbicacion")}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Tipo de Vivienda:" required [formControl]="tipoVivienda">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catTipoVivienda" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("tipoVivienda") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-step>

      <!-- Direccion laboral -->
      <mat-step label="Dirección Laboral"  [stepControl]="formDatosDireccionLaboral">
        <form [formGroup]="formDatosDireccionLaboral">
          <div class="form-group row">
            <div class="col-md-4">
              <mat-checkbox (change)="direccionLegalL()" [formControl]="direccionLegalLaboral">Es Dirección Legal</mat-checkbox>
            </div>
            <div class="col-md-4">
              <mat-checkbox (change)="direccionCorreoL()" [formControl]="direccionCorreoLaboral">Es Dirección Envio Correspondencia</mat-checkbox>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              
                <mat-form-field class="mat-form-field-fluid">
                <input matInput type= "text" placeholder="Parroquia / Canton / Provincia :" [matAutocomplete]="auto1" required [formControl]= "ubicacionO"  >
                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let asd of catFiltradoUbicacionLaboral | async" [value]="asd">
                    {{asd.nombre}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
                <mat-error>{{ getErrorMessage("Parroquia / Canton / Provincia") }}</mat-error>
              
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input  matInput required placeholder="Barrio:" [formControl]="barrioO"/>
                <mat-error>{{ getErrorMessage("barrioO") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select required placeholder="Sector:" [formControl]="sectorO">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catSectorVivienda" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("sectorO") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput  required placeholder="Calle Principal:" [formControl]="callePrincipalO"/>
                <mat-error>{{ getErrorMessage("callePrincipalO") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput
                  placeholder="Numeración:" required [formControl]="numeracionO"/>
                <mat-error>{{ getErrorMessage("numeracionO") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput  placeholder="Calle Secundaria:" required   [formControl]="calleSecundariaO"  />
                <mat-error>{{ getErrorMessage("calleSecundariaO") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Referencia Ubicación:" required [formControl]="referenciaUbicacionO"/>
                <mat-error>{{
                  getErrorMessage("referenciaUbicacionO")
                }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Tipo de Vivienda:" required [formControl]="tipoViviendaO">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catTipoVivienda" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("tipoViviendaO") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-step>

      <!-- Datos Economico -->
      <mat-step label="Datos Económico " [stepControl]="formDatosEconomicos">
        <form [formGroup]="formDatosEconomicos">
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Origen Ingreso:" required [formControl]="origenIngresos" (selectionChange)="setRelacionDependencia()">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catOrigenIngreso" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("origenIngresos") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Nombre de la empresa:" required [formControl]="nombreEmpresa"/>
                <mat-error>{{ getErrorMessage("nombreEmpresa") }}</mat-error>
              </mat-form-field>
            </div>
            <ng-container *ngIf="this.origenIngresos.value.codigo == '1' || this.origenIngresos.value.codigo == '2'; else elseTemplate">
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <mat-select placeholder="Actividad Económica:" required [formControl]="actividadEconomicaEmpresa">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let element of catActividadEconomica" [value]="element">
                      {{ element.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid">
                  <mat-select placeholder="Actividad Económica Mupi:" required [formControl]="actividadEconomicaMupi">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let element of catActividadEconomicaMupi" [value]="element">
                      {{ element.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-template>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input
                  matInput
                  placeholder="Relación de Dependencia:"
                  [formControl]="relacionDependencia"
                />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Cargo:" [formControl]="cargo" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catCargo" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("cargo") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Profesión:" [formControl]="profesion" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catProfesion" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("profesion") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Ocupación:" [formControl]="ocupacion" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catOcupacion" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("ocupacion") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-step>

      <!-- Ingresos Egresos -->
      <mat-step label="Ingresos / Egresos" [stepControl]="  ">
        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="formDatosIngreso">
              <div class="form-group row">
                <div class="col-md-12">
                  <mat-form-field class="mat-form-field-fluid">
                    <input placeholder="Valor De Ingreso:" [formControl]="valorIngreso"  autocomplete="off" matInput numeric numericType="number"
                    (keypress)="numberOnly($event)" />
                    <mat-error>{{ getErrorMessage("valorIngreso") }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div  class="form-group row">
                <div class="col-md-12">
                  <a href="javascript:void(0);" (click)="nuevoIngreso()" matTooltip="Agregar " style="font-size: 12px; vertical-align: middle;">
                    <mat-icon style="font-size: 32px;" matTooltipPosition="above">add_circle_outline</mat-icon>
                    <span style="position: relative; top: -10px; margin-left: 5px;">Agregar Ingreso</span>
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form [formGroup]="formDatosEgreso">
              <div class="form-group row">
                <div class="col-md-12">
                  <mat-form-field class="mat-form-field-fluid">
                    <input placeholder="Valor De Egreso:" [formControl]="valorEgreso" autocomplete="off" matInput numeric numericType="number"
                    (keypress)="numberOnly($event)" />
                    <mat-error>{{ getErrorMessage("valorIngreso") }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <a href="javascript:void(0);"  (click)="nuevoEgreso()" matTooltip="Agregar " style="font-size: 12px; vertical-align: middle;">
                    <mat-icon style="font-size: 32px;" matTooltipPosition="above">add_circle_outline</mat-icon>
                    <span style="position: relative; top: -10px; margin-left: 5px;">Agregar Egreso</span>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <mat-table  #table class="mat-elevation-z8"  [dataSource]="dataSourceIngresoEgreso" style="max-width: 760px;">
          <ng-container matColumnDef="Accion">
            <mat-header-cell *matHeaderCellDef> Acci&#243;n </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a (click)="deleteIngresoEgreso(element)">
                <mat-icon matTooltip="Borrar">delete</mat-icon>
              </a>
              <a (click)="editar(element)">
                <mat-icon matTooltip="Editar">edit</mat-icon>
              </a>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="Is">
            <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.esIngreso else elseTemplate">
                Ingreso
              </ng-container>
              <ng-template #elseTemplate>
                Egreso
              </ng-template>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="Valor">
            <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.valor | currency: "USD":true:"1.2" }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
              {{ totalValorIngresoEgreso | currency: "USD":true:"1.2" }}
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsII"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsII"></mat-row>
          <mat-footer-row *matFooterRowDef="displayedColumnsII"></mat-footer-row>
        </mat-table>
      </mat-step> 
      
      <!-- Patrimonio -->
      <mat-step label="Patrimonio">
        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="formDatosPatrimonioActivos">
              <div class="form-group row">
                <div class="ofset-md-1 col-md-5">
                  <mat-form-field class="mat-form-field-fluid">
                    <input  matInput placeholder="Activos:"  autocomplete="off" [formControl]="activo" type="text"/>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="mat-form-field-fluid">
                    <input placeholder="Avaluo:" [formControl]="avaluoActivo"  autocomplete="off" matInput numeric numericType="number"
                    (keypress)="numberOnly($event)" />
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-md-4 col-md-4">
                  <a href="javascript:void(0);" (click)="nuevoActivo()" matTooltip="Agregar" style="font-size: 12px; vertical-align: middle;">
                    <mat-icon style="font-size: 32px;" matTooltipPosition="above">add_circle_outline</mat-icon>
                    <span style="position: relative; top: -10px; margin-left: 5px;">Agregar Activo</span>
                  </a>
                </div>
              </div>
            </form>
            <mat-table  #table  class="mat-elevation-z8"  [dataSource]="dataSourcePatrimonioActivo"  style="max-width: 760px;">
              <ng-container matColumnDef="Accion">
                <mat-header-cell *matHeaderCellDef> Acci&#243;n </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a (click)="deleteActivo(element)"> <mat-icon matTooltip="Borrar">delete</mat-icon> </a>
                  <a (click)="editarActivo(element)"> <mat-icon matTooltip="Editar">edit</mat-icon> </a>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="Activo">
                <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.activos | titlecase }} </mat-cell>
                <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="Avaluo">
                <mat-header-cell *matHeaderCellDef> Avaluo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.avaluo | currency: "USD":true:"1.2" }} </mat-cell>
                <mat-footer-cell *matFooterCellDef> {{ totalActivo | currency: "USD":true:"1.2" }}</mat-footer-cell>
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumnsActivo"
              ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsActivo"></mat-row>
              <mat-footer-row
                *matFooterRowDef="displayedColumnsActivo; sticky: true"
              ></mat-footer-row>
            </mat-table>
          </div>
          <div class="col-md-6">
            <form [formGroup]="formDatosPatrimonioPasivos">
              <div class="form-group row">
                <div class="offset-md-1 col-md-5">
                  <mat-form-field class="mat-form-field-fluid">
                    <input  matInput placeholder="Pasivo:"  autocomplete="off" [formControl]="pasivo" type="text"/>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="mat-form-field-fluid">
                    <input placeholder="Avaluo:" [formControl]="avaluoPasivo" autocomplete="off" matInput numeric numericType="number"
                    (keypress)="numberOnly($event)" />
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-md-4 col-md-4">
                  <a href="javascript:void(0);" (click)="nuevoPasivo()" matTooltip="Agregar" style="font-size: 12px; vertical-align: middle;">
                    <mat-icon style="font-size: 32px;" matTooltipPosition="above">add_circle_outline</mat-icon>
                    <span style="position: relative; top: -10px; margin-left: 5px;">Agregar Pasivo</span>
                  </a>
                </div>
              </div>
            </form>
            <mat-table  #table  class="mat-elevation-z8"  [dataSource]="dataSourcePatrimonioPasivo"  style="max-width: 760px;">
              
              <ng-container matColumnDef="Accion">
                <mat-header-cell *matHeaderCellDef> Acci&#243;n </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a (click)="deletePasivo(element)"> <mat-icon matTooltip="Borrar">delete</mat-icon> </a>
                  <a (click)="editarPasivo(element)"> <mat-icon matTooltip="Editar">edit</mat-icon> </a>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>

              <ng-container matColumnDef="Pasivo">
                <mat-header-cell *matHeaderCellDef> Pasivo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.pasivos | titlecase }}</mat-cell>
                <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
              </ng-container>

              <ng-container matColumnDef="Avaluo">
                <mat-header-cell *matHeaderCellDef> Avaluo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.avaluo | currency: "USD":true:"1.2" }}</mat-cell>
                <mat-footer-cell *matFooterCellDef>  {{ totalPasivo | currency: "USD":true:"1.2" }} </mat-footer-cell>
              </ng-container>
    
              <mat-header-row *matHeaderRowDef="displayedColumnsPasivo"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsPasivo"></mat-row>
              <mat-footer-row *matFooterRowDef="displayedColumnsPasivo; sticky: true"></mat-footer-row>

            </mat-table>
          </div>
        </div> 
      </mat-step>
      <mat-step label="Cuentas Bancarias">
        <div class="row">
          <div class="col-md-10">
            <form [formGroup]="formCuentas">
              <div class="form-group row">
                <div class="col-md-4 ">
                  <mat-form-field class="mat-form-field-fluid">
                      <mat-select required placeholder="Tipo de cuenta" [formControl]="tipoCuenta">
                          <mat-option *ngFor="let element of catCuenta" [value]="element">
                              {{element.nombre }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 ">
                    <mat-form-field class="mat-form-field-fluid">
                        <input [formControl]="numeroCuenta" placeholder="Numero de Cuenta" required  autocomplete="off" matInput numeric numericType="number"
                        (keypress)="numberOnly($event)" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-checkbox [formControl]="esAhorro"> Es Ahorro? </mat-checkbox>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-md-4 col-md-5">
                  <a href="javascript:void(0);" (click)="nuevaCuenta()" matTooltip="Agregar" style="font-size: 12px; vertical-align: middle;">
                    <mat-icon style="font-size: 32px;" matTooltipPosition="above">add_circle_outline</mat-icon>
                    <span style="position: relative; top: -10px; margin-left: 5px;">Agregar Cuenta</span>
                  </a>
                </div>
              </div>
            </form>
            <mat-table  #table  class="mat-elevation-z8"  [dataSource]="dataSourceCuentas"  style="max-width: 760px;">
              <ng-container matColumnDef="Accion">
                <mat-header-cell *matHeaderCellDef> Acci&#243;n </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a (click)="deleteCuenta(element)"> <mat-icon matTooltip="Borrar">delete</mat-icon> </a>
                  <a (click)="editarCuenta(element)"> <mat-icon matTooltip="Editar">edit</mat-icon> </a>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="banco">
                <mat-header-cell *matHeaderCellDef> Banco </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.banco }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cuenta">
                <mat-header-cell *matHeaderCellDef> Cuenta </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.cuenta }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="esAhorros">
                <mat-header-cell *matHeaderCellDef> Es Ahorro? </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.esAhorros ? 'SI' : 'NO' }} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsCuentas"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsCuentas"></mat-row>
             
            </mat-table>
          </div>
        </div> 
      </mat-step>
      <!-- Referencias personales -->
      <mat-step label="Referencias Personales" [stepControl]="formDatosReferenciasPersonales">
        <form [formGroup]="formDatosReferenciasPersonales">
          <div class="form-group row">
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Nombres:" [formControl]="apellidosRef" required/>
                <mat-error>{{ getErrorMessage("nombresCompletosR") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Apellidos:" [formControl]="nombresRef" required/>
                <mat-error>{{ getErrorMessage("nombresCompletosR") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="Parentesco:" [formControl]="parentescoR"  required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let element of catTipoReferencia" [value]="element">
                    {{ element.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage("parentescoR") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input  matInput placeholder="Dirección:" [formControl]="direccionR" required/>
                <mat-error>{{ getErrorMessage("direccionR") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input placeholder="Teléfono Movil:" [formControl]="telefonoMovilR" required  autocomplete="off" matInput numeric numericType="number"
                (keypress)="numberOnly($event)" />
                <mat-error>{{ getErrorMessage("telefonoMovilR") }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-form-field-fluid">
                <input placeholder="Teléfono Fijo:" [formControl]="telefonoFijoR" required  autocomplete="off" matInput numeric numericType="number"
                (keypress)="numberOnly($event)" />
                <mat-error>{{ getErrorMessage("telefonoFijoR") }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-md-5 col-md-4">
              <a  href="javascript:void(0);"  (click)="nuevaReferencia()" matTooltip="Agregar" style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 32px;" matTooltipPosition="above">add_circle_outline</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;">Agregar</span>
              </a>
            </div>
          </div>
          <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource">
            <ng-container matColumnDef="Accion">
              <mat-header-cell *matHeaderCellDef> Acci&#243;n </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a (click)="deleteReferencia(element)"> <mat-icon matTooltip="Borrar">delete</mat-icon></a>
                <a (click)="editarReferencia(element)"> <mat-icon matTooltip="Editar">edit</mat-icon></a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="N">
              <mat-header-cell *matHeaderCellDef> N. </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombresRef">
              <mat-header-cell *matHeaderCellDef>Nombres</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.nombres  | titlecase  }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="apellidosRef">
              <mat-header-cell *matHeaderCellDef>Apellidos</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.apellidos  | titlecase }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Parentesco">
              <mat-header-cell *matHeaderCellDef> Parentesco </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.parentesco  | titlecase }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Direccion">
              <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.direccion  | titlecase }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="TelefonoMovil">
              <mat-header-cell *matHeaderCellDef>Teléfono Movil</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.telefonoMovil }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="TelefonoFijo">
              <mat-header-cell *matHeaderCellDef>Teléfono Fijo</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.telefonoFijo }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </form>
      </mat-step>
    </mat-vertical-stepper>

  </re-portlet-body>
  <re-portlet-footer></re-portlet-footer>
</re-portlet>
