<form [formGroup]="formOperacion">
    <div class="row m-5">
        <div class="col-md-3">
            <mat-form-field class="mat-form-field-fluid">
                <mat-select required  placeholder="Intitucion Financiera"  [formControl]="intitucionFinanciera">
                    <mat-option *ngFor="let element of catBanco" [value]="element">
                        {{element.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [formControl]="cuenta" placeholder="Cuenta" numeric numericType="number"
                (keypress)="numberOnly($event)" />
            </mat-form-field>
        </div>			
        <div class="col-md-3">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [formControl]="numeroDeposito" placeholder="NumeroDeposito" numeric numericType="number"/>
            </mat-form-field>
        </div>					
        <div class="col-md-3">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [formControl]="valorDepositado" placeholder="Valor Depositado" numeric numericType="number" />
            </mat-form-field>
        </div>		
        <div class="col-md-3 offset-3">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [matDatepicker]="picker6" [formControl]="fechaPago" placeholder="Fecha Pago">
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
            </mat-form-field>
        </div>	
        <div class="col-md-3 offset-3">
            <mat-form-field class="mat-form-field-fluid">
                <mat-select required  placeholder="Tipo de Pago"  [formControl]="tipoPago">
                    <mat-option *ngFor="let element of catTipoPago" [value]="element">
                        {{element.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>	

        <div class="col-4 offset-4 pl-3 ml-3">
            <button mat-stroked-button color="basic" matStepperNext (click)="loadArchivoCliente()">
                <span color="primary">Cargar Comprobante</span>
            </button>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-2 offset-4">
            <button mat-stroked-button color="primary" matStepperNext (click)="aceptar()">
                <span color="primary">Aceptar</span>
            </button>
        </div>
        <div class="col-2"> 
            <button mat-stroked-button color="warn" matStepperNext (click)="cancelar()">
                <span color="warn">Cancelar</span>
            </button>
        </div>
    </div>
</form>