<form [formGroup]="formOperacion">
    <div class="row m-5">
        <div class="col-md-4">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [formControl]="intitucionFinanciera" placeholder="Intitucion Financiera"/>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [formControl]="numeroDeposito" placeholder="NumeroDeposito"/>
            </mat-form-field>
        </div>					
        <div class="col-md-4">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [formControl]="valorDepositado" placeholder="Valor Depositado"/>
            </mat-form-field>
        </div>		
        <div class="col-md-4">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [formControl]="cuenta" placeholder="Cuenta"/>
            </mat-form-field>
        </div>			
        <div class="col-md-4">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput [formControl]="fechaPago" placeholder="Fecha Pago"/>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-2 offset-4">
            <button mat-stroked-button color="primary" matStepperNext (click)="aceptar()">
                <span color="primary">Aceptar</span>
            </button>
        </div>
        <div class="col-2"> 
            <button mat-stroked-button color="warn" matStepperNext (click)="cancelar()">
                <span color="warn">Cancelar</span>
            </button>
        </div>
    </div>
</form>