<div class="spinner-container" *ngIf="loading | async">
    <mat-spinner class="spiner"></mat-spinner>
  </div>
 
 <!--START MAT TABLE-->
 <div class="mat-table__wrapper">
    <mat-table #table class="mat-elevation-z8" [dataSource]="displayedColumnsVariablesCrediticias" matSort #sort1="matSort"
      matSortActive="orden" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="orden">
        <mat-header-cell *matHeaderCellDef>Orden</mat-header-cell>
        <mat-cell *matCellDef="">
         
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="variable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Variable</mat-header-cell>
        <mat-cell *matCellDef="">
        
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
        <mat-cell *matCellDef="">
         
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsVariablesCrediticias"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsVariablesCrediticias"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="paged()">
    </mat-paginator>
  </div>
  <!--end MAT TABLE-->