<re-portlet>
    <re-portlet-header [title]="'Listado Clientes'" [class]="'kt-portlet__head--lg'">

        <!-- <ng-container ktPortletTools>
           
            <a href="javascript:void(0);" [routerLink]="['../gestion-cliente','']" matTooltip="Crear nuevo cliente" style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px" matTooltipPosition="above" class="blue-icon">control_point</mat-icon>
                <span style="position: relative;top: -10px;margin-left: 5px;" class="blue-icon">Nuevo cliente</span>
            </a>

            <a href="javascript:void(0);" matTooltip="Crear nuevo cliente" style="font-size: 12px; vertical-align: middle;" (click)="test()">
                <mat-icon style="font-size: 24px" matTooltipPosition="above" class="blue-icon">control_point</mat-icon>
                <span style="position: relative;top: -10px;margin-left: 5px;" class="blue-icon">Test</span>
            </a>
        </ng-container> -->
    </re-portlet-header>
    <re-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="kt-form">
            <!-- start::FILTERS -->
            <div class="kt-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="identificacionCliente" placeholder="Identificacion" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nombreCliente" placeholder="Nombres " autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 kt-margin-bottom-10-mobile" *ngIf="bandera">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="apellidoCliente" placeholder="Apellidos " autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row align-items-center" *ngIf="bandera">
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaNacimiento" placeholder="Fecha de nacimiento " autocomplete="off" [value]="fechaNacimiento.value | rDate">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="estadoCivil" placeholder="Estado Civil " autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="genero" placeholder="Genero" autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>
        <!-- END FILTERS -->
        <div class="row">
            <a href="javascript:void(0);" (click)="buscar()" matTooltip="Buscar Cliente" style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size:24px" class="orange-icon" matTooltipPosition="above">search</mat-icon>
                <span style="position: relative;top: -10px;margin-left: 5px;" class="orange-icon">Buscar cliente</span>
            </a>
        </div>
        <!--START MAT TABLE-->
        <div class="mat-table__wrapper">
            <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="nombreCompleto" matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>
                        Acciones
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <!-- <a href="javascript:void(0);" [routerLink]="['../gestion-cliente', row.id]" color="primary" [ngClass]="['primary']">
                            <mat-icon style="font-size: 16px;" class="green-icon"   matTooltipPosition="above" matTooltip="Editar cliente">remove_red_eye
                            </mat-icon>
                        </a> -->
                        <a href="javascript:void(0);" (click)="verHabilitantes(row)" color="primary" [ngClass]="['primary']">
                            <mat-icon style="font-size: 16px;" class="green-icon" matTooltipPosition="above" matTooltip="Ver Documentos">remove_red_eye
                            </mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="cedula">
                    <mat-header-cell *matHeaderCellDef>Cedula</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.cedulaCliente}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nombreCompleto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres Completos</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.primerNombre}} {{element.segundoNombre}} {{element.apellidoPaterno}} {{element.apellidoMaterno}}</mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="nivelEducacion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nivel de Educacion</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.nivelEducacion}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="genero">
                    <mat-header-cell *matHeaderCellDef>Genero</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.genero}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="estadoCivil">
                    <mat-header-cell *matHeaderCellDef>Estado Civil</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.estadoCivil}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaNacimiento">
                <mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fechaNacimiento | rDate}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nacionalidad">
                <mat-header-cell *matHeaderCellDef>Nacionalidad</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nacionalidad}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edad">
                    <mat-header-cell *matHeaderCellDef>Edad</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.edad}} </mat-cell>
                </ng-container>
            <ng-container matColumnDef="actividadEconomica">
                <mat-header-cell *matHeaderCellDef>Actividad Economica</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.actividadEconomica}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="canalContacto">
                <mat-header-cell *matHeaderCellDef>Canal de Contacto</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.estado}} </mat-cell>
            </ng-container> -->

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="paged()">
            </mat-paginator>

        </div>
        <!--end MAT TABLE-->

    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>