.example-table {
    overflow: auto;
    min-height: auto;
  }
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  .mat-table {
    overflow: auto;
    max-height: auto;
    width: 100%;
  }
  .mat-footer-row {
    font-weight: bold;
    justify-content: start;
  }
  .mat-column-Accion {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-Plazo {
    flex: 0 0 100px;
    justify-content: flex-start; 
  }
  
  .mat-column-TipoOperacion {
    flex: 0 0 150px;
    justify-content: start;
  }
  
  .mat-column-PeriodicidadPlazo {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-TipoOferta {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-MontoPreAprobado{
    flex: 0 0 80px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-FechaAprobacion {
    flex: 0 0 110px;
    justify-content: start;
  }
  
  .mat-column-FechaFinalCredito {
    flex: 0 0 110px;
    justify-content: start;
  }
  
  .mat-column-CoberturaAnterior {
    flex: 0 0 110px;
    justify-content: start;
  }
  
  .mat-column-CoberturaActual {
    flex: 0 0 120px;
    justify-content: start;
  }
  
  .mat-column-EstatusCredito {
    flex: 0 0 100px;
    justify-content: start;
  }
  
  .mat-column-MotivoBloqueo {
    flex: 0 0 100px;
    justify-content: start;
  }
  
  .mat-column-DiasMora {
    flex: 0 0 80px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-EstadoMediacion {
    flex: 0 0 120px;
    justify-content: start;
  }
  
  .mat-column-Retanqueo {
    flex: 0 0 100px;
    justify-content: start;
  }
  
  .mat-column-Cuota {
    flex: 0 0 80px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-CapitalCuotaAtrasada {
    flex: 0 0 150px;
    justify-content: flex-end;
  }
  .mat-column-InteresCuotaAtrasada {
    flex: 0 0 150px;
    justify-content: flex-end;
  }
  .mat-column-Mora {
    flex: 0 0 80px;
    justify-content: flex-end;
  }
  
  .mat-column-GestionCobranza {
    flex: 0 0 120px;
    justify-content: flex-end;
  }
  
  .mat-column-Custodia {
    flex: 0 0 100px;
    justify-content: flex-end;
  }
  
  .mat-column-TotalDeuda {
    flex: 0 0 80px;
    justify-content: flex-end;
  }
  
  .mat-column-NroCuotasImpagadas {
    flex: 0 0 150px;
    justify-content: flex-end;
  }
  
  .mat-column-UltDivPagado {
    flex: 0 0 110px;
    justify-content: flex-end;
  }
  .spiner{
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 60%; 
  }
  
  .material-icons {
    font-size: 31px !important;
    height: 31px;
    width: 34px;
    color: gray;
    text-align: center;
  }
  .warning-icons {
    font-size: 31px !important;
    height: 31px;
    width: 34px;
    color: gray;
    text-align: center;
    vertical-align: middle;
  }
  
  .mat-button .mat-button-wrapper > *,
  .mat-fab .mat-button-wrapper > *,
  .mat-flat-button .mat-button-wrapper > *,
  .mat-icon-button .mat-button-wrapper > *,
  .mat-mini-fab .mat-button-wrapper > *,
  .mat-raised-button .mat-button-wrapper > *,
  .mat-stroked-button .mat-button-wrapper > * {
    vertical-align: baseline;
  }
  
  .mat-button,
  .mat-flat-button,
  .mat-icon-button,
  .mat-stroked-button {
    min-width: 28px; //da espacio al data table
    height: fit-content !important; //quita fondo cuando sobrepone
  }
  
  .example-container > * {
    width: 100%;
  }
  
  table{
    width: 100%;
  }
  
  .white-icon {
    color: white;
  }
  /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
  .white-icon svg {
      fill: white;
  }
  
  .blue-icon {
    color:#3399ff;
  }
  /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
  .blue-icon svg {
      fill: #3399ff;
  }

  .textArea {
    color: black;
    background-color: white;
    border-color: silver;
    font-weight: 400;
  }
  
  .warning {
    color: white;
    background-color: #cc8b00;
    border-color: white;
    font-weight: 400;
  }

  .error-snackbar {
    color: white;
    background-color: red;
    border-color: white;
    font-weight: 400;
  }    
  .text-align {   
    justify-content: center;
    font-size: smaller;
  }