.example-table {
    overflow: auto;
    min-height: auto;
  }
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  .mat-table {
    overflow: auto;
    max-height: auto;
    width: 100%;
  }
  .mat-footer-row {
    font-weight: bold;
    justify-content: start;
  }
  .mat-column-Accion {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-Plazo {
    flex: 0 0 100px;
    justify-content: flex-start; 
  }
  
  .mat-column-TipoOperacion {
    flex: 0 0 150px;
    justify-content: start;
  }
  
  .mat-column-PeriodicidadPlazo {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-TipoOferta {
    flex: 0 0 100px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-MontoPreAprobado{
    flex: 0 0 80px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-FechaAprobacion {
    flex: 0 0 110px;
    justify-content: start;
  }
  
  .mat-column-FechaFinalCredito {
    flex: 0 0 110px;
    justify-content: start;
  }
  
  .mat-column-CoberturaAnterior {
    flex: 0 0 110px;
    justify-content: start;
  }
  
  .mat-column-CoberturaActual {
    flex: 0 0 120px;
    justify-content: start;
  }
  
  .mat-column-EstatusCredito {
    flex: 0 0 100px;
    justify-content: start;
  }
  
  .mat-column-MotivoBloqueo {
    flex: 0 0 100px;
    justify-content: start;
  }
  
  .mat-column-DiasMora {
    flex: 0 0 80px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-EstadoMediacion {
    flex: 0 0 120px;
    justify-content: start;
  }
  
  .mat-column-Retanqueo {
    flex: 0 0 100px;
    justify-content: start;
  }
  
  .mat-column-Cuota {
    flex: 0 0 80px;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .mat-column-CapitalCuotaAtrasada {
    flex: 0 0 150px;
    justify-content: flex-end;
  }
  .mat-column-InteresCuotaAtrasada {
    flex: 0 0 150px;
    justify-content: flex-end;
  }
  .mat-column-Mora {
    flex: 0 0 80px;
    justify-content: flex-end;
  }
  
  .mat-column-GestionCobranza {
    flex: 0 0 120px;
    justify-content: flex-end;
  }
  
  .mat-column-Custodia {
    flex: 0 0 100px;
    justify-content: flex-end;
  }
  
  .mat-column-TotalDeuda {
    flex: 0 0 80px;
    justify-content: flex-end;
  }
  
  .mat-column-NroCuotasImpagadas {
    flex: 0 0 150px;
    justify-content: flex-end;
  }
  
  .mat-column-UltDivPagado {
    flex: 0 0 110px;
    justify-content: flex-end;
  }
  