<re-portlet>
  <re-portlet-header [title]="'Cotizar'" [class]="'kt-portlet__head--lg'">
    <ng-container class="d-flex justify-content-around" ktPortletTools>
      <a href="javascript:void(0);" matTooltip="Guardar" (click)="submit('GUARDAR')"
        style="font-size: 12px; vertical-align: middle;">
        <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">save</mat-icon>
        <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Guardar</span>
      </a>
    </ng-container>
    <ng-container class="d-flex justify-content-around" ktPortletTools>
      <a href="javascript:void(0);" matTooltip="Negociar" (click)="submit('NEGOCIAR')"
        style="font-size: 12px; vertical-align: middle;">
        <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="blue-icon">business_center
        </mat-icon>
        <span style="position: relative; top: -10px; margin-left: 5px;" class="blue-icon">Negociar</span>
      </a>
    </ng-container>
    <button mat-button class="blue-icon" matTooltip="Negociar" [routerLink]="['../../negociacion/gestion-negociacion']"
      routerLinkActive="active">
      Negociar
    </button>
  </re-portlet-header>
  <re-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->

    <div class="kt-form">
      <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="formBusqueda">
          <ng-template matStepLabel>Busqueda del Cliente</ng-template>
          <form [formGroup]="formBusqueda">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <input [formControl]="identificacion" placeholder="C.I." autocomplete="off" required matInput
                    [required]="true" numericType="number" (keypress)="numberOnly($event)" />
                  <mat-error>{{ getErrorMessage("identificacion") }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <button mat-button matTooltip="Buscar Cliente" matStepperNext (click)="busquedaCliente()">
                  <mat-icon style="font-size: 24px;" class="orange-icon" matTooltipPosition="above">search</mat-icon>
                  <span class="orange-icon">Buscar
                    cliente</span>
                </button>
              </div>

            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="formCliente">
          <ng-template matStepLabel>Datos Cliente</ng-template>
          <form [formGroup]="formCliente">
            <div class="row mt-2">
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <input name="nombresCompletos" matInput [formControl]="nombresCompletos"
                    placeholder="Nombres Completos " autocomplete="off" ng-pattern="patternNombre" required="true" />
                  <mat-error>{{
                    getErrorMessage("nombresCompletos")
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="entidadCliente" class="offset-md-2 col-md-4">
                <button mat-raised-button (click)="abrirPopupVerCotizacion(entidadCliente.cedulaCliente)">
                  <mat-icon style="font-size: 32px" matTooltipPosition="above" class="blue-icon">remove_red_eye
                  </mat-icon>
                  <span class="blue-icon">Ver cotizacion</span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input matInput #inputFechaNacimiento [matDatepicker]="pickerFechaNacimiento"
                    (dateChange)="onChangeFechaNacimiento()" [formControl]="fechaNacimiento" required="true" />
                  <mat-datepicker-toggle matSuffix [for]="pickerFechaNacimiento"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFechaNacimiento></mat-datepicker>
                  <mat-error>{{getErrorMessage("fechaNacimiento")}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput [formControl]="edad" placeholder="Edad" readonly />
                  <mat-error>{{getErrorMessage("edad")}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput [formControl]="nacionalidad" placeholder="Nacionalidad " autocomplete="off"
                    required="true" />
                  <mat-error>{{ getErrorMessage("nacionalidad") }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput numeric numericType="number" [formControl]="movil" placeholder="Móvil "
                    autocomplete="off" required="true" (keypress)="numberOnly($event)" />
                  <mat-error>{{ getErrorMessage("movil") }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput [formControl]="telefonoDomicilio" placeholder="Teléfono Domicilio" required="true"
                    (keypress)="numberOnly($event)">
                  <mat-error>{{ getErrorMessage("telefonoDomicilio") }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <mat-select matInput placeholder="Publicidad" [formControl]="fpublicidad" required="true">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let publicidad of listPublicidad" [value]="publicidad">
                      {{ publicidad }}
                    </mat-option>
                  </mat-select>
                  <mat-error>{{ getErrorMessage("fpublicidad") }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput [formControl]="correoElectronico" placeholder="Correo Eléctronico" autocomplete="off"
                    required="true" />
                  <mat-error>{{getErrorMessage("correoElectronico")}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid">
                  <input matInput [formControl]="campania" placeholder="Campaña" autocomplete="off" />
                  <mat-error *ngIf="campania.hasError('required')">{{ getErrorMessage("campania") }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span>Aprobación Mupi</span>
                <mat-radio-group [formControl]="aprobacionMupi">
                  <mat-radio-button [checked]='aprobacionMupi.value == "SI"' value="SI">Si</mat-radio-button>
                  <mat-radio-button [checked]='aprobacionMupi.value == "NO"' value="NO">No</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="aprobacionMupi.hasError('required')"><strong>requerido</strong></mat-error>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="formVariables">
          <ng-template matStepLabel>Variables crediticias </ng-template>
          <div class="row mt-2">
            <div class="col-md-8">
              <ng-container *ngIf="dataPopup">
                <kt-tabla-variables-crediticias [dataPopup]='dataPopup' (entidades)='traerEntidadesVariables($event)'>
                </kt-tabla-variables-crediticias>
              </ng-container>
            </div>

            <div class="col-md-2">
              <button mat-stroked-button class="blue-icon" matTooltip="Ver Riesgo Acumulado"
                (click)="goRiesgoAcumulado()">
                Ver Riesgo Acumulado
              </button>
            </div>
          </div>

          <div class="row mt-4">
            <div class="offset-md-5 col-md-12">
              <input [formControl]="bloqueoPrecioOro" type="hidden" />
              <button mat-button matTooltip="Ver Precios" (click)="verPrecio()" (click)="stepper.next()">
                <mat-icon matTooltipPosition="above" matTooltip="Ver Precios" class="blue-icon">remove_red_eye
                </mat-icon>
                <span class="blue-icon">Ver Precios</span>
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step [stepControl]="contadorPrecioOro">
          <ng-template matStepLabel>Precio Oro</ng-template>

          <form [formGroup]="formPrecioOro">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <mat-select placeholder="Tipo de oro" [formControl]="tipoOro"
                    (selectionChange)="setPrecioOro($event)">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let tipoOro of catTipoOro" [value]="tipoOro">
                      {{tipoOro.quilate}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Precio" [formControl]="precio" readonly>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Peso Neto Estimado " [formControl]="pesoNetoEstimado">
                  <mat-error>{{ getErrorMessage('pesoNetoEstimado') }}</mat-error>

                </mat-form-field>
              </div>
            </div>
            <div class="row mb-5">
              <div class="offset-md-5 col-md-2">
                <a href="javascript:void(0);" class="blue-icon style=" (click)="nuevoPrecioOro()" matTooltip="Agregar"
                  style="font-size: 12px; vertical-align: middle;">
                  <mat-icon style="font-size: 32px" matTooltipPosition="above" class="blue-icon style=">
                    add_circle_outline</mat-icon>
                  <span style="position: relative;top: -10px;margin-left: 5px;">Agregar</span>
                </a>
              </div>
            </div>
            <mat-table #table class="mat-elevation-z8" *ngIf="contadorPrecioOro" [dataSource]="dataSourcePrecioOro">

              <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a (click)="eliminarPrecioOro(element)">
                    <mat-icon matTooltip="Eliminar">delete</mat-icon>
                  </a>
                  <a (click)="editar(element)">
                    <mat-icon matTooltip="Editar">edit</mat-icon>
                  </a>
                </mat-cell>
                <td align="left" mat-footer-cell *matFooterCellDef>&#8212;</td>
              </ng-container>
              <ng-container matColumnDef="N">
                <mat-header-cell *matHeaderCellDef> N. </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
                <td align="right" mat-footer-cell *matFooterCellDef>&#8212;</td>
              </ng-container>

              <ng-container matColumnDef="tipoOro">
                <mat-header-cell *matHeaderCellDef> Tipo Oro </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tbQoTipoOro.quilate}} </mat-cell>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.precio}}
                </mat-cell>
                <td mat-footer-cell *matFooterCellDef>
                </td>
              </ng-container>

              <ng-container matColumnDef="pesoNetoEstimado">
                <mat-header-cell *matHeaderCellDef> Peso Neto Estimado </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pesoNetoEstimado | number: '1.2'}} </mat-cell>
                <td align="right" mat-footer-cell *matFooterCellDef> </td>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsPrecioOro"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsPrecioOro;"></mat-row>
            </mat-table>
          </form>
          <div class="row mt-5">
            <div class="offset-md-5 col-md-2" *ngIf="contadorPrecioOro">
              <button mat-button matTooltip="Simular Opciones de credito" (click)="stepper.next()" (click)="simular()">
                <mat-icon style="font-size: 24px;" class="orange-icon" matTooltipPosition="above">search</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Simular</span>
              </button>
            </div>
          </div>

        </mat-step>

        <mat-step [stepControl]="formOpciones">
          <ng-template matStepLabel>Opciones de Crédito </ng-template>
          <div class="row">
            <div class="col">
              <kt-tabla-oferta-calculadora *ngIf="consultaOferta" [consulta]='consultaOferta'
                (entidades)='traerEntidadesOpciones($event)'></kt-tabla-oferta-calculadora>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <form [formGroup]="formOpciones">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select placeholder="Grado Interes" [formControl]="fgradoInteres" required="true">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let interes of listGradosInteres" [value]="interes">
                          {{ interes.valor }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error>{{ getErrorMessage("fgradoInteres") }}</mat-error>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select placeholder="Motivo de Desestimiento" [formControl]="fmotivoDesestimiento" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let motivoDesestimiento of listMotivoDesestimiento"
                          [value]="motivoDesestimiento">
                          {{motivoDesestimiento.valor }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-step>

      </mat-vertical-stepper>
    </div>
    <!-- END FILTERS -->
  </re-portlet-body>
  <re-portlet-footer></re-portlet-footer>
</re-portlet>
