<!-- comento los vertical para que salga 
      <mat-vertical-stepper>
        <mat-step> -->

<re-portlet>
  <re-portlet-header
    [title]="'Cotizar'"
    [class]="'kt-portlet__head--lg'"
  >
    <ng-container ktPortletTools>
      <a
        href="javascript:void(0);"
        (click)="buscar()"
        matTooltip="Buscar Cliente"
        style="font-size: 12px; vertical-align: middle;"
      >
        <mat-icon
          style="font-size: 24px;"
          class="orange-icon"
          matTooltipPosition="above"
          >search</mat-icon
        >
        <span
          style="position: relative; top: -10px; margin-left: 5px;"
          class="orange-icon"
          >Buscar cliente</span
        >
      </a>
      <a
        href="javascript:void(0);"
        [routerLink]="['../gestion-cliente', '']"
        matTooltip="Crear nuevo cotización"
        style="font-size: 12px; vertical-align: middle;"
      >
        <mat-icon
          style="font-size: 24px;"
          matTooltipPosition="above"
          class="blue-icon"
          >control_point</mat-icon
        >
        <span
          style="position: relative; top: -10px; margin-left: 5px;"
          class="blue-icon"
          >Nueva cotizacion</span
        >
      </a>
    </ng-container>
  </re-portlet-header>
  <re-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->

    <div class="kt-form">
      <mat-vertical-stepper>
        <mat-step>
          <ng-template matStepLabel>Datos Cliente</ng-template>
          <div class="kt-form__filtration">
            <div class="row align-items-center">
              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="cedula"
                    placeholder="C.I."
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field>
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker3"
                    [value]="fechaNacimiento.value"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker3"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="nombresCompletos"
                    placeholder="Nombres Completos "
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="edad"
                    placeholder="Edad "
                    autocomplete="off"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="nacionalidad"
                    placeholder="Nacionalidad "
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="movil"
                    placeholder="Móvil "
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="telefonoDomicilio"
                    placeholder="Teléfono Domicilio"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="publicidad"
                    placeholder="Publicidad"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="correoElectronico"
                    placeholder="Correo Eléctronico"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                  <input
                    matInput
                    [formControl]="campania"
                    placeholder="Campaña"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 kt-margin-bottom-10-mobile">
                <label class="mat-form-field-fluid">
                  Aprobado Web MUPI
                </label>
                <label>
                  <input
                    type="radio"
                    value="SI"
                    [formControl]="aprobadoWebMupi"
                  />
                  <span>SI</span>
                </label>
                <span> </span>
                <label>
                  <input
                    type="radio"
                    value="NO"
                    [formControl]="aprobadoWebMupi"
                  />
                  <span>NO</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <a
                href="javascript:void(0);"
                matTooltip="Ver riesgo acumulado "
                style="font-size: 12px; vertical-align: middle;"
              >
                <mat-icon
                  style="font-size: 32px;"
                  matTooltipPosition="above"
                  matTooltip=""
                  >remove_red_eye</mat-icon
                >
                <span style="position: relative; top: -10px; margin-left: 5px;"
                  >Ver Precios
                </span>
              </a>
            </div>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Variables crediticias </ng-template>
          <!--START MAT TABLE-->
          <div class="mat-table__wrapper">
            <mat-table
              #table
              class="mat-elevation-z8"
              [dataSource]="dataSource"
              matSort
              #sort1="matSort"
              matSortActive="variable"
              matSortDirection="asc"
              matSortDisableClear
            >
              <ng-container matColumnDef="orden">
                <mat-header-cell *matHeaderCellDef>Orden</mat-header-cell>
              </ng-container>
              <ng-container matColumnDef="variable">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Variable</mat-header-cell
                >
              </ng-container>
              <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Valor</mat-header-cell
                >
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>
            <mat-paginator
              #paginator
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 20]"
              [showFirstLastButtons]="true"
              [length]="totalResults"
              [pageIndex]="currentPage"
              (page)="paged()"
            >
            </mat-paginator>
          </div>
          <!--end MAT TABLE-->
          <div class="row">
            <div class="col-md-3">
              <a
                href="javascript:void(0);"
                matTooltip="Ver riesgo acumulado "
                style="font-size: 12px; vertical-align: middle;"
              >
                <mat-icon
                  style="font-size: 32px;"
                  matTooltipPosition="above"
                  matTooltip=""
                  >remove_red_eye</mat-icon
                >
                <span style="position: relative; top: -10px; margin-left: 5px;"
                  >Ver riesgo acumulado
                </span>
              </a>
            </div>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Precio Oro</ng-template>
          <div class="row">
            <div class="col-md-12"></div>

            <div class="col-md-4">
              <mat-form-field>
                <mat-select
                  placeholder="Tipo de oro"
                  [formControl]="tipoOro"
                  (selectionChange)="setPrecioOro()"
                >
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let tipoOro of listOros"
                    [value]="tipoOro"
                  >
                    {{ tipoOro.quilate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Precio" [formControl]="precio" />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Precio Neto Estimado"
                  [formControl]="precioEstimado"
                />
              </mat-form-field>
            </div>
          </div>
          <!--START MAT TABLE-->
          <div class="mat-table__wrapper">
            <mat-table
              #table
              class="mat-elevation-z8"
              [dataSource]="dataSource"
              matSort
              #sort1="matSort"
              matSortActive="variable"
              matSortDirection="asc"
              matSortDisableClear
            >
              <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
              </ng-container>
              <ng-container matColumnDef="tipoOro">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Tipo Oro</mat-header-cell
                >
              </ng-container>
              <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Precio</mat-header-cell
                >
              </ng-container>
              <ng-container matColumnDef="pesoNetoEstimado">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Peso Neto Estimado</mat-header-cell
                >
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumnsI"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumnsI"
              ></mat-row>
            </mat-table>
            <mat-paginator
              #paginator
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 20]"
              [showFirstLastButtons]="true"
              [length]="totalResults"
              [pageIndex]="currentPage"
              (page)="paged()"
            >
            </mat-paginator>
          </div>
          <!--end MAT TABLE-->

          <div class="row">
            <div class="col-md-3">
              <a
                href="javascript:void(0);"
                matTooltip="Simular "
                style="font-size: 12px; vertical-align: middle;"
              >
                <mat-icon
                  style="font-size: 32px;"
                  matTooltipPosition="above"
                  matTooltip=""
                  >remove_red_eye</mat-icon
                >
                <span style="position: relative; top: -10px; margin-left: 5px;"
                  >Simular
                </span>
              </a>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Opciones de Crédito </ng-template>

           <!--START MAT TABLE-->
           <div class="mat-table__wrapper">
            <mat-table
              #table
              class="mat-elevation-z8"
              [dataSource]="dataSource"
              matSort
              #sort1="matSort"
              matSortActive="variable"
              matSortDirection="asc"
              matSortDisableClear
            >
              <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
              </ng-container>
              <ng-container matColumnDef="tipoOro">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Tipo Oro</mat-header-cell
                >
              </ng-container>
              <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Precio</mat-header-cell
                >
              </ng-container>
              <ng-container matColumnDef="pesoNetoEstimado">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Peso Neto Estimado</mat-header-cell
                >
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumnsI"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumnsI"
              ></mat-row>
            </mat-table>
            <mat-paginator
              #paginator
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 20]"
              [showFirstLastButtons]="true"
              [length]="totalResults"
              [pageIndex]="currentPage"
              (page)="paged()"
            >
            </mat-paginator>
          </div>
          <!--end MAT TABLE-->








        </mat-step>
      </mat-vertical-stepper>
    </div>

    <!-- END FILTERS -->
  </re-portlet-body>
  <re-portlet-footer></re-portlet-footer>
</re-portlet>

<!-- comento los vertical para que salga   </mat-step>     </mat-vertical-stepper> -->
