  .spiner{
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%; 
  }
  .material-icons {
    font-size: 31px !important;
    height: 31px;
    width: 34px;
    color: gray;
    text-align: center;
  }
  .warning-icons {
    font-size: 31px !important;
    height: 31px;
    width: 34px;
    color: gray;
    text-align: center;
    vertical-align: middle;
  }
  .mat-button .mat-button-wrapper > *,
  .mat-fab .mat-button-wrapper > *,
  .mat-flat-button .mat-button-wrapper > *,
  .mat-icon-button .mat-button-wrapper > *,
  .mat-mini-fab .mat-button-wrapper > *,
  .mat-raised-button .mat-button-wrapper > *,
  .mat-stroked-button .mat-button-wrapper > * {
    vertical-align: baseline;
  } 
  .mat-button,
  .mat-flat-button,
  .mat-icon-button,
  .mat-stroked-button {
    min-width: 28px; //da espacio al data table
    height: fit-content !important; //quita fondo cuando sobrepone
  }
  table{
    width: 100%;
  }
  .white-icon {
    color: white;
  }
  /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
  .white-icon svg {
      fill: white;
  }
  .blue-icon {
    color:#3399ff;
  }
  /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
  .blue-icon svg {
      fill: #3399ff;
  }
  .orange-icon {
    color:#ff9900;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.orange-icon svg {
fill: #ff9900;
}
.warning {
color: white;
background-color: #cc8b00;
border-color: white;
font-weight: 400;
}
.error-snackbar {
color: white;
background-color: red;
border-color: white;
font-weight: 400;
}    
.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}
.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;

  font-size: smaller;
}
.mat-cell {
  text-align: center;
  justify-content:center;
  font-size: smaller;
}
.mat-footer-cell{
  font-weight: bold;
  text-align: center;
  justify-content:center;
  font-size: smaller;
}
.garantia{
  width: 100%;
  max-height: 400px;
  overflow: auto;
}
.simulacion{
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

.disabled{
  color: black;
  background-color: white;
  border-color: gray;
  font-weight: 400;
}
.mat-stroked-button.mat-warn{
  color: white !important;
  background-color: red !important;
  border-color: white !important;
  font-weight: 400 !important;
}
.mat-stroked-button.mat-primary{
  color: white !important;
  background-color: #00cc00 !important;
  border-color: white !important;
  font-weight: 400 !important;
}
.footer-centrado {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
}
.custom-separator {
  border-top: 1px solid #e0e0e0; /* Cambia el color y grosor según prefieras */
  margin: 8px 0;
}
.custom-alto{
  height: 100% !important;
}