<div class="row m-1">
    <div class="col">
        <mat-card>
            <mat-card-title> Riesgo Acumulado </mat-card-title>
            <mat-card-content>
                <ng-container *ngIf="soft; else elseTemplate">
                    <kt-tabla-riesgo-acumulado [cedula]="identificacion" [isGuardar]="isGuardar">
                    </kt-tabla-riesgo-acumulado>
                </ng-container>
                <ng-template #elseTemplate>
                    <ng-container *ngIf="core; else elseTemplate">
                        <kt-tabla-riesgo-acumulado [idCliente]="idCliente" [isGuardar]="isGuardar" [isPaged]="isPaged">
                        </kt-tabla-riesgo-acumulado>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <mat-card-title-group>
                            <mat-card-title> No existe riesgo acumulado para este cliente </mat-card-title>
                        </mat-card-title-group>
                    </ng-template>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row m-1">
    <div class="offset-6 col-1">
        <button mat-raised-button mat-dialog-close color="warn"> SALIR </button>
    </div>
</div>
