<h1 mat-dialog-title style="font-size: 24px; color: red;">Bloqueos:</h1>
<mat-card class="orange-icon" style="font-size: 12px; vertical-align: middle; font-weight: bold;">
  <span class="material-icons warning-icons" style="color:orange;">report_problem</span>
  {{ mensaje }}
</mat-card>

<mat-dialog-actions>
  <div class="col-md-3">
    <a href="javascript:void(0);" (click)="salir()" matTooltip="Cancelar"
      style="font-size: 12px; vertical-align: middle;" class="orange-icon">
      <mat-icon style="font-size: 32px;" matTooltipPosition="above" class="orange-icon">cancel</mat-icon>
      <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Cerrar</span>
    </a>
  </div>
</mat-dialog-actions>