<div class="spinner-container" *ngIf="loading | async">
  <mat-spinner class="spiner"></mat-spinner>
</div>

<re-portlet>
  <re-portlet-header [title]="'Bandeja Principal Asesores'" [class]="'kt-portlet__head--lg'">
    <ng-container class="d-flex justify-content-around" ktPortletTools>
      <a href="javascript:void(0);" matTooltip="Guardar" style="font-size: 12px; vertical-align: middle;">
        <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">save</mat-icon>
        <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Guardar</span>
      </a>
    </ng-container>


  </re-portlet-header>
  <re-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->

    <div class="kt-form">
      <mat-vertical-stepper>

        <mat-step>
          <ng-template matStepLabel>Bandeja Principal Asesores</ng-template>
          <form>
            <div class="row -12">
              <div class="col-6">

                <input placeholder="Código Operacion" />

              </div>

              <div class="col-6">

                <mat-select matInput placeholder="Tipo Devolución">
                  <mat-option>--</mat-option>
                </mat-select>

              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">

                <input placeholder="Cédula" a />


              </div>
              <div class="col-md-6">
                <button mat-button matTooltip="Buscar">
                  <mat-icon style="font-size: 24px;" class="orange-icon" matTooltipPosition="above">search</mat-icon>
                  <span class="orange-icon">Buscar</span>
                </button>
              </div>
            </div>
          </form>
          <div class="mat-table__wrapper">
            <mat-table class="mat-elevation-z8">
              <ng-container matColumnDef="referencia">
                <mat-header-cell *matHeaderCellDef>Referencia</mat-header-cell>

              </ng-container>
              <ng-container matColumnDef="tipoOperacion">
                <mat-header-cell *matHeaderCellDef>tipoOperacion</mat-header-cell>

              </ng-container>
              <ng-container matColumnDef="fechaCreacion">
                <mat-header-cell *matHeaderCellDef>Fecha Creación</mat-header-cell>

              </ng-container>
              <ng-container matColumnDef="proceso">
                <mat-header-cell *matHeaderCellDef>Proceso</mat-header-cell>

              </ng-container>
              <ng-container matColumnDef="situacion">
                <mat-header-cell *matHeaderCellDef>Situacion</mat-header-cell>
                <mat-cell *matCellDef="let element">
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cliente">
                <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>

              </ng-container>
              <ng-container matColumnDef="cedula">
                <mat-header-cell *matHeaderCellDef>Cédula</mat-header-cell>

              </ng-container>
              <ng-container matColumnDef="aprobador">
                <mat-header-cell *matHeaderCellDef>Aprobador</mat-header-cell>

              </ng-container>
              <ng-container matColumnDef="respuestaAprobador">
                <mat-header-cell *matHeaderCellDef> Respuesta del Aprobador</mat-header-cell>


              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumnsDevoluciones"></mat-header-row>

            </mat-table>
          </div>

        </mat-step>


      </mat-vertical-stepper>
    </div>
    <!-- END FILTERS -->
  </re-portlet-body>
  <re-portlet-footer></re-portlet-footer>
</re-portlet>
