<div class="spinner-container" *ngIf="loading | async">
    <mat-spinner class="spiner"></mat-spinner>
</div>

<re-portlet>
    <re-portlet-header [title]="'Tracking de Pagos'" [class]="'kt-portlet__head--lg'">
        
		<ng-container ktPortletTools>
            <a href="javascript:void(0);" (click)="buscar()" matTooltip="Buscar" style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size:24px" class="orange-icon" matTooltipPosition="above" >search</mat-icon>
                <span style="position: relative;top: -10px;margin-left: 5px;" class="orange-icon">Buscar</span>
            </a>
        </ng-container>
    </re-portlet-header>
    <re-portlet-body>
    
<!--START MAT TABLE-->

<div class="mat-table__wrapper">
    <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource"
    matSort #sort1="matSort" matSortActive="codigoRegistro" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="codigoRegistro">
            <mat-header-cell *matHeaderCellDef>Codigo Registro</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.codigoRegistro}}</mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
        </ng-container>
        <ng-container matColumnDef="actividad">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.actividad}}</mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
        </ng-container>
        <ng-container matColumnDef="fechaInicio">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inicio</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fechaInicio | rDate}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
        </ng-container>
        <ng-container matColumnDef="fechaAsignacion">
            <mat-header-cell *matHeaderCellDef>Fecha Asignacion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fechaAsignacion | rDate}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
        </ng-container>
        
        <ng-container matColumnDef="fechaInicioAtencion">
            <mat-header-cell *matHeaderCellDef>Fecha Inicio Atencion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fechaInicioAtencion | rDate}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
        </ng-container>
        <ng-container matColumnDef="fechaFin">
            <mat-header-cell *matHeaderCellDef>Fecha Fin</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fechaFin | rDate}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
        </ng-container>
        <ng-container matColumnDef="situacion">
            <mat-header-cell *matHeaderCellDef>Situacion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.situacion}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
        </ng-container>
        <ng-container matColumnDef="usuario">
                <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.usuario}} </mat-cell>
                <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
            </ng-container>
        <ng-container matColumnDef="tiempoTotal">
            <mat-header-cell *matHeaderCellDef>Total Tiempo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.tiempoTotal}} </mat-cell>
            <mat-footer-cell *matFooterCellDef> {{total}} </mat-footer-cell>    
        </ng-container>
        <ng-container matColumnDef="observacion">
            <mat-header-cell *matHeaderCellDef>Observacion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.observacion}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>    
        </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" 
    [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="paged()">
    </mat-paginator>
    <!--end MAT TABLE--> 
</div>

</re-portlet-body>
</re-portlet>

