<h1 mat-dialog-title>Cr&#233;ditos vigentes</h1>
<mat-dialog-content>
<mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceCre" >

  <ng-container matColumnDef="NroPrestamo">
      <mat-header-cell *matHeaderCellDef> Nro.Prestamo </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nroPrestamo}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="CuentaIndividual">
      <mat-header-cell *matHeaderCellDef> Cuenta individual </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cuentaIndividual}}
      </mat-cell>
  </ng-container>
  <ng-container matColumnDef="TipoCredito">
      <mat-header-cell *matHeaderCellDef> Tipo cr&#233;dito </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.tipoCredito}}
      </mat-cell>
  </ng-container>
  <ng-container matColumnDef="CapitaInicial">
    <mat-header-cell *matHeaderCellDef> Capita inicial </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.capitalInicial}}
    </mat-cell>
</ng-container>

<ng-container matColumnDef="SaldoCapital">
    <mat-header-cell *matHeaderCellDef> Saldo capital </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.saldoCapital}}
    </mat-cell>
</ng-container>
<ng-container matColumnDef="Plazo">
    <mat-header-cell *matHeaderCellDef> Plazo </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.plazo}}
    </mat-cell>
</ng-container>

<ng-container matColumnDef="FechaAprobacion">
  <mat-header-cell *matHeaderCellDef> Fecha aprobacion </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.fechaAprobacion}}
  </mat-cell>
</ng-container>

<ng-container matColumnDef="FechaFinalCredito">
  <mat-header-cell *matHeaderCellDef> Fecha finalCredito </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.fechaFinalCredito}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="CoberturaAnterior">
  <mat-header-cell *matHeaderCellDef> Cobertura anterior </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.coberturaAnterior}}
  </mat-cell>
</ng-container>

<ng-container matColumnDef="CoberturaActual">
  <mat-header-cell *matHeaderCellDef> Cobertura actual </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.coberturaActual}}
  </mat-cell>
</ng-container>

<ng-container matColumnDef="EstatusCredito">
  <mat-header-cell *matHeaderCellDef> Estatus cr&#233;dito </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.estatusCredito}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="MotivoBloqueo">
  <mat-header-cell *matHeaderCellDef> Motivo Bloqueo </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.motivoBloqueo}}
  </mat-cell>
</ng-container>

<ng-container matColumnDef="DiasMora">
  <mat-header-cell *matHeaderCellDef> Dias mora </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.diasMora}}
  </mat-cell>
</ng-container>

<ng-container matColumnDef="EstadoMediacion">
  <mat-header-cell *matHeaderCellDef> Estado mediaci&#243;n </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.estadoMediacion}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="Retanqueo">
  <mat-header-cell *matHeaderCellDef> Retanqueo </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.retanqueo}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="Cuota">
  <mat-header-cell *matHeaderCellDef> Cuota </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.cuota}}
  </mat-cell>
</ng-container>

<ng-container matColumnDef="CapitalCuotaAtrasada">
  <mat-header-cell *matHeaderCellDef> Capital cuota atrasada </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.capitalCuotaAtrasada}}
  </mat-cell>
</ng-container>

<ng-container matColumnDef="InteresCuotaAtrasada">
  <mat-header-cell *matHeaderCellDef> Interes cuota atrasada </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.interesesCuotaAtrasada}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="Mora">
  <mat-header-cell *matHeaderCellDef> Mora </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.mora}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="GestionCobranza">
  <mat-header-cell *matHeaderCellDef> Gestion cobranza </mat-header-cell>
  <mat-cell *matCellDef="let element">
    {{element.gestionCobranza}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="Custodia">
  <mat-header-cell *matHeaderCellDef> Custodia </mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.custodia}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="TotalDeuda">
  <mat-header-cell *matHeaderCellDef> Total deuda </mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.totalDeuda}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="NroCuotasImpagadas">
  <mat-header-cell *matHeaderCellDef> Nro. Cuotas impagadas </mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.nroCuotaImpagas}}
  </mat-cell>
</ng-container>
<ng-container matColumnDef="UltDivPagado">
  <mat-header-cell *matHeaderCellDef> Ult div pagado </mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.ultDivPagado}}
  </mat-cell>
</ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
[length]="totalResults" [pageIndex]="currentPage" (page)="paged()">
</mat-paginator>

</mat-dialog-content>

<mat-dialog-actions>
  <a href="javascript:void(0);" (click)="salir()" matTooltip="Cancelar"
    style="font-size: 12px; vertical-align: middle;">
    <mat-icon style="font-size: 32px" matTooltipPosition="above">cancel</mat-icon>
    <span style="position: relative;top: -10px;margin-left: 5px;">Cancelar</span>
  </a>
</mat-dialog-actions>