<div class="mat-table__wrapper">
    <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceCredito">
        <ng-container matColumnDef="plazo">
        <mat-header-cell *matHeaderCellDef  class="text-align">Plazo</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.plazo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="montoPreAprobado">
        <mat-header-cell *matHeaderCellDef  class="text-align">Monto Preaprobado $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.montoFinanciado}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="aRecibir">
        <mat-header-cell *matHeaderCellDef  class="text-align">A Recibir Cliente $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.valorARecibir}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="totalCostosOperacion">
        <mat-header-cell *matHeaderCellDef  class="text-align">Total Costos Nueva Operación $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.totalGastosNuevaOperacion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="costoCustodia">
        <mat-header-cell *matHeaderCellDef  class="text-align">Costo Custodia $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.costoCustodia}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="costoTransporte">
        <mat-header-cell *matHeaderCellDef  class="text-align">Costo transporte $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.costoTransporte}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="costoValoracion">
        <mat-header-cell *matHeaderCellDef  class="text-align">Costo valoración $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.costoValoracion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="costoTasacion">
        <mat-header-cell *matHeaderCellDef  class="text-align">Costo tasación $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.costoTasacion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="costoSeguro">
        <mat-header-cell *matHeaderCellDef  class="text-align"> Costo Seguro $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.costoSeguro}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="costoResguardo" >
        <mat-header-cell *matHeaderCellDef  class="text-align">Costo Resguardo $</mat-header-cell>  
        <mat-cell *matCellDef="let element" class="text-align"> {{element.costoFideicomiso}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="solca">
        <mat-header-cell *matHeaderCellDef  class="text-align">Solca $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.impuestoSolca}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="valorCuota">
        <mat-header-cell *matHeaderCellDef  class="text-align">Cuota Estimada $</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-align"> {{element.cuota}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsCreditoNegociacion"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsCreditoNegociacion"></mat-row>
    </mat-table>
</div>