<re-portlet>
    <re-portlet-header [title]="'APROBACION DE SOLICITUD DE DEVOLUCION DE GARANTIAS'" [class]="'kt-portlet__head--lg'">


    </re-portlet-header>
    <re-portlet-body>
        <mat-vertical-stepper #stepper>
            <mat-step label="Informaci&#243;n Operaci&#243;n">
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">C&#243;digo operaci&#243;n:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="numeroOperacion" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Proceso:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="proceso" readonly>
                        </mat-form-field>
                    </div>
                </div>

            </mat-step>
            <mat-step label="Datos Personales del Cliente">
                <div class="row">

                    <div class="col-md-2">
                        <label style="font-weight:bold">Cliente:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="nombresCompletos" readonly>
                        </mat-form-field>
                    </div>

                    <div class="col-md-2">
                        <label style="font-weight:bold">Cédula:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="cedulaCliente" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        <label style="font-weight:bold">Nivel de Educación:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="nivelEducacion" readonly>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-1">
                        <label style="font-weight:bold">Género:</label>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="genero" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <label style="font-weight:bold">Estado Civil:</label>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="estadoCivil" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <label style="font-weight:bold">Separación de Bienes:</label>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="separacionBienes" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label style="font-weight:bold">Fecha de Nacimiento:</label>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="fechaNacimiento" [value]="fechaNacimiento.value | rDate"
                                readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <label style="font-weight:bold">Nacionalidad:</label>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="nacionalidad" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <label style="font-weight:bold">Lugar de Nacimiento:</label>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="lugarNacimiento" readonly>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label style="font-weight:bold">Edad:</label>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="edad" readonly>
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Detalle de Crédito">

            </mat-step>
            <mat-step label="Detalle de Garantía">
                <kt-tabla-tasacion *ngIf="wrapperSoft && wrapperSoft.garantias;" [data]='wrapperSoft.garantias' [tipo]="'DV'"></kt-tabla-tasacion>
            </mat-step>
            <mat-step label="Gestion Devolución">
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Tipo de Cliente:</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput [formControl]="tipoCliente" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Observaciones:</label>
                    </div>
                    <div class="col-md-8">
                        <mat-form-field class="example-full-width">
                            <textarea matInput [formControl]="observaciones" readonly></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Agencia de entrega :</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>

                            <input matInput [formControl]="agenciaEntrega" readonly>

                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-weight:bold">Valor apróximado de custodia :</label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="valorCustodia" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="">
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-weight:bold">Herederos :</label>
                        </div>

                    </div>
                    <div class="mat-table__wrapper">
                        <mat-table #table class="mat-elevation-z8" [dataSource]="dataSourceHeredero" matSort
                            #sort1="matSort" matSortActive="primerNombre" matSortDirection="asc" matSortDisableClearM>

                            <ng-container matColumnDef="cedula">
                                <mat-header-cell *matHeaderCellDef>Cédula</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.cedula}}</mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>

                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumnsHeredero"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsHeredero;"></mat-row>

                        </mat-table>

                    </div>
                </div>
            </mat-step>
            <mat-step label="Documento Habilitantes">
                <div>
                    <a href="javascript:void(0);" (click)="respuesta(true)" matTooltip="Aprobar Solicitud" style="font-size: 12px; vertical-align: middle;">
                        <mat-icon style="font-size: 32px" matTooltipPosition="above">move_to_inbox</mat-icon>
                        <span style="position: relative;top: -10px;margin-left: 5px;">Aprobar Solicitud</span>
                    </a>
                    <a href="javascript:void(0);" (click)="respuesta(false)" matTooltip="Rechazar Solicitud"
                        style="font-size: 12px; vertical-align: middle;">
                        <mat-icon style="font-size: 32px" matTooltipPosition="above">move_to_inbox</mat-icon>
                        <span style="position: relative;top: -10px;margin-left: 5px;">Rechazar Solicitud</span>
                    </a>
                </div>
            </mat-step>
        </mat-vertical-stepper>

        

    </re-portlet-body>

</re-portlet>