
<mat-card>
    <div class="row justify-content-center">
        <div class="col-8">
            <mat-card-title></mat-card-title>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <mat-card-content> </mat-card-content>        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1">
            <button mat-raised-button mat-dialog-close color="warn"> SALIR </button>
        </div>
    </div>
    

</mat-card>