<!-- <div *ngIf="flat | async" class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper">
    <mat-card>
        <div class="row justify-content-center">
            <div class="col-8">
                <mat-card-title> Prueba ? </mat-card-title>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <mat-card-content> Cuerpo ? </mat-card-content>        
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1">
                <button mat-raised-button mat-dialog-close color="warn"> salir </button>
            </div>
        </div>
    </mat-card>
  
  </div> -->
<a href="#miModal">Abrir Modal</a>
<div id="miModal" class="modal overlay">
    <div class="modal-contenido">
        <a href="#">X</a>
        <h2>Mi primer Modal</h2>
        <p>Este es mi primera ventana modal sin utilizar JavaScript.</p>
    </div>
</div>
<!-- style="position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
    z-index: 10000;" -->