

<mat-progress-bar mode="indeterminate" *ngIf="loading | async"></mat-progress-bar>

<re-portlet>
    <re-portlet-header [title]="'SELECCION DE FECHA DE ARRIBO '" [class]="'kt-portlet__head--lg'">
        
		<ng-container ktPortletTools>
            <a href="javascript:void(0);" (click)="buscar()" matTooltip="Buscar" style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size:24px" class="orange-icon" matTooltipPosition="above" >search</mat-icon>
                <span style="position: relative;top: -10px;margin-left: 5px;" class="orange-icon">Buscar </span>
            </a>
        

        </ng-container>
    </re-portlet-header>
    <re-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="kt-form">
            <!-- start::FILTERS -->
            <div class="kt-form__filtration">
                <div class="row align-items-center">
                   
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="codigoOperacion" placeholder="Codigo Operación " autocomplete="off">
                        </mat-form-field>
                      
                    </div>
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="cedulaCliente" placeholder="Identificación " autocomplete="off">
                        </mat-form-field>
                      
                    </div>
            
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select placeholder="Agencia" [formControl]="agencia">
                               
                                <mat-option *ngFor="let agen of catalogoAgencia " [value]="agen">
                                    {{agen.nombre}}
                                </mat-option>
                            </mat-select>   
                        </mat-form-field>
                    </div>
                </div>
                <div class="row align-items-center" >
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pckFechaCreacionDesde" 
                            [formControl]="fechaAprobacionDesde" placeholder="Fecha de aprobación desde">
                            <mat-datepicker-toggle matSuffix [for]="pckFechaCreacionDesde"></mat-datepicker-toggle>
                            <mat-datepicker #pckFechaCreacionDesde></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pckFechaCreacionFin" 
                            [formControl]="fechaAprobacionFin" placeholder="Fecha de aprobación hasta">
                            <mat-datepicker-toggle matSuffix [for]="pckFechaCreacionFin"></mat-datepicker-toggle>
                            <mat-datepicker #pckFechaCreacionFin></mat-datepicker>
                        </mat-form-field>
                       
                    </div>
              
                </div>
                <a href="javascript:void(0);" (click)="descargarExcel()" matTooltip="Buscar" style="font-size: 12px; vertical-align: middle;">
                    <mat-icon style="font-size:24px" class="orange-icon" matTooltipPosition="above" >cloud_download</mat-icon>
                    <span style="position: relative;top: -10px;margin-left: 5px;" class="cloud_download">Descargar excel </span>
                </a>
            </div>
        </div> 
        <!-- END FILTERS -->
        
        <!--START MAT TABLE-->
        <div class="mat-table__wrapper">
            <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource"
            matSort #sort1="matSort" matSortActive="primerNombre" matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>
                        Accion
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="text-align: center !important;">
                        <mat-checkbox [checked]="isCheck(row)" (click)="$event.stopPropagation() 
                        && addRemove(row)" (change)="$event ? selection.toggle(row) : null">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaSolicitud">
                <mat-header-cell *matHeaderCellDef>Fecha de la Solicitud</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fechaSolicitud | date:'yyyy-MM-dd'}}</mat-cell>
            </ng-container>
                <ng-container matColumnDef="agenciaSolicitud">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia de solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.nombreAgenciaSolicitud}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="agenciaEntrega">
                    <mat-header-cell *matHeaderCellDef>Agencia entrega</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.agenciaEntrega}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="codigoOperacionMadre">
                    <mat-header-cell *matHeaderCellDef>Código de operación Madre</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.codigoOperacionMadre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="codigoOperacion">
                    <mat-header-cell *matHeaderCellDef>Código Operación</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.codigoOperacion}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="nombreCliente">
                <mat-header-cell *matHeaderCellDef>Nombre Cliente</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombreCliente}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="identificacion">
                <mat-header-cell *matHeaderCellDef>Identificación</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cedulaCliente}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fundaMadre">
                <mat-header-cell *matHeaderCellDef>Funda Madre</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fundaMadre}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fundaActual">
                    <mat-header-cell *matHeaderCellDef>Funda Actual</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.fundaActual}} </mat-cell>
                </ng-container>
            <ng-container matColumnDef="ciudadTevcol">
                    <mat-header-cell *matHeaderCellDef>Ciudad Tevcol</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.ciudadTevcol}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaArriboAgencia">
                <mat-header-cell *matHeaderCellDef>Fecha Arribo Agencia</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fechaArriboAgencia  | date:'yyyy-MM-dd'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombreAsesor">
                <mat-header-cell *matHeaderCellDef>Nombre Asesor</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.asesor}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaAprobacion">
                <mat-header-cell *matHeaderCellDef>Fecha de Aprobación</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fechaAprobacion  | date:'yyyy-MM-dd'}} </mat-cell>
            </ng-container>
      
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" 
            [showFirstLastButtons]="true" [length]="totalResults" [pageIndex]="currentPage" (page)="paged()">
            </mat-paginator>
            
        </div>

        <a href="javascript:void(0);" (click)="seleccionarFecha()" matTooltip="Seleccionar Fecha de Arribo"
        style="font-size: 12px; vertical-align: middle;">
        <mat-icon style="font-size: 32px" matTooltipPosition="above">move_to_inbox</mat-icon>
        <span style="position: relative;top: -10px;margin-left: 5px;">Seleccionar Fecha</span>
        </a>
        <!--end MAT TABLE-->

    </re-portlet-body>    
    <re-portlet-footer></re-portlet-footer>
</re-portlet>
