<div ktHeader #ktHeader class="kt-subheader">


    <div *ngIf="mostratContenido.asObservable() | async" class="kt-topmenu kt-header__top">
        <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}" style="background-color: lavender;">
            <style>
                p {
                    font-weight: 600;
                    margin-bottom: 0px;
                }
                
                label {
                    font-size: xx-small;
                    margin-bottom: 0px;
                }
            </style>
            <div class="col-md-4">
                <label> Nombre del cliente: </label> &nbsp;
                <p> {{contenido.nombre}}</p>
            </div>
            <div class="col-md-4">
                <label> Número de Cédula:</label> &nbsp;
                <p>{{contenido.cedula}}</p>
            </div>
            <div class="col-md-4">
                <label> Número de crédito en proceso:</label> &nbsp;
                <p>{{contenido.numeroCredito != 'NULL' ? contenido.numeroCredito : " "}}</p>
            </div>


            <div class="col-md-4">
                <label> Código del BPM:</label> &nbsp;
                <p> {{contenido.codigoBPM}}</p>
            </div>
            <div class="col-md-4">
                <label> Monto:</label> &nbsp;
                <p> {{contenido.monto}}</p>
            </div>
            <div class="col-md-4">
                <label> Número de crédito anterior:</label> &nbsp;
                <p>{{contenido.numeroCreditoAnterior != 'NULL' ? contenido.numeroCreditoAnterior : " "}}</p>
            </div>


            <div class="col-md-4">
                <label> Plazo:</label> &nbsp;
                <p>{{ contenido.plazo ? contenido.plazo == '60.00' ? '60 Dias (Al Vcto.)' : contenido.plazo == '90.00' ? '90 Dias (Al Vcto.)' : contenido.plazo == '120.00' ? '120 Dias (Al Vcto.)' : contenido.plazo == '6.00' ? '6 Cuotas' : contenido.plazo
                    == '9.00' ? '9 Cuotas' : contenido.plazo == '12.00' ? '12 Cuotas' : contenido.plazo == '18.00' ? '18 Cuotas' : contenido.plazo : 'Error' }}</p>
            </div>
            <div class="col-md-4">
                <label> Número de cuenta:</label>&nbsp;
                <p> {{contenido.numeroCuenta}}</p>
            </div>
            <div class="col-md-4">
                <label> Nombre del asesor:</label> &nbsp;
                <p> {{contenido.nombreAsesor}}</p>
            </div>

        </div>
    </div>
</div>