<div ktHeader #ktHeader class="kt-subheader">
    <div *ngIf="mostratContenido.asObservable() | async" class="kt-topmenu kt-header__top">
        <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
            <div class="row">
                <div class="col-md-4">
                    <label> Nombre del cliente:</label> {{contenido.nombre}}
                </div>
                <div class="col-md-4">
                    <label> Número de Cédula:</label> {{contenido.cedula}}
                </div>
                <div class="col-md-4">
                    <label> Número de crédito:</label> {{contenido.numeroCredito}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label> Código del BPM:</label> {{contenido.codigoBPM}}
                </div>
                <div class="col-md-4">
                    <label> Monto:</label> {{contenido.monto}}
                </div>
                <div class="col-md-4">
                    <label> Plazo:</label> {{contenido.plazo}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label> Tipo crédito:</label> {{contenido.tipoCredito}}
                </div>
                <div class="col-md-4">
                    <label> Número de cuenta:</label> {{contenido.numeroCuenta}}
                </div>
                <div class="col-md-4">
                    <label> Nombre del asesor:</label> {{contenido.nombreAsesor}}
                </div>
            </div>
        </div>
    </div>
</div>