<!-- <div class="row">
  <div class="col-md-12 m-5">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1">Navbar</span>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 m-5">
        <re-habilitante [proceso]="proceso" [useType]="'FORM'" [referencia]="idRef" [rol]="rol">
        </re-habilitante>
      </div>
    </div>
  </div>
</div> -->
<div class="card" style="width: inherit;">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <re-habilitante [proceso]="proceso" [useType]="'FORM'" [referencia]="idRef" [rol]="rol">
    </re-habilitante>
  </div>
</div>