  
<re-portlet>
    <re-portlet-header [title]="'Detalle de credito Vigente'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a (click)="regresar()" matTooltip="Regresar al listado"
                style="font-size: 12px; vertical-align: middle;">
                <mat-icon style="font-size: 24px;" matTooltipPosition="above" matTooltip="" class="orange-icon">
                    arrow_back</mat-icon>
                <span style="position: relative; top: -10px; margin-left: 5px;" class="orange-icon">Regresar</span>
            </a>
        </ng-container>
    </re-portlet-header>

    <re-portlet-body>
        <mat-vertical-stepper>
            <mat-step label="Información Del Cliente">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="nombre" placeholder="Nombre Del Cliente" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="cedula" placeholder="Identificacion" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="email" placeholder="Correo" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="telefonoMovil" placeholder="Telefono Movil" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="telefonoCasa" placeholder="Telefono Domicilio" />
                        </mat-form-field>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Datos Credito">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="numeroOperacion" placeholder="Numero Operacion" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaAprobacion" placeholder="Fecha Aprobacion" [value] ="fechaAprobacion.value  | rDate" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="fechaVencimiento" placeholder="Fecha Vencimiento"  [value] ="fechaVencimiento.value | rDate" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="montoFinanciado" placeholder="Monto Financiado" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="asesor" placeholder="Asesor" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="estadoOperacion" placeholder="Estado Operacion" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="tipoCredito" placeholder="Tipo Credito" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="tablaAmortizacion" placeholder="Tabla Amortizacion" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="plazo" placeholder="Plazo" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="impago" placeholder="Es Impago" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="retanqueo" placeholder="Es Retanqueo" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="coberturaActual" placeholder="Cobertura Actual" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="coberturaInicial" placeholder="Cobertura Inicial" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="diasMora" placeholder="Dias Mora" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="estadoUbicacion"
                                placeholder="Estado Ubicacion De Garantia" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="estadoProceso" placeholder="Estado Proceso De Garantia" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="esMigrado" placeholder="Es Migrado" />
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [formControl]="numeroCuotas" placeholder="Numero Cuotas" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-8 offset-2">
                        <textarea class="form-control border" [formControl]="descripcionBloqueo" rows="5"
                            placeholder="Descripcion de bloqueo: " matInput></textarea>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Tabla de amortizacion">
                <kt-tabla-custom [data]="dataSourceRubro.data" [nombreRubro]="'rubro'" [numeroCuota]="'numeroCuota'" [numeroOperacion]="numeroOperacion.value"></kt-tabla-custom>
              
                
            </mat-step>
            <mat-step label="Garantias">
                <kt-tabla-tasacion *ngIf="this.wrapper && this.wrapper.garantias;" [data]='this.wrapper.garantias' [tipo]="'G'"></kt-tabla-tasacion>
            </mat-step>
           <!--  <mat-step label="Habilitantes">
                <div class="row">
                    <button varHabilitante mat-raised-button (click)="varHabilitante.proceso='NUEVO,FUNDA';varHabilitante.referencia =numeroOperacion.value " style="color: aliceblue;" [ngStyle]="varHabilitante.proceso=='CLIENTE'?{'background-color':'#3f51b5'}:{'background-color':'#ff4081'}" >Habilitante Operacion</button>
                    <button varHabilitante mat-raised-button (click)="varHabilitante.proceso='CLIENTE';varHabilitante.referencia =cedula.value "   style="color: aliceblue;" [ngStyle]="varHabilitante.proceso=='CLIENTE'?{'background-color':'#ff4081'}:{'background-color':'#3f51b5'}" >Habilitante Cliente</button>
                  </div>
                  <re-habilitante [proceso]="varHabilitante.proceso" [useType]="'FORM'"
                      [referencia]="varHabilitante.referencia" >
                          </re-habilitante> 
            </mat-step> -->
        </mat-vertical-stepper>
    </re-portlet-body>
    <re-portlet-footer></re-portlet-footer>
</re-portlet>